.intro-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding-top: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    margin-bottom: 5px;
    padding-top: 0;
  }
}

.service-nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.18);
  border-radius: 15px;
  margin-left: 8px;
  overflow: hidden;
  width: 100%;
  margin-left: 0;

  @media screen and (min-width: 768px) {
    margin-left: 8px;
    height: 54px;
  }

  li {
    position: relative;
    padding: 18px 20px 18px 50px;
    cursor: pointer;
    transition: all 0.25s ease;

    &:before {
      content: '';
      width: 17px;
      height: 17px;
      display: block;
      position: absolute;
      left: 25px;
      top: 50%;
      transform: translateY(-50%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &.active,
    &:hover {
      background-color: #42dfbf;
      transition: all 0.25s ease;
      color: #fff;
    }

    
  }
}
