$black: #000;
$white: #fff;
$dark: #121212;
$gray: #BFBD9C;
$gray-2: #E0E0E0;
$red: #D50000;
$mask2: #4F4F4F;
$bord-bottom: #E3EBEF;
$red: #D50000;
$placeholder: #BDBDBD;
$mask: #252525;
$news-text: #333333;
$player-line: #FAFAFA;
$progressbar: #e9e9e9;