extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main

		section.catalog-section.first-bg
			.container
				h2.section-title.section-title_white Каталог  товаров
				ul.filter-wrap
					li все категории
					span.filter-btn • • •
				.catalog-wrap
					a(href="#").tovar(style="background-image: url(images/tovar.jpg)")
						.tovar__head
							span.tovar__category Категория
							.tovar__shop
								span.tovar__basket
								span.tovar__favorite
						span.tovar__name Название товара
					a(href="#").tovar(style="background-image: url(images/tovar.jpg)")
						.tovar__head
							span.tovar__category Категория
							.tovar__shop
								span.tovar__basket
								span.tovar__favorite
						span.tovar__name Название товара
					a(href="#").tovar(style="background-image: url(images/tovar.jpg)")
						.tovar__head
							span.tovar__category Категория
							.tovar__shop
								span.tovar__basket
								span.tovar__favorite
						span.tovar__name Название товара
					a(href="#").tovar(style="background-image: url(images/tovar.jpg)")
						.tovar__head
							span.tovar__category Категория
							.tovar__shop
								span.tovar__basket
								span.tovar__favorite
						span.tovar__name Название товара
					a(href="#").tovar(style="background-image: url(images/tovar.jpg)")
						.tovar__head
							span.tovar__category Категория
							.tovar__shop
								span.tovar__basket
								span.tovar__favorite
						span.tovar__name Название товара
					a(href="#").tovar(style="background-image: url(images/tovar.jpg)")
						.tovar__head
							span.tovar__category Категория
							.tovar__shop
								span.tovar__basket
								span.tovar__favorite
						span.tovar__name Название товара
					a(href="#").tovar(style="background-image: url(images/tovar.jpg)")
						.tovar__head
							span.tovar__category Категория
							.tovar__shop
								span.tovar__basket
								span.tovar__favorite
						span.tovar__name Название товара
					a(href="#").tovar(style="background-image: url(images/tovar.jpg)")
						.tovar__head
							span.tovar__category Категория
							.tovar__shop
								span.tovar__basket
								span.tovar__favorite
						span.tovar__name Название товара
					a(href="#").tovar(style="background-image: url(images/tovar.jpg)")
						.tovar__head
							span.tovar__category Категория
							.tovar__shop
								span.tovar__basket
								span.tovar__favorite
						span.tovar__name Название товара

		section.wow.fadeInUp.articles-section.articles-section_bg
			.container
				.section-head
					h2.section-title articles
					a(href="#").link-btn all articles

				.articles-wrap
					a(href="#").article.typography
						.article__img
							img(src="images/art1.jpg", alt="")
						.article__wrap
							.article__date
								span 18:40
								span 20.08.2019
							h3 Название статьи номер тридцать три
							p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							span.article__link see more
					a(href="#").article.typography
						.article__img
							img(src="images/art1.jpg", alt="")
						.article__wrap
							.article__date
								span 18:40
								span 20.08.2019
							h3 Название статьи номер тридцать три
							p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							span.article__link see more
					a(href="#").article.typography
						.article__img
							img(src="images/art1.jpg", alt="")
						.article__wrap
							.article__date
								span 18:40
								span 20.08.2019
							h3 Название статьи номер тридцать три
							p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							span.article__link see more
		
		section.wow.fadeInUp.footer-section
			.container
				.link-wrap
					a(href="tel:4905116767560").tel +49 (0)511-676756-0
					a(href="tel:49051167675656").fax +49 (0)511-6767565-6
				p.address Sorst Streckmetall GmbH
					|
					br
					| Wohlenbergstr. 11
					br
					| 30179 Hannover
				a(href="mailto:info@sorst.de").mail info@sorst.de