extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header_white

block content
	main.main

		section.wow.fadeInUp.product-section.product-section_first
			.container
				.slider-wrap
					.product-slider.js-product-slider
						.slide
							a(href="#").product
								.product__img
									img(src="images/prod2.jpg", alt="")
								.product__info.typography
									span 03.10.18
									h3 Project name number thirty
									p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
						.slide
							a(href="#").product
								.product__img
									img(src="images/prod2.jpg", alt="")
								.product__info.typography
									span 03.10.18
									h3 Project name number thirty
									p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						.slide
							a(href="#").product
								.product__img
									img(src="images/prod2.jpg", alt="")
								.product__info.typography
									span 03.10.18
									h3 Project name number thirty
									p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					
					.my-navigation
						button.btn-slide.prev
						.dots
						button.btn-slide.next
						a(href="#").product-link all projects
				
				.btn-wrap
					a(href="#").main-btn watch more
		
		section.wow.fadeInUp.categories-section.categories-section_bg
			.container
				.section-head
					h2.section-title Popular products
					a(href="#").link-btn All products
				.categories-wrap
					a(href="#").tovar
						.tovar__wrap
							img(src="images/tovar.jpg", alt="")
							.tovar__head
								span.tovar__category Categoru 1
								
					a(href="#").tovar
						.tovar__wrap
							img(src="images/tovar.jpg", alt="")
							.tovar__head
								span.tovar__category Categoru 2

					a(href="#").tovar
						.tovar__wrap
							img(src="images/tovar.jpg", alt="")
							.tovar__head
								span.tovar__category Categoru 3

		section.wow.fadeInUp.footer-section
			.container
				.link-wrap
					a(href="tel:4905116767560").tel +49 (0)511-676756-0
					a(href="tel:49051167675656").fax +49 (0)511-6767565-6
				p.address Sorst Streckmetall GmbH
					|
					br
					| Wohlenbergstr. 11
					br
					| 30179 Hannover
				a(href="mailto:info@sorst.de").mail info@sorst.de