extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.catalog-section.catalog-section_padding.first-bg
			.container
				h2.section-title.section-title_white Каталог  товаров
				.shop-wrap
					.shop-filter
						span.filter-btn.js-filter-btn фильтры
						.filter-form.js-filter-form
					.catalog-wrap
						a(href="#").tovar
							.tovar__wrap
								img(src="images/tovar.jpg", alt="")
								.tovar__head
									span.tovar__category Category
									.tovar__shop
										span.tovar__basket.active
										span.tovar__favorite.active
								span.tovar__name Product name
						a(href="#").tovar
							.tovar__wrap
								img(src="images/tovar.jpg", alt="")
								.tovar__head
									span.tovar__category Category
									.tovar__shop
										span.tovar__basket
										span.tovar__favorite
								span.tovar__name Product name
						a(href="#").tovar
							.tovar__wrap
								img(src="images/tovar.jpg", alt="")
								.tovar__head
									span.tovar__category Category
									.tovar__shop
										span.tovar__basket
										span.tovar__favorite
								span.tovar__name Product name
						a(href="#").tovar
							.tovar__wrap
								img(src="images/tovar.jpg", alt="")
								.tovar__head
									span.tovar__category Category
									.tovar__shop
										span.tovar__basket
										span.tovar__favorite
								span.tovar__name Product name
						a(href="#").tovar
							.tovar__wrap
								img(src="images/tovar.jpg", alt="")
								.tovar__head
									span.tovar__category Category
									.tovar__shop
										span.tovar__basket
										span.tovar__favorite
								span.tovar__name Product name
						a(href="#").tovar
							.tovar__wrap
								img(src="images/tovar.jpg", alt="")
								.tovar__head
									span.tovar__category Category
									.tovar__shop
										span.tovar__basket
										span.tovar__favorite
								span.tovar__name Product name
						a(href="#").tovar
							.tovar__wrap
								img(src="images/tovar.jpg", alt="")
								.tovar__head
									span.tovar__category Category
									.tovar__shop
										span.tovar__basket
										span.tovar__favorite
								span.tovar__name Product name
						a(href="#").tovar
							.tovar__wrap
								img(src="images/tovar.jpg", alt="")
								.tovar__head
									span.tovar__category Category
									.tovar__shop
										span.tovar__basket
										span.tovar__favorite
								span.tovar__name Product name
						a(href="#").tovar
							.tovar__wrap
								img(src="images/tovar.jpg", alt="")
								.tovar__head
									span.tovar__category Category
									.tovar__shop
										span.tovar__basket
										span.tovar__favorite
								span.tovar__name Product name
						
		
block footer
	include ../blocks/footer/footer