extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.catalog-section.catalog-section_padding.first-bg
			.container
				h2.section-title.section-title_white Каталог  товаров
				.shop-wrap
					.shop-filter
						span.filter-btn.js-filter-btn фильтры
						.filter-form.js-filter-form
					.catalog-wrap
						a(href="#").tovar(style="background-image: url(images/tovar.jpg)")
							.tovar__head
								span.tovar__category Категория
								.tovar__shop
									span.tovar__basket
									span.tovar__favorite
							span.tovar__name Название товара
						a(href="#").tovar(style="background-image: url(images/tovar.jpg)")
							.tovar__head
								span.tovar__category Категория
								.tovar__shop
									span.tovar__basket
									span.tovar__favorite
							span.tovar__name Название товара
						a(href="#").tovar(style="background-image: url(images/tovar.jpg)")
							.tovar__head
								span.tovar__category Категория
								.tovar__shop
									span.tovar__basket
									span.tovar__favorite
							span.tovar__name Название товара
						a(href="#").tovar(style="background-image: url(images/tovar.jpg)")
							.tovar__head
								span.tovar__category Категория
								.tovar__shop
									span.tovar__basket
									span.tovar__favorite
							span.tovar__name Название товара
						a(href="#").tovar(style="background-image: url(images/tovar.jpg)")
							.tovar__head
								span.tovar__category Категория
								.tovar__shop
									span.tovar__basket
									span.tovar__favorite
							span.tovar__name Название товара
						a(href="#").tovar(style="background-image: url(images/tovar.jpg)")
							.tovar__head
								span.tovar__category Категория
								.tovar__shop
									span.tovar__basket
									span.tovar__favorite
							span.tovar__name Название товара
						a(href="#").tovar(style="background-image: url(images/tovar.jpg)")
							.tovar__head
								span.tovar__category Категория
								.tovar__shop
									span.tovar__basket
									span.tovar__favorite
							span.tovar__name Название товара
						a(href="#").tovar(style="background-image: url(images/tovar.jpg)")
							.tovar__head
								span.tovar__category Категория
								.tovar__shop
									span.tovar__basket
									span.tovar__favorite
							span.tovar__name Название товара
						a(href="#").tovar(style="background-image: url(images/tovar.jpg)")
							.tovar__head
								span.tovar__category Категория
								.tovar__shop
									span.tovar__basket
									span.tovar__favorite
							span.tovar__name Название товара
		
block footer
	include ../blocks/footer/footer