extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header_white

block content
	main.main

		section.wow.fadeInUp.tovar-section
			.container
				.slider-wrap
					.tovar-slider
						.big-slider.js-big-slider
							.slide
								img(src="images/slide1.jpg", alt="")
							.slide
								img(src="images/slide2.jpg", alt="")
							.slide
								img(src="images/ap5.jpg", alt="")
							.slide
								img(src="images/slide1.jpg", alt="")
							.slide
								img(src="images/slide1.jpg", alt="")
							.slide
								img(src="images/slide1.jpg", alt="")
						.small-slider.js-small-slider
							.slide
								img(src="images/slide1.jpg", alt="")
							.slide
								img(src="images/slide2.jpg", alt="")
							.slide
								img(src="images/ap5.jpg", alt="")
							.slide
								img(src="images/slide1.jpg", alt="")
							.slide
								img(src="images/slide1.jpg", alt="")
							.slide
								img(src="images/slide1.jpg", alt="")
				
				.tovar-info
					.typography
						h2 Diamond Mesh

						.select-wrap.js-select
							span R6-3-KF-S-05
							.select-content.js-scroll
								ul.select.scroll-wrap
									li
										a(href="#") R6-3-KF-S-05
									li
										a(href="#") R6-3-KF-S-05-65-2
									li
										a(href="#") R6-3-KF-S-05
									li
										a(href="#") R6-3-KF-S-05-35
									li
										a(href="#") R6-3-KF-S-05
									li
										a(href="#") R6-3-KF-S-05525
									li
										a(href="#") R6-3-KF-S-05-696
									li
										a(href="#") R6-3-KF-S-05
									li
										a(href="#") R6-3-KF-S-0500
									li
										a(href="#") R6-3-KF-S-05
									li
										a(href="#") R6-3-KF-S-05321
									li
										a(href="#") R6-3-KF-S-05548
									li
										a(href="#") R6-3-KF-S-05
									li
										a(href="#") R6-3-KF-S-05
									li
										a(href="#") R6-3-KF-S-05
									li
										a(href="#") R6-3-KF-S-0500
									li
										a(href="#") R6-3-KF-S-05
									li
										a(href="#") R6-3-KF-S-05321
									li
										a(href="#") R6-3-KF-S-05548
									li
										a(href="#") R6-3-KF-S-05
									li
										a(href="#") R6-3-KF-S-05
									li
										a(href="#") R6-3-KF-S-05


						
						p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

					.info-table
						.row
							span Material
							span Тип сетки номер 1
						.row
							span Format in mm
							span ххх - ххх
						.row
							span Masche
							span Форма номер 1
						.row
							span FQ in %
							span ххх - ххх

		section.wow.fadeInUp.categories-section
			.container
				h2.section-title Others categories
				.categories-wrap
					a(href="#").tovar
						.tovar__wrap
							img(src="images/tovar.jpg", alt="")
							.tovar__head
								span.tovar__category Category
								
					a(href="#").tovar
						.tovar__wrap
							img(src="images/tovar.jpg", alt="")
							.tovar__head
								span.tovar__category Category

					a(href="#").tovar
						.tovar__wrap
							img(src="images/tovar.jpg", alt="")
							.tovar__head
								span.tovar__category Category

					a(href="#").tovar
						.tovar__wrap
							img(src="images/tovar.jpg", alt="")
							.tovar__head
								span.tovar__category Категори

					a(href="#").tovar
						.tovar__wrap
							img(src="images/tovar.jpg", alt="")
							.tovar__head
								span.tovar__category Category

					a(href="#").tovar
						.tovar__wrap
							img(src="images/tovar.jpg", alt="")
							.tovar__head
								span.tovar__category Category

		section.wow.fadeInUp.about-us-section.about-us-section_big
			.container
				.about-wrap
					.about-img
						img(src="images/man-img.jpg", alt="")
					.about-info.typography
						h2 Article title number thirty three
						p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

						a(href="#").link-btn See more

		section.wow.fadeInUp.articles-section.articles-section_bg
			.container
				.section-head
					h2.section-title articles
					a(href="#").link-btn all articles

				.articles-wrap
					a(href="article.html").article.typography
						.article__img
							img(src="images/art1.jpg", alt="")
						.article__wrap
							.article__date
								span 18:40
								span 20.08.2019
							h3 Article title number thirty three
							p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							span.article__link see more
					a(href="article.html").article.typography
						.article__img
							img(src="images/art.jpg", alt="")
						.article__wrap
							.article__date
								span 18:40
								span 20.08.2019
							h3 Article title number thirty three
							p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							span.article__link see more
					a(href="article.html").article.typography
						.article__img
							img(src="images/cat.jpg", alt="")
						.article__wrap
							.article__date
								span 18:40
								span 20.08.2019
							h3 Article title number thirty three
							p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							span.article__link see more
		
		section.wow.fadeInUp.footer-section
			.container
				.link-wrap
					a(href="tel:4905116767560").tel +49 (0)511-676756-0
					a(href="tel:49051167675656").fax +49 (0)511-6767565-6
				p.address Sorst Streckmetall GmbH
					|
					br
					| Wohlenbergstr. 11
					br
					| 30179 Hannover
				a(href="mailto:info@sorst.de").mail info@sorst.de