footer.footer
	.container
		nav.nav
			ul
				li
					a(href="#") Главная
				li
					a(href="#") Туры
				li
					a(href="#") О нас
			ul
				li
					a(href="#") Оферта
				li
					a(href="#") Политика конфиденциальности
				li
					a(href="#") Пользовательское соглашение
		p.copyright Copyright SHARIFF