header.header
	.header-top
		.container
			span.free-delivery Бесплатная доставка от 3000 рублей
	.header-bot
		.container
			a(href="index.html").logo
				img(src="images/logo-black.png", alt="")
			nav.nav.js-nav
				ul.main-menu.js-main-menu
					li
						a(href="#") Каталог
						ul.menu.js-menu
							span Женское
							li
								a(href="#") Смотреть все
							li
								a(href="#") Сумки
									ul.sub-menu.js-sub-menu
										li
											a(href="#") Портфели
										li
											a(href="#") Для ноутбука
										li
											a(href="#") Кросс-боди
										li
											a(href="#") Поясные 
										li
											a(href="#") Дорожные 
										li
											a(href="#") Тоут
										li
											a(href="#") Планшеты
										li
											a(href="#") Шопперы
										li
											a(href="#") Сумки с ручками
							li
								a(href="#") Рюкзаки
							li
								a(href="#") Кошельки
							li
								a(href="#") Аксессуары

							span Мужское
							li
								a(href="#") Смотреть все
							li
								a(href="#") Сумки 
							li
								a(href="#") Рюкзаки
							li
								a(href="#") Кошельки 
							li
								a(href="#") Аксессуары 
							li
								a(href="#") В наличии
							li
								a(href="#") Средство для ухода
							li
								a(href="#") Распродажа
							li
								a(href="#") Подарочный сертификат
							li
								a(href="#") Архив моделей

					li
						a(href="#") Инфо
						ul.menu.js-menu
							li
								a(href="#") О нас
							li
								a(href="#") О коже
							li
								a(href="#") Палитра
							li
								a(href="#") Материалы
							li
								a(href="#") Персонализация
							li
								a(href="#") Корпоративные заказы
					li
						a(href="#") Сервис
					li
						a(href="#") Корзина
					li
						a(href="tel:+79638888880") +7-963-888-8880

			.burger.js-burger
				span
				span
				span