header.header
	.header-top
		.container
			span.free-delivery Бесплатная доставка от 3000 рублей
	.header-bot
		.container
			a(href="index.html").logo
				img(src="images/logo.png", alt="")
			nav.nav
				ul
					li
						a(href="#") Каталог
					li
						a(href="#") Инфо
					li
						a(href="#") Сервис
					li
						a(href="#") Корзина
					li
						a(href="tel:+79638888880") +7-963-888-8880