@font-face {
    font-family: 'Berlingske Serif';
    src: url('BerlingskeSerif.woff2') format('woff2'),
        url('BerlingskeSerif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

