header.header
    .container
        a(href="index.html").logo Logo

        nav.nav
            ul
                li.instagram-nav Instagram
                li.facebook-nav Facebook
                li.youtube-nav Youtube
                li.twitter-nav Twitter
                li.twitch-nav Twitch
                li.tiktok-nav Tiktok

        .items-wrap
            .items-icon
            .items-number
            .items-price $125

        .side-nav
            .search
            .like
            .sign-in
        
