.header {
	// position: absolute;
	// top: 0;
	// left: 50%;
	// transform: translateX(-50%);
	position: relative;
	z-index: 1;

	.container {
		max-width: 1360px;
		padding: 0 0 0 15px;
		display: flex;
		align-items: center;
	}

	.logo {
		margin-right: 20px;
		color: #fff;

		img {
			width: 180px;
		}
	}
}


.nav {

	ul {
		display: flex;
	}

	li {
		padding: 8px 19px 9px 39px;
		font-size: 16px;
		line-height: 21px;
		color: #ffffff;
		margin: 0 5px;
		transition: all 0.25s ease;
		position: relative;
		border: 1px solid transparent;
		border-radius: 19px;
		cursor: pointer;

		&:before {
			position: absolute;
			left: 15%;
			top: 50%;
			transform: translateY(-50%);
		}
		
		&.active,
		&:hover {
			border: 1px solid #42dfbf;
			border-radius: 19px;
		}
	}

	.instagram-nav {
		&:before {
			content: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.9043 0H11.0957C12.1456 0 13 0.854355 13 1.9043V11.0957C13 12.1456 12.1456 13 11.0957 13H1.9043C0.854355 13 0 12.1456 0 11.0957V1.9043C0 0.854355 0.854355 0 1.9043 0ZM6.47461 9.90234C8.36472 9.90234 9.90234 8.36472 9.90234 6.47461C9.90234 4.5845 8.36472 3.04688 6.47461 3.04688C4.5845 3.04688 3.04688 4.5845 3.04688 6.47461C3.04688 8.36472 4.5845 9.90234 6.47461 9.90234ZM2.66602 3.80859C3.29602 3.80859 3.80859 3.29602 3.80859 2.66602C3.80859 2.03601 3.29602 1.52344 2.66602 1.52344C2.03601 1.52344 1.52344 2.03601 1.52344 2.66602C1.52344 3.29602 2.03601 3.80859 2.66602 3.80859Z' fill='%2342DFBF'/%3E%3Cpath d='M2.66602 2.28516C2.87618 2.28516 3.04688 2.45585 3.04688 2.66602C3.04688 2.87618 2.87618 3.04688 2.66602 3.04688C2.45585 3.04688 2.28516 2.87618 2.28516 2.66602C2.28516 2.45585 2.45585 2.28516 2.66602 2.28516Z' fill='%2342DFBF'/%3E%3Cpath d='M6.47461 3.80859C7.94449 3.80859 9.14062 5.00473 9.14062 6.47461C9.14062 7.94449 7.94449 9.14062 6.47461 9.14062C5.00473 9.14062 3.80859 7.94449 3.80859 6.47461C3.80859 5.00473 5.00473 3.80859 6.47461 3.80859Z' fill='%2342DFBF'/%3E%3C/svg%3E%0A");
		}
	}
	.facebook-nav {
		&:before {
			content: url("data:image/svg+xml,%3Csvg width='9' height='13' viewBox='0 0 9 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.74956 0.00270487L6.06377 0C4.16984 0 2.9459 1.25573 2.9459 3.19932V4.67442H1.25091C1.10445 4.67442 0.98584 4.79316 0.98584 4.93963V7.07688C0.98584 7.22335 1.10458 7.34196 1.25091 7.34196H2.9459V12.7349C2.9459 12.8814 3.06451 13 3.21098 13H5.42245C5.56892 13 5.68753 12.8813 5.68753 12.7349V7.34196H7.66936C7.81583 7.34196 7.93444 7.22335 7.93444 7.07688L7.93525 4.93963C7.93525 4.8693 7.90725 4.80195 7.85762 4.75218C7.80799 4.70241 7.74036 4.67442 7.67004 4.67442H5.68753V3.42396C5.68753 2.82294 5.83075 2.51783 6.61366 2.51783L7.74929 2.51742C7.89562 2.51742 8.01423 2.39868 8.01423 2.25234V0.267782C8.01423 0.121584 7.89576 0.00297535 7.74956 0.00270487Z' fill='%2342DFBF'/%3E%3C/svg%3E%0A");
		}
	}
	.youtube-nav {
		&:before {
			content: url("data:image/svg+xml,%3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4475 0.8925C12.0949 0.26525 11.7122 0.149875 10.933 0.106C10.1546 0.0531875 8.19731 0.03125 6.50163 0.03125C4.80269 0.03125 2.84456 0.0531876 2.067 0.105188C1.28944 0.149875 0.905937 0.264437 0.550062 0.8925C0.186875 1.51894 0 2.59794 0 4.49756C0 4.49919 0 4.5 0 4.5C0 4.50163 0 4.50244 0 4.50244V4.50406C0 6.39556 0.186875 7.48269 0.550062 8.10262C0.905937 8.72987 1.28863 8.84363 2.06619 8.89644C2.84456 8.94194 4.80269 8.96875 6.50163 8.96875C8.19731 8.96875 10.1546 8.94194 10.9338 8.89725C11.713 8.84444 12.0957 8.73069 12.4483 8.10344C12.8147 7.4835 13 6.39637 13 4.50487C13 4.50487 13 4.50244 13 4.50081C13 4.50081 13 4.49919 13 4.49837C13 2.59794 12.8147 1.51894 12.4475 0.8925ZM4.875 6.9375V2.0625L8.9375 4.5L4.875 6.9375Z' fill='%2342DFBF'/%3E%3C/svg%3E%0A");
		}
	}
	.twitter-nav {
		&:before {
			content: url("data:image/svg+xml,%3Csvg width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1.46919C12.5166 1.68125 12.0014 1.82181 11.4644 1.89006C12.0169 1.56019 12.4386 1.04181 12.6368 0.417C12.1217 0.724125 11.5529 0.941063 10.9468 1.06213C10.4577 0.541313 9.76056 0.21875 9.00006 0.21875C7.52456 0.21875 6.33669 1.41638 6.33669 2.88456C6.33669 3.09581 6.35456 3.29894 6.39844 3.49231C4.18275 3.38425 2.22219 2.32231 0.905125 0.704625C0.675187 1.10356 0.540313 1.56019 0.540313 2.05175C0.540313 2.97475 1.01562 3.79294 1.72413 4.26662C1.29594 4.2585 0.875875 4.13419 0.52 3.93837C0.52 3.9465 0.52 3.95706 0.52 3.96762C0.52 5.26275 1.44381 6.3385 2.65525 6.58631C2.43831 6.64563 2.20187 6.67406 1.9565 6.67406C1.78587 6.67406 1.61362 6.66431 1.45194 6.62856C1.79725 7.684 2.77713 8.45994 3.94225 8.48512C3.0355 9.19444 1.88419 9.62181 0.637812 9.62181C0.41925 9.62181 0.209625 9.61206 0 9.58525C1.18056 10.3466 2.57969 10.7812 4.0885 10.7812C8.99275 10.7812 11.674 6.71875 11.674 3.19737C11.674 3.07956 11.6699 2.96581 11.6643 2.85287C12.1932 2.4775 12.6376 2.00869 13 1.46919Z' fill='%2342DFBF'/%3E%3C/svg%3E%0A");
		}
	}
	.twitch-nav {
		&:before {
			content: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M0.528076 2.26146V11.304H3.64212V13H5.34241L7.03999 11.3035H9.58853L12.987 7.91375V0H1.37687L0.528076 2.26146ZM2.50949 1.12938H11.8543V7.34717L9.87183 9.32533H6.7567L5.05912 11.0191V9.32533H2.50949V1.12938Z' fill='%2342DFBF'/%3E%3Cpath d='M5.62524 3.39172H6.75733V6.78255H5.62524V3.39172Z' fill='%2342DFBF'/%3E%3Cpath d='M8.73877 3.39172H9.87139V6.78255H8.73877V3.39172Z' fill='%2342DFBF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='13' height='13' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
		}
	}
	.tiktok-nav {
		&:before {
			content: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7999 2.85555C10.4353 2.85555 9.3252 1.74541 9.3252 0.380859C9.3252 0.170494 9.15471 0 8.94434 0H6.90456C6.6943 0 6.5237 0.170494 6.5237 0.380859V8.7437C6.5237 9.54588 5.87099 10.1985 5.0688 10.1985C4.26662 10.1985 3.614 9.54588 3.614 8.7437C3.614 7.94141 4.26662 7.2888 5.0688 7.2888C5.27917 7.2888 5.44966 7.1183 5.44966 6.90794V4.86816C5.44966 4.65789 5.27917 4.4873 5.0688 4.4873C2.72186 4.4873 0.8125 6.39675 0.8125 8.7437C0.8125 11.0906 2.72186 13 5.0688 13C7.41575 13 9.3252 11.0906 9.3252 8.7437V5.04192C10.0832 5.44609 10.9267 5.65705 11.7999 5.65705C12.0103 5.65705 12.1808 5.48656 12.1808 5.27619V3.23641C12.1808 3.02615 12.0103 2.85555 11.7999 2.85555Z' fill='%2342DFBF'/%3E%3C/svg%3E%0A");
		}
	}
}

.basket-wrap {
	position: relative;
	display: flex;
	align-items: center;
	margin: 0 40px 0 auto;

	&:before {
		content: '';
		position: absolute;
		width: 20px;
		height: 20px;
		top: 50%;
		transform: translateY(-50%);
		left: -27px;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.9196 16.4929L17.0264 5.23836C16.9708 4.51328 16.3576 3.94527 15.6304 3.94527H13.8662V3.86598C13.8662 1.73426 12.132 0 10.0002 0C7.86851 0 6.13425 1.73426 6.13425 3.86598V3.94527H4.37011C3.64289 3.94527 3.02965 4.51324 2.97418 5.23684L2.08074 16.4944C2.0116 17.3958 2.32429 18.2932 2.93859 18.9564C3.55289 19.6196 4.42371 20 5.32773 20H14.6727C15.5767 20 16.4475 19.6196 17.0619 18.9564C17.6762 18.2931 17.9888 17.3958 17.9196 16.4929ZM7.30574 3.86598C7.30574 2.38023 8.51453 1.17148 10.0002 1.17148C11.4859 1.17148 12.6947 2.38027 12.6947 3.86598V3.94527H7.30574V3.86598ZM16.2024 18.1604C15.8032 18.5912 15.26 18.8285 14.6727 18.8285H5.32777C4.74043 18.8285 4.19722 18.5912 3.79808 18.1604C3.39898 17.7295 3.2039 17.1696 3.24875 16.5855L4.14211 5.32793C4.15117 5.20949 4.25133 5.11676 4.37011 5.11676H6.13425V6.55953C6.13425 6.88301 6.39652 7.14527 6.72 7.14527C7.04347 7.14527 7.30574 6.88301 7.30574 6.55953V5.11676H12.6947V6.55953C12.6947 6.88301 12.957 7.14527 13.2805 7.14527C13.6039 7.14527 13.8662 6.88301 13.8662 6.55953V5.11676H15.6304C15.7491 5.11676 15.8493 5.20953 15.8585 5.32949L16.7517 16.584C16.7966 17.1696 16.6015 17.7294 16.2024 18.1604Z' fill='white'/%3E%3Cpath d='M12.6388 9.93292C12.4102 9.70417 12.0393 9.70417 11.8105 9.93292L9.19508 12.5484L8.18937 11.5427C7.96066 11.3139 7.58977 11.3139 7.36102 11.5427C7.13227 11.7714 7.13227 12.1423 7.36102 12.371L8.7809 13.7909C8.89527 13.9053 9.0452 13.9625 9.19504 13.9625C9.34488 13.9625 9.49484 13.9053 9.60918 13.7909L12.6388 10.7613C12.8676 10.5325 12.8676 10.1617 12.6388 9.93292Z' fill='white'/%3E%3C/svg%3E%0A");
	}

	.basket-count {
		width: 24px;
		height: 24px;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		color: #FFFFFF;
		padding: 3px 0;
		background-color: #fff;
		background: #42DFBF;
		border-radius: 50%;
		margin-right: 23px;
	}

	.basket-price {
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		color: #fff;
	}
}

.lk-nav {
	display: flex;

	span {
		width: 80px;
		height: 80px;
		background-position: center;
		background-repeat: no-repeat;
		transition: all .3s ease;
		cursor: pointer;
		&.active,
		&:hover {
			background-color: #42dfbf;
		}
	}

	.search {
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8251 18.98L14.9647 14.1197C16.2685 12.6208 17.0579 10.6652 17.0579 8.52772C17.0579 3.82262 13.2308 0 8.53016 0C3.82506 0 0.00244141 3.82705 0.00244141 8.52772C0.00244141 13.2284 3.82949 17.0554 8.53016 17.0554C10.6676 17.0554 12.6233 16.2661 14.1222 14.9623L18.9825 19.8226C19.0978 19.9379 19.253 20 19.4038 20C19.5545 20 19.7098 19.9424 19.8251 19.8226C20.0557 19.592 20.0557 19.2106 19.8251 18.98ZM1.19535 8.52772C1.19535 4.48337 4.48581 1.19734 8.52572 1.19734C12.5701 1.19734 15.8561 4.4878 15.8561 8.52772C15.8561 12.5676 12.5701 15.8625 8.52572 15.8625C4.48581 15.8625 1.19535 12.5721 1.19535 8.52772Z' fill='white'/%3E%3C/svg%3E%0A");
	}

	.like {
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99998 18.8873C9.71525 18.8873 9.44075 18.7842 9.22682 18.5968C8.41887 17.8903 7.63991 17.2264 6.95265 16.6408L6.94914 16.6377C4.93423 14.9207 3.19427 13.4378 1.98364 11.9771C0.630339 10.3441 0 8.79578 0 7.10434C0 5.46097 0.563506 3.94485 1.58661 2.83508C2.62191 1.71219 4.0425 1.09375 5.58715 1.09375C6.74163 1.09375 7.7989 1.45874 8.72954 2.1785C9.1992 2.54181 9.62492 2.98645 9.99998 3.5051C10.3752 2.98645 10.8008 2.54181 11.2706 2.1785C12.2012 1.45874 13.2585 1.09375 14.413 1.09375C15.9575 1.09375 17.3782 1.71219 18.4135 2.83508C19.4366 3.94485 20 5.46097 20 7.10434C20 8.79578 19.3698 10.3441 18.0165 11.9769C16.8058 13.4378 15.066 14.9205 13.0514 16.6374C12.363 17.224 11.5828 17.8889 10.773 18.5971C10.5592 18.7842 10.2846 18.8873 9.99998 18.8873ZM5.58715 2.26532C4.37362 2.26532 3.25881 2.74963 2.44781 3.62915C1.62475 4.52194 1.17141 5.75607 1.17141 7.10434C1.17141 8.52692 1.70013 9.79919 2.88558 11.2296C4.03136 12.6122 5.73562 14.0645 7.70888 15.7462L7.71254 15.7492C8.40239 16.3371 9.1844 17.0036 9.9983 17.7153C10.8171 17.0023 11.6003 16.3347 12.2915 15.7458C14.2647 14.0642 15.9688 12.6122 17.1145 11.2296C18.2998 9.79919 18.8285 8.52692 18.8285 7.10434C18.8285 5.75607 18.3752 4.52194 17.5522 3.62915C16.7413 2.74963 15.6263 2.26532 14.413 2.26532C13.524 2.26532 12.7078 2.54791 11.9871 3.10516C11.3449 3.60199 10.8975 4.23004 10.6352 4.66949C10.5003 4.89548 10.2629 5.03036 9.99998 5.03036C9.73707 5.03036 9.49965 4.89548 9.36476 4.66949C9.10261 4.23004 8.65523 3.60199 8.01283 3.10516C7.29216 2.54791 6.47597 2.26532 5.58715 2.26532Z' fill='white'/%3E%3C/svg%3E");
	}

	.sign-in {
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.92782 10.7766C9.94853 10.7766 9.96924 10.7766 9.99409 10.7766C10.0024 10.7766 10.0107 10.7766 10.0189 10.7766C10.0314 10.7766 10.0479 10.7766 10.0604 10.7766C11.2739 10.7559 12.2554 10.3293 12.9802 9.51336C14.5747 7.71588 14.3097 4.6345 14.2807 4.34044C14.1771 2.13295 13.1335 1.07683 12.272 0.583972C11.63 0.215366 10.8804 0.0165666 10.0438 0H10.0148C10.0107 0 10.0024 0 9.99823 0H9.97338C9.51366 0 8.61078 0.0745496 7.74518 0.567405C6.87543 1.06026 5.81517 2.11638 5.71163 4.34044C5.68264 4.6345 5.41757 7.71588 7.01211 9.51336C7.73275 10.3293 8.71432 10.7559 9.92782 10.7766ZM6.81745 4.44398C6.81745 4.43156 6.82159 4.41913 6.82159 4.41085C6.95826 1.44129 9.06636 1.12239 9.96924 1.12239H9.98581C9.99409 1.12239 10.0065 1.12239 10.0189 1.12239C11.1372 1.14724 13.0382 1.60282 13.1666 4.41085C13.1666 4.42328 13.1666 4.4357 13.1707 4.44398C13.1749 4.47298 13.4648 7.28929 12.1477 8.772C11.6259 9.36012 10.9301 9.65003 10.0148 9.65831C10.0065 9.65831 10.0024 9.65831 9.99409 9.65831C9.98581 9.65831 9.98166 9.65831 9.97338 9.65831C9.06222 9.65003 8.36228 9.36012 7.84458 8.772C6.53167 7.29758 6.81331 4.46883 6.81745 4.44398Z' fill='white'/%3E%3Cpath d='M18.505 15.8873C18.505 15.8832 18.505 15.879 18.505 15.8749C18.505 15.8418 18.5009 15.8086 18.5009 15.7714C18.476 14.9513 18.4222 13.0337 16.6247 12.4208C16.6123 12.4166 16.5957 12.4125 16.5833 12.4083C14.7154 11.932 13.1623 10.8552 13.1457 10.8428C12.8931 10.6647 12.5452 10.7268 12.3671 10.9795C12.189 11.2321 12.2511 11.58 12.5038 11.7581C12.5742 11.8078 14.2225 12.955 16.2851 13.4852C17.2501 13.8289 17.3578 14.8602 17.3868 15.8045C17.3868 15.8418 17.3868 15.8749 17.3909 15.908C17.395 16.2808 17.3702 16.8565 17.3039 17.1878C16.633 17.5688 14.003 18.8859 10.0022 18.8859C6.01794 18.8859 3.37143 17.5647 2.69634 17.1837C2.63008 16.8523 2.60109 16.2766 2.60937 15.9039C2.60937 15.8708 2.61351 15.8376 2.61351 15.8004C2.6425 14.8561 2.75019 13.8248 3.71519 13.481C5.77773 12.9509 7.4261 11.7995 7.49651 11.754C7.74915 11.5759 7.81128 11.228 7.63318 10.9753C7.45509 10.7227 7.1072 10.6606 6.85456 10.8387C6.83799 10.8511 5.29316 11.9279 3.41699 12.4042C3.40042 12.4083 3.388 12.4125 3.37557 12.4166C1.5781 13.0337 1.52426 14.9513 1.49941 15.7672C1.49941 15.8045 1.49941 15.8376 1.49527 15.8708C1.49527 15.8749 1.49527 15.879 1.49527 15.8832C1.49113 16.0986 1.48698 17.2044 1.70649 17.7594C1.74791 17.867 1.82246 17.9582 1.92186 18.0203C2.04611 18.1031 5.02395 20 10.0063 20C14.9887 20 17.9666 18.099 18.0908 18.0203C18.1861 17.9582 18.2648 17.867 18.3062 17.7594C18.5133 17.2085 18.5091 16.1027 18.505 15.8873Z' fill='white'/%3E%3C/svg%3E%0A");
	}
}