header.header
	.container
		.burger.js-burger
			span
			span
			span

		a(href="index.html").logo
			img(src="images/Addpopular.svg", alt="")
		nav.nav
			ul
				li.instagram-nav.active Instagram
				li.facebook-nav Facebook
				li.youtube-nav Youtube
				li.twitter-nav Twitter
				li.twitch-nav Twitch
				li.tiktok-nav Tiktok
		
		.currency
			.currency__head.js-currency
				span.currency__text.js-currency-text US Dollars 
					mark ($)
			ul.currency__list.js-currency-list
				li US Euro 
					mark ($)
				li US Ruble 
					mark ($)
				li US Dollars 
					mark ($)

		.basket-wrap
			span.basket-count 2

		.lk-nav
			span.sign-in.active.js-sign-in

	.burger-menu.js-burger-menu
		.burger-menu__wrap
			.burger-menu__user.burger-menu__user_login.active
				.burger-menu__img.burger-menu__img_signed
					img(src="images/lk-img.jpg", alt="")
				span.burger-menu__name Valeria Lopez
				span.burger-menu__registration Registration since 26 December, 2019
				span.burger-menu__profile.burger-menu__profile_name Username
				span.burger-menu__profile.burger-menu__profile_email qwerty@gmail.com
				a(href="#").burger-menu__settings

			.burger-menu__user
				.burger-menu__img
					img(src="images/login.svg", alt="")
				span.burger-menu__button.js-sign-in.active Log in
				span.burger-menu__button.js-reg-open Create account

			ul.user-nav
				li
					a(href="#").refund Refund Policy
				li
					a(href="#").privacy Privacy Policy
				li 
					a(href="#").faq FAQ
				li 
					a(href="#").feed Feedback
				li 
					a(href="#").logout Logout