header.header
	.container
		a(href="index.html").logo
			img(src="images/Addpopular.svg", alt="")
		nav.nav
			ul
				li.instagram-nav.active Instagram
				li.facebook-nav Facebook
				li.youtube-nav Youtube
				li.twitter-nav Twitter
				li.twitch-nav Twitch
				li.tiktok-nav Tiktok

		.basket-wrap
			span.basket-count 2
			span.basket-price $125

		.lk-nav
			span.sign-in.active.js-sign-in
		
