.main-btn {
	position: relative;
	display: block;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #0A0854;
	background: #FFFFFF;
	transition: all .3s ease;
	border: 5px solid #DEEFFF;
	padding: 11px 44px 11px 20px;
	box-shadow: 0px 11px 28px rgba(0, 0, 0, 0.1);

	@media screen and (min-width: 768px) {

	}
	@media screen and (min-width: 1024px) {

	}
	@media screen and (min-width: 1200px) {
		border: 4px solid #DEEFFF;
		padding: 14px 40px 14px 16px;
	}
	@media screen and (min-width: 1920px) {
		font-size: 16px;
		border: 5px solid #DEEFFF;
		box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.1);
		padding: 17px 40px 17px 20px;
	}

	&:after {
		content: '';
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		width: 14px;
		height: 16px;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.793 7.54369L2.36293 12.4108C1.81259 12.7285 1.12467 12.3314 1.12467 11.6959L1.12467 1.96169C1.12467 1.32621 1.81259 0.92904 2.36293 1.24678L10.793 6.11387C11.3433 6.43161 11.3433 7.22596 10.793 7.54369Z' stroke='%23ED1C24' stroke-width='1.65101'/%3E%3C/svg%3E%0A");
	}

	&:hover {
		box-shadow: none;
	}
}

.link-btn {
	position: relative;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #0A0854;
	padding-right: 45px;
	@media screen and (min-width: 1024px) {
		font-size: 16px;
	}
	@media screen and (min-width: 1920px) {
		padding-right: 65px;
	}
	&:after {
		content: '';
		position: absolute;
		width: 30px;
		height: 30px;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 40%;
		transition: all .3s ease;
		border: 1px solid rgba(27, 34, 42, 0.2);
		background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.793 7.54369L2.36293 12.4108C1.81259 12.7285 1.12467 12.3314 1.12467 11.6959L1.12467 1.96169C1.12467 1.32621 1.81259 0.92904 2.36293 1.24678L10.793 6.11387C11.3433 6.43161 11.3433 7.22596 10.793 7.54369Z' stroke='%23ED1C24' stroke-width='1.65101'/%3E%3C/svg%3E%0A");
		@media screen and (min-width: 1920px) {
			width: 50px;
			height: 50px;
		}
	}
	&:hover {
		&:after {
			border: 1px solid #0A0854;
			background-color: #0A0854;
		}
	}
}

.filter-btn {
	display: block;
	cursor: pointer;
	width: 190px;
	position: relative;
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #0A0854;
	padding: 10px 40px 10px 13px;
	background-color: #fff;
	&:after {
		content: '';
		position: absolute;
		top: calc(50% - 12px);
		right: 11px;
		width: 24px;
		height: 24px;
		@include bg-img-center;
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.85298 22.9942V14.4595L0.171404 1.5571C-0.181147 1.15069 -0.0293542 0.0342758 0.99892 0H22.9942C23.5916 0 24.3505 0.705102 23.8217 1.5571L15.1401 14.4595V19.7576C15.1401 20.0709 14.9932 20.3647 14.7435 20.5557L10.4541 23.7923C10.2093 24.0665 8.98029 24.2477 8.85298 22.9942ZM2.87919 1.99779L10.6843 13.5977C10.7969 13.7642 10.8557 13.9552 10.8557 14.1559V20.9915L13.1472 19.263V14.1559C13.1472 13.9552 13.206 13.7642 13.3186 13.5977L21.1139 1.99779H2.87919Z' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
	}
	@media screen and (min-width: 1024px){
		display: none;
	}
}