#hamburger.hamburglar.js-burger

	.burger-icon
		.burger-container
			span.burger-bun-top
			span.burger-filling
			span.burger-bun-bot
	
	.burger-ring
		svg.svg-ring
			path(fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="4" d="M 34 2 C 16.3 2 2 16.3 2 34 s 14.3 32 32 32 s 32 -14.3 32 -32 S 51.7 2 34 2").path