.about-section {
	padding: 60px 0;
	position: relative;
	z-index: 35;
	@media screen and (min-width: 1024px) {
		padding: 120px 0 170px;
	}

	&:before {
		content: url('../images/vector.png');
		position: absolute;
		left: 0;
		top: 10%;
		z-index: -1;
	}

	.intro-text {
		margin-bottom: 80px;
		@media screen and (min-width: 1920px) {
			margin-bottom: 100px;
		}

		p {
			max-width: 200px; 
			margin: 0 auto;
			width: 100%;
			font-weight: 700;
			font-size: 12px;
			line-height: 200%;
			text-align: center;
			color: #1B222A;
			text-align: center;
			position: relative;
			@media screen and (min-width: 768px) {
				font-size: 16px;
			}
			@media screen and (min-width: 1024px) {
				font-size: 20px;
				min-width: 255px;
			}
			@media screen and (min-width: 1200px) {
				font-size: 25px;
				max-width: 320px;
			}
			@media screen and (min-width: 1920px) {
				font-size: 36px;
				max-width: 496px;
			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				width: 35px;
				height: 27px;
				@include bg-img-center;
				background-image: url("data:image/svg+xml,%3Csvg width='39' height='30' viewBox='0 0 39 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H17V15L10 30H0V0Z' fill='%23ED1C24'/%3E%3Cpath d='M22 0H39V15L32 30H22V0Z' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
			}

			&:before {
				top: -20px;
				left: -30px;
			}
			&:after {
				right: -30px;
				bottom: -20px;
			}

			mark {
				color: #ed1c24;
			}
			
		}
	}

	.about-text {
		margin-bottom: 40px;
		h2, p {
			margin-bottom: 20px;
		}
	}

	.advantages-wrap {
		display: flex;
		flex-direction: column;
		position: relative;
		@media screen and (min-width: 1024px) {
			
		}

		.typography {
			margin-bottom: 25px;

			@media screen and (min-width: 1024px) {
				width: 50%;
				margin: 0 0 34px auto;
				padding-left: 33px;
			}
			@media screen and (min-width: 1200px) {
				padding-left: 60px;
			}
			@media screen and (min-width: 1920px) {
				padding-left: 90px;
			}

			h2 {
				margin-bottom: 20px;
			}
		}

		.img-wrap {
			position: relative;
			width: 100%;
			height: auto;
			margin-bottom: 35px;
			box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.1);
			@media screen and (min-width: 1024px) {
				width: 50%;
				position: absolute;
				left: 0;
				top: 0;
			}
			img {
				display: block;
				width: 100%;
				height: auto;
				object-fit: cover;
				@media screen and (min-width: 768px) {
					max-height: 428px;
				}
			}

			.main-btn {
				position: absolute;
				left: -15px;
				bottom: 15px;
				z-index: 1;
				@media screen and (min-width: 768px) {
					left: 0;
					bottom: 30px;
				}
			}
		}

		.advantages-list {
			display: flex;
			flex-direction: column;
			
			@media screen and (min-width: 1024px) {
				width: 50%;
				margin-left: auto;
				padding-left: 33px;
			}
			@media screen and (min-width: 1200px) {
				padding-left: 60px;
			}
			@media screen and (min-width: 1920px) {
				padding-left: 90px;
			}
		}
	}
}

.video-mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 50;
	display: none;
}

.video-close {
	position: absolute;
	top: -50px;
	right: -50px;
	z-index: 41;
	cursor: pointer;
	width: 52px;
	height: 52px;
	transition: all .3s ease;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Ccircle cx='36' cy='36' r='24.5' stroke='%23C4C4C4' stroke-width='3'/%3E%3C/g%3E%3Cline x1='26.0873' y1='26.1377' x2='46.7587' y2='46.8091' stroke='%23C4C4C4' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='46.7588' y1='26.9838' x2='26.0874' y2='47.6551' stroke='%23C4C4C4' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0' width='72' height='72' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0'/%3E%3CfeBlend mode='color-dodge' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
	@media screen and (max-width: 768px) {
		width: 30px;
		height: 30px;
		top: -30px;
		right: -30px;
	}
	&:hover {
		transform: scale(1.1);
	}
}

.video-wrap {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 60;
	display: none;
	width: 80vw;
	height: 80vh;

	iframe {
		width: 100%;
		height: 100%;
	}
}