.about-section {
	padding: 60px 0;
	position: relative;
	z-index: 1;
	@media screen and (min-width: 1024px) {
		padding: 120px 0 170px;
	}

	&:before {
		content: url('../images/vector.png');
		position: absolute;
		left: 0;
		top: 10%;
		z-index: -1;
	}

	.intro-text {
		margin-bottom: 80px;
		@media screen and (min-width: 1920px) {
			margin-bottom: 100px;
		}

		p {
			max-width: 200px; 
			margin: 0 auto;
			width: 100%;
			font-weight: 700;
			font-size: 12px;
			line-height: 200%;
			text-align: center;
			color: #1B222A;
			text-align: center;
			position: relative;
			@media screen and (min-width: 768px) {
				font-size: 16px;
			}
			@media screen and (min-width: 1024px) {
				font-size: 20px;
				min-width: 255px;
			}
			@media screen and (min-width: 1200px) {
				font-size: 25px;
				max-width: 320px;
			}
			@media screen and (min-width: 1920px) {
				font-size: 36px;
				max-width: 496px;
			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				width: 35px;
				height: 27px;
				@include bg-img-center;
				background-image: url("data:image/svg+xml,%3Csvg width='39' height='30' viewBox='0 0 39 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H17V15L10 30H0V0Z' fill='%23ED1C24'/%3E%3Cpath d='M22 0H39V15L32 30H22V0Z' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
			}

			&:before {
				top: -20px;
				left: -30px;
			}
			&:after {
				right: -30px;
				bottom: -20px;
			}

			mark {
				color: #ed1c24;
			}
			
		}
	}

	.advantages-wrap {
		display: flex;
		flex-direction: column;
		position: relative;
		@media screen and (min-width: 1024px) {
			
		}

		.typography {
			margin-bottom: 25px;

			@media screen and (min-width: 1024px) {
				width: 50%;
				margin: 0 0 34px auto;
				padding-left: 33px;
			}
			@media screen and (min-width: 1200px) {
				padding-left: 60px;
			}
			@media screen and (min-width: 1920px) {
				padding-left: 90px;
			}

			h2 {
				margin-bottom: 20px;
			}
		}

		.img-wrap {
			position: relative;
			width: 100%;
			height: auto;
			margin-bottom: 35px;
			box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.1);
			@media screen and (min-width: 1024px) {
				width: 50%;
				position: absolute;
				left: 0;
				top: 0;
			}
			img {
				display: block;
				width: 100%;
				height: auto;
				object-fit: cover;
				@media screen and (min-width: 768px) {
					max-height: 428px;
				}
			}

			.main-btn {
				position: absolute;
				left: -15px;
				bottom: 15px;
				z-index: 1;
				@media screen and (min-width: 768px) {
					left: 0;
					bottom: 30px;
				}
			}
		}

		.advantages-list {
			display: flex;
			flex-direction: column;
			@media screen and (min-width: 768px) {
				flex-direction: row;
				flex-wrap: wrap;
			}
			@media screen and (min-width: 1024px) {
				width: 50%;
				flex-direction: column;
				margin-left: auto;
				padding-left: 33px;
			}
			@media screen and (min-width: 1200px) {
				padding-left: 60px;
			}
			@media screen and (min-width: 1920px) {
				padding-left: 90px;
			}

			li {
				position: relative;
				padding-left: 40px;
				font-weight: 700;
				font-size: 14px;
				line-height: 19px;
				letter-spacing: 0.2em;
				text-transform: uppercase;
				color: #0A0854;
				margin-bottom: 10px;
				@media screen and (min-width: 768px) {
					margin: 0 25px 30px;
				}
				@media screen and (min-width: 1024px) {
					margin: 0 0 30px;
				}

				&:before {
					content: '';
					position: absolute;
					top: calc(50% - 15px);
					left: 0;
					width: 30px;
					height: 30px;
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					background-image: url("data:image/svg+xml,%3Csvg width='34' height='32' viewBox='0 0 34 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M17 1.23607L19.1921 7.98278C19.4599 8.80682 20.2278 9.36475 21.0943 9.36475H28.1882L22.4491 13.5344C21.7481 14.0437 21.4548 14.9465 21.7225 15.7705L23.9147 22.5172L18.1756 18.3475C17.4746 17.8382 16.5254 17.8382 15.8244 18.3475L10.0853 22.5172L12.2775 15.7705C12.5452 14.9465 12.2519 14.0437 11.5509 13.5344L5.81184 9.36475H12.9057C13.7722 9.36475 14.5401 8.80683 14.8079 7.98278L17 1.23607Z' stroke='%23ED1C24' stroke-width='2'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0.809814' y='0.236069' width='32.3802' height='31.2857' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
				}
			}
		}
	}
}