.intro-section {
	position: relative;
	z-index: 1;
	padding: 80px 0 44px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('../images/intro-bg.jpg');

	@media screen and (min-width: 768px) {
		height: 47vw;
		background-image: url('../images/main.bg.png');
	}
	@media screen and (min-width: 1024px) {
		height: 43vw;
	}
	@media screen and (min-width: 1200px) {
	}
	@media screen and (min-width: 1920px) {
		max-height: 840px;
	}

	&:before {
		@media screen and (min-width: 768px) {
			content: url('../images/vector1.png');
			position: absolute;
			right: 0;
			bottom: -37%;
			z-index: -1;
		}
	}

	.intro-img {
		width: 90vw;
		height: 47vw;
		margin: 0 0 22px auto;
		overflow: hidden;

		@media screen and (min-width: 768px) {
			position: absolute;
			width: 50%;
			height: 33vw;
			margin: 0;
			right: 0;
			top: 105px;
		}
		@media screen and (min-width: 1200px) {
			top: 139px;
			
		}
		@media screen and (min-width: 1920px) {
			max-height: 602px;
			width: 53%;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	.intro-wrap {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;

		@media screen and (min-width: 768px) {
			padding-top: 50px;
			width: 45%;
		}
		@media screen and (min-width: 1024px) {
			padding: 70px 0 0 100px;
		}
		@media screen and (min-width: 1200px) {
			padding: 120px 0 0 120px;
		}
		@media screen and (min-width: 1920px) {
			padding: 150px 0 0 0;
			width: 43%;
		}
	}

	.main-title {
		margin-bottom: 30px;
		@media screen and (min-width: 768px) {
			margin-bottom: 20px;
		}
		@media screen and (min-width: 1024px) {
			margin-bottom: 35px;
		}
	}

	.intro-text {
		margin-bottom: 10px;
		font-size: 12px;
		line-height: 1.7;
		color: #C8E1FF;
		margin-bottom: 25px;
		@media screen and (min-width: 768px) {
			display: none;
		}
	}

	.history {
		font-weight: bold;
		font-size: 16px;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: #61A0FF;
		margin-bottom: 30px;
	}

	.link-btn {
		color: #fff;
		@media screen and (min-width: 768px) {
			font-size: 14px !important;
		}
		&:after {
			border: 1px solid rgba(62, 81, 117, 0.8);
		}
	}

	.made {
		font-size: 16px;
		color: #C8E1FF;
		position: relative;
		padding-left: 19px;
		margin-bottom: 20px;
		@media screen and (min-width: 768px) {
			margin-bottom: 33px;
		}
		@media screen and (min-width: 1200px) {

		}
		&:before {
			content: '';
			position: absolute;
			width: 11px;
			height: 11px;
			top: calc(50% - 5px);
			left: 0;
			background: #ED1C24;
		}
	}
}

.aplication-section {
	position: relative;
	padding: 32px 0 55px;
	background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);

	@media screen and (min-width: 1200px) {
		padding: 73px 0 110px;
	}
	@media screen and (min-width: 1920px) {
		padding: 150px 0 225px;
	}

	&:before {
		content: url('../images/vector.png');
		position: absolute;
		left: 0;
		top: 8%;
		z-index: -1;
	}

	.section-title {
		margin-bottom: 27px;
		@media screen and (min-width: 768px) {
			margin-bottom: 40px;
		}
		@media screen and (min-width: 1920px) {
			margin-left: -26px;
		}
	}

	.aplications-wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		@media screen and (min-width: 768px) {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}
		@media screen and (min-width: 1920px) {
			margin: 0px -25px;
		}
	}
}

.about-us-section {
	position: relative;
	padding-bottom: 20px;
	top: -30px;
	@media screen and (min-width: 1920px){
		top: -60px;
	}

	&_img {
		
	}

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		background: #EEF1F7;

		@media screen and (min-width: 768px){
			height: 386px;
			top: 30px;
		}
		@media screen and (min-width: 1920px){
			height: 449px;
			top: 60px;
		}
	}

	&_big {
		.about-img {
			@media screen and (min-width: 1024px){
				width: 50% !important;
			}
		}

		p {
			columns: auto !important;
		}
	}

	.about-wrap {
		display: flex;
		flex-direction: column;
		@media screen and (min-width: 768px){
			flex-direction: row;
			align-items: center;
		}
	}

	.about-img {
		flex: none;
		position: relative;
		margin-bottom: 20px;
		box-shadow: 0px 11px 26px rgba(0, 0, 0, 0.1);
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			bottom: 0;
			height: 60%;
			left: 0;
			background: rgba(0, 14, 148, 0.5);
			z-index: 1;
			@media screen and (min-width: 768px){
				height: calc(100% - 60px);
				top: 30px;
				bottom: auto;
			}
			@media screen and (min-width: 1920px){
				top: 60px;
				height: calc(100% - 120px);
			}
		}
		@media screen and (min-width: 768px){
			width: 328px;
			height: 446px;
			margin-right: 34px;
			margin-bottom: 0;
		}
		@media screen and (min-width: 1200px){
			margin-right: 52px;
		}
		@media screen and (min-width: 1920px){
			width: 418px;
			height: 569px;
			margin-right: 123px;
		}

		img {
			display: block;
			@include img-style;
		}
	}

	.about-info {
		display: flex;
		flex-direction: column;
		h2 {
			margin-bottom: 30px;
		}
		p {
			margin-bottom: 40px;
			@media screen and (min-width: 1024px){
				columns: 252px 2;
				margin-right: 30px;
			}
		}

		.link-btn {
			margin-left: auto;
		}
	}
}

.production-section {
	position: relative;
	z-index: 1;
	padding-top: 80px;
	padding-bottom: 20px;
	border-bottom: 1px solid #D8D8D8;
	@media screen and (min-width: 1200px){
		padding-top: 120px;
	}
	@media screen and (min-width: 1920px){
		padding-top: 210px 0;
	}

	.prod-wrap {
		@media screen and (min-width: 768px){
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		@media screen and (min-width: 1920px){
			margin: 0 -14px;
		}
	}
}

.product-section {
	position: relative;
	padding: 100px 0 0;
	@media screen and (min-width: 768px) {
		padding: 78px 0 0;
	}

	.slider-wrap {
		position: relative;
		@media screen and (min-width: 768px) {
			width: 790px;
			margin: 0 auto;
		}
		@media screen and (min-width: 1024px) {
			width: 1050px;
		}
		@media screen and (min-width: 1200px) {
			width: 1230px;
		}
		@media screen and (min-width: 1920px) {
			width: 1328px;
		}
	}

	.section-title {
		margin-bottom: 30px;
		@media screen and (min-width: 768px) {
			position: absolute;
			right: 10%;
			top: 90px;
		}
		@media screen and (min-width: 900px) {
			right: 15%;
		}
		@media screen and (min-width: 1400px) {
			right: 21%;
		}
	}
}

.articles-section {
	padding: 80px 0;
	@media screen and (min-width: 1200px){
		padding: 120px 0;
	}
	@media screen and (min-width: 1920px){
		padding: 120px 0 180px;
	}

	&_bg {
		position: relative;
		@media screen and (min-width: 1300px){
			&:before {
				content: url('../images/vector.png');
				position: absolute;
				left: 0;
				top: 7%;
				z-index: -1;
			}
		}
	}

	.articles-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}