.tovar-section {
	padding: 300px 0;
	position: relative;

	&:before {
		content: url('../images/vector1.png');
		position: absolute;
		right: 0;
		top: 18%;
		z-index: -2;
	}
}

.similar-section {
	padding: 50px 0 110px;
	@media screen and (min-width: 1024px){
		padding: 90px 0 110px;
	}
	@media screen and (min-width: 1920px){
		padding: 100px 0 150px;
	}
	.categories-wrap {
		@media screen and (min-width: 768px){
			display: flex;
		}

		.slide {
			@media screen and (min-width: 1024px){
				width: 33.33%;
			}
		}

		.tovar {
			width: 100%;
			@media screen and (min-width: 1024px){
				width: 100%;
			}
			@media screen and (min-width: 1200px){
			}
		}
	}
}