.main-slider {
	position: relative;
	.slide {
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(81, 107, 175, .47);
			z-index: 1;
		}
	}

	.slide-text {
		padding: 60px 15px;
		position: relative;
		z-index: 2;
		@media screen and (min-width: 768px) {
			padding: 110px 15px;
		}
		@media screen and (min-width: 1100px) {
			padding: 170px 15px;
		}
		@media screen and (min-width: 1440px) {
			padding: 220px 15px;
		}
	}

	.slick-prev {
		display: none !important;
	}

	.slick-next {
		@media screen and (min-width: 768px) {
			position: absolute;
			right: 0;
			top: 40%;
			width: 100px;
			height: 1px;
			background: #fff;
			z-index: 1;
		}

		&:before {
			content: 'ДАЛI';
			position: absolute;
			left: 0;
			top: -17px;
			color: #ffffff;
			font-size: 16px;
			font-weight: 300;
			text-transform: uppercase;
		}
	}
}

.slider-control {
	position: relative;
	top: -125px;
	z-index: 1;
	width: 290px;
	margin: 0 auto;
	box-shadow: 0px 14px 15px 2px rgba(0, 0, 0, 0.1);
	@media screen and (min-width: 620px) {
		width: 580px;
	}
	@media screen and (min-width: 900px) {
		width: 870px;
	}
	@media screen and (min-width: 1100px) {
		width: 1050px;
	}

	.slick-slide {
		width: 290px !important;
		@media screen and (min-width: 1100px) {
			width: 350px !important;
		}
	}

	.slick-current {
		.page {
			background-color: #f3f3f3;
			&:before {
				transition: all .3s ease-in-out;
				position: absolute;
				content: '';
				left: 50%;
				transform: translateX(-50%);
				top: -32px;
				border: 18px solid transparent; border-bottom: 18px solid #f3f3f3;
			}
		}
	}
}

.activity-slider {
	position: relative;
	max-width: 350px;
	width: 100%;
	@media screen and (min-width: 800px) {
		width: 350px;
		max-width: 100%;
	}
	@media screen and (min-width: 1080px) {
		width: 640px;
	}
	@media screen and (min-width: 1320px) {
		width: 960px;
	}
	.activity {
		margin: 15px auto;
	}
	.slick-arrow {
		display: none !important;
		position: absolute;
		top: 45%;
		width: 30px;
		height: 30px;
		background-color: #fff;
		border-radius: 50%;
		box-shadow: -5px 0 14px 2px rgba(0, 0, 0, 0.1);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 50%;
		z-index: 10;
		@media screen and (min-width: 800px) {
			width: 40px;
			height: 40px;
			display: inline-block !important;
		}
		@media screen and (min-width: 1024px) {
			width: 50px;
			height: 50px;
		}
	}

	.slick-prev {
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 31.494 31.494' style='enable-background:new 0 0 31.494 31.494;' xml:space='preserve'%3E%3Cpath style='fill:%231E201D;' d='M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554 c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587 c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z'/%3E%3C/svg%3E%0A");
		@media screen and (min-width: 800px) {
			left: -30px;
		}
		@media screen and (min-width: 1080px) {
			left: -60px;
		}
		@media screen and (min-width: 1320px) {
			left: 15px;
		}
	}

	.slick-next {
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 31.49 31.49' style='enable-background:new 0 0 31.49 31.49;' xml:space='preserve'%3E%3Cpath style='fill:%231E201D;' d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111 C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587 c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z'/%3E%3C/svg%3E%0A");
		@media screen and (min-width: 800px) {
			right: -30px;
		}
		@media screen and (min-width: 1080px) {
			right: -60px;
		}
		@media screen and (min-width: 1320px) {
			right: 15px;
		}
	}
}

.partners-slider {
	position: relative;
	width: 90%;
	margin: 50px auto 0;
	.slick-arrow {
		display: none !important;
		position: absolute;
		
		width: 30px;
		height: 30px;
		background-color: #fff;
		border-radius: 50%;
		box-shadow: -5px 0 14px 2px rgba(0, 0, 0, 0.1);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 50%;
		z-index: 10;
		@media screen and (min-width: 800px) {
			width: 40px;
			height: 40px;
			display: inline-block !important;
			top: 18%;
		}
		@media screen and (min-width: 1024px) {
			width: 50px;
			height: 50px;
			top: 12%;
		}
	}

	.slick-prev {
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 31.494 31.494' style='enable-background:new 0 0 31.494 31.494;' xml:space='preserve'%3E%3Cpath style='fill:%231E201D;' d='M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554 c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587 c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z'/%3E%3C/svg%3E%0A");
		@media screen and (min-width: 800px) {
			left: -50px;
		}
		
		@media screen and (min-width: 1320px) {
			left: -50px;
		}
	}

	.slick-next {
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 31.49 31.49' style='enable-background:new 0 0 31.49 31.49;' xml:space='preserve'%3E%3Cpath style='fill:%231E201D;' d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111 C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587 c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z'/%3E%3C/svg%3E%0A");
		@media screen and (min-width: 800px) {
			right: -50px;
		}
		
		@media screen and (min-width: 1320px) {
			right: -50px;
		}
	}
}