header.header
	.container
		a(href="#").logo

		nav.nav
			ul.nav-list
				li
					a(href="#") Почему мы
				li
					a(href="#") Как это работает?

		.btn-wrap
			span.sign-btn Sign In
			span.sign-btn.active Join for free