.footer {
	position: fixed;
	top: 0;
	left: -100%;
	background: linear-gradient(180deg, #8051A1 0%, #5A2B7C 100%);
	width: 100%;
	height: 100vh;
	z-index: 10;
	padding-top: 100px;
	transition: all .3s ease;

	&.active {
		left: 0;
		transition: all .3s ease;
	}

	@media screen and (min-width: 768px){
		top: auto;
		left: auto;
		height: auto;
		bottom: 32px;
		left: 50%;
		transform: translateX(-50%);
		background: transparent;
		padding-top: 0;
	}

	@media screen and (min-width: 1024px){
		bottom: 20px;
	}

	@media screen and (min-width: 1600px){
		bottom: 48px;
	}
	@media screen and (min-width: 1750px){
		left: calc(50% + 55px);
	}

	.container {
		max-width: 1760px;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;

		@media screen and (min-width: 768px){
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
		}
		@media screen and (min-width: 1600px){
			align-items: flex-start;
		}
		@media screen and (min-width: 1750px){
			padding-right: 55px;
		}
		@media screen and (min-width: 2000px){
			padding-right: 15px;
		}
	}
	
	&.footer404 {
		left: 50%;
	}

	.footer-close {
		position: absolute;
		top: 20px;
		left: calc(50% - 20px);
		z-index: 11;
		width: 40px;
		height: 40px;
		cursor: pointer;
		@include bg-img-center;
		background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='18.8462' stroke='white' stroke-width='2.30769'/%3E%3Cline x1='12.3754' y1='12.4136' x2='28.2764' y2='28.3146' stroke='white' stroke-width='3.84615' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='28.2769' y1='13.0644' x2='12.3758' y2='28.9654' stroke='white' stroke-width='3.84615' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		@media screen and (min-width: 768px){
			display: none;
		}
	}
}

.soc {
	display: flex;
	order: 2;
	padding-top: 40px;
	@media screen and (min-width: 768px){
		padding-top: 0;
		margin: 0 0 68px;
		order: 1;
	}
	@media screen and (min-width: 1600px){
		padding-top: 52px;
		margin: 0 22px 0 0;
	}

	&__item {
		margin: 0 14px;
		@media screen and (min-width: 768px){
			margin: 0 28px 0 0;
		}
	}

	&__icon {
		width: 20px;
		height: 20px;
		@include bg-img-center;

		&_you {
			width: 25px;
			background-image: url("data:image/svg+xml,%3Csvg width='25' height='21' viewBox='0 0 25 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.8812 1.9317C22.8451 0.712263 20.9321 0.214844 17.2788 0.214844H7.72093C3.98398 0.214844 2.03861 0.744349 1.00639 2.04263C0.273002 2.96504 0 4.61516 0 7.75488V12.6749C0 17.6758 1.19407 20.2148 7.72093 20.2148H17.2789C20.447 20.2148 22.2026 19.7759 23.3383 18.6998C24.5031 17.5962 25 15.7944 25 12.6749V7.75488C25 5.03264 24.9221 3.15655 23.8812 1.9317ZM16.576 10.8941L10.554 14.0102C10.4194 14.0799 10.2721 14.1144 10.1251 14.1144C9.95861 14.1144 9.7925 14.0701 9.64537 13.9819C9.36833 13.8157 9.19917 13.5184 9.19917 13.1977V6.98556C9.19917 6.66544 9.36787 6.36841 9.64435 6.20212C9.92093 6.03582 10.2649 6.02446 10.5519 6.17205L16.5739 9.26804C16.8803 9.42554 17.0727 9.73869 17.0731 10.0804C17.0735 10.4223 16.8819 10.7359 16.576 10.8941Z' fill='white'/%3E%3C/svg%3E%0A");
			&:hover {
				background-image: url("data:image/svg+xml,%3Csvg width='25' height='21' viewBox='0 0 25 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.8812 1.9317C22.8451 0.712263 20.9321 0.214844 17.2788 0.214844H7.72093C3.98398 0.214844 2.03861 0.744349 1.00639 2.04263C0.273002 2.96504 0 4.61516 0 7.75488V12.6749C0 17.6758 1.19407 20.2148 7.72093 20.2148H17.2789C20.447 20.2148 22.2026 19.7759 23.3383 18.6998C24.5031 17.5962 25 15.7944 25 12.6749V7.75488C25 5.03264 24.9221 3.15655 23.8812 1.9317ZM16.576 10.8941L10.554 14.0102C10.4194 14.0799 10.2721 14.1144 10.1251 14.1144C9.95861 14.1144 9.7925 14.0701 9.64537 13.9819C9.36833 13.8157 9.19917 13.5184 9.19917 13.1977V6.98556C9.19917 6.66544 9.36787 6.36841 9.64435 6.20212C9.92093 6.03582 10.2649 6.02446 10.5519 6.17205L16.5739 9.26804C16.8803 9.42554 17.0727 9.73869 17.0731 10.0804C17.0735 10.4223 16.8819 10.7359 16.576 10.8941Z' fill='%2362A4D8'/%3E%3C/svg%3E%0A");
			}
		}

		&_inst {
			background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.1927 0H6.0221C2.7015 0 0 2.7015 0 6.0221V14.1927C0 17.5133 2.7015 20.2148 6.0221 20.2148H14.1927C17.5133 20.2148 20.2148 17.5133 20.2148 14.1927V6.0221C20.2148 2.7015 17.5133 0 14.1927 0ZM10.1074 4.87919C7.22457 4.87919 4.87917 7.22459 4.87917 10.1074C4.87917 12.9903 7.22457 15.3357 10.1074 15.3357C12.9903 15.3357 15.3357 12.9903 15.3357 10.1074C15.3357 7.22455 12.9903 4.87919 10.1074 4.87919ZM10.1074 13.3021C8.34306 13.3021 6.91278 11.8718 6.91278 10.1075C6.91278 8.34309 8.3431 6.9128 10.1074 6.9128C11.8718 6.9128 13.3021 8.34309 13.3021 10.1075C13.3021 11.8718 11.8718 13.3021 10.1074 13.3021ZM16.5986 4.91842C16.5986 5.61032 16.0377 6.17122 15.3458 6.17122C14.6539 6.17122 14.093 5.61032 14.093 4.91842C14.093 4.22651 14.6539 3.66562 15.3458 3.66562C16.0377 3.66562 16.5986 4.22651 16.5986 4.91842Z' fill='white'/%3E%3C/svg%3E%0A");
			&:hover {
				background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.1927 0H6.0221C2.7015 0 0 2.7015 0 6.0221V14.1927C0 17.5133 2.7015 20.2148 6.0221 20.2148H14.1927C17.5133 20.2148 20.2148 17.5133 20.2148 14.1927V6.0221C20.2148 2.7015 17.5133 0 14.1927 0ZM10.1074 4.87919C7.22457 4.87919 4.87917 7.22459 4.87917 10.1074C4.87917 12.9903 7.22457 15.3357 10.1074 15.3357C12.9903 15.3357 15.3357 12.9903 15.3357 10.1074C15.3357 7.22455 12.9903 4.87919 10.1074 4.87919ZM10.1074 13.3021C8.34306 13.3021 6.91278 11.8718 6.91278 10.1075C6.91278 8.34309 8.3431 6.9128 10.1074 6.9128C11.8718 6.9128 13.3021 8.34309 13.3021 10.1075C13.3021 11.8718 11.8718 13.3021 10.1074 13.3021ZM16.5986 4.91842C16.5986 5.61032 16.0377 6.17122 15.3458 6.17122C14.6539 6.17122 14.093 5.61032 14.093 4.91842C14.093 4.22651 14.6539 3.66562 15.3458 3.66562C16.0377 3.66562 16.5986 4.22651 16.5986 4.91842Z' fill='%2362A4D8'/%3E%3C/svg%3E%0A");
			}
		}

		&_fb {
			background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M17.3049 0.214844H2.69506C1.20665 0.214844 0 1.42144 0 2.90989V17.5197C0 19.0081 1.2066 20.2148 2.69506 20.2148H9.90057L9.91286 13.0678H8.05607C7.81479 13.0678 7.61893 12.8728 7.618 12.6314L7.60907 10.3277C7.60814 10.0851 7.80457 9.88792 8.04721 9.88792H9.90064V7.66192C9.90064 5.07869 11.4783 3.67209 13.7827 3.67209H15.6737C15.9156 3.67209 16.1119 3.86823 16.1119 4.11022V6.05274C16.1119 6.29462 15.9158 6.49072 15.6739 6.49086L14.5135 6.4914C13.2603 6.4914 13.0176 7.08692 13.0176 7.96084V9.88799H15.7714C16.0338 9.88799 16.2374 10.1171 16.2064 10.3777L15.9334 12.6814C15.9072 12.9018 15.7203 13.068 15.4983 13.068H13.0299L13.0176 20.2148H17.305C18.7934 20.2148 20 19.0083 20 17.5198V2.90989C19.9999 1.42144 18.7934 0.214844 17.3049 0.214844Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.214844)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			&:hover {
				background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M17.3049 0.214844H2.69506C1.20665 0.214844 0 1.42144 0 2.90989V17.5197C0 19.0081 1.2066 20.2148 2.69506 20.2148H9.90057L9.91286 13.0678H8.05607C7.81479 13.0678 7.61893 12.8728 7.618 12.6314L7.60907 10.3277C7.60814 10.0851 7.80457 9.88792 8.04721 9.88792H9.90064V7.66192C9.90064 5.07869 11.4783 3.67209 13.7827 3.67209H15.6737C15.9156 3.67209 16.1119 3.86823 16.1119 4.11022V6.05274C16.1119 6.29462 15.9158 6.49072 15.6739 6.49086L14.5135 6.4914C13.2603 6.4914 13.0176 7.08692 13.0176 7.96084V9.88799H15.7714C16.0338 9.88799 16.2374 10.1171 16.2064 10.3777L15.9334 12.6814C15.9072 12.9018 15.7203 13.068 15.4983 13.068H13.0299L13.0176 20.2148H17.305C18.7934 20.2148 20 19.0083 20 17.5198V2.90989C19.9999 1.42144 18.7934 0.214844 17.3049 0.214844Z' fill='%2362A4D8'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='20' height='20' fill='%2362A4D8' transform='translate(0 0.214844)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			}
		}

		&_whats {
			background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7981 11.4922C14.7591 11.4733 13.3013 10.7551 13.0422 10.6623C12.9364 10.624 12.8234 10.587 12.7026 10.587C12.5058 10.587 12.3403 10.685 12.2117 10.8779C12.0662 11.0941 11.6253 11.6097 11.489 11.7636C11.4714 11.7837 11.4468 11.8084 11.4325 11.8084C11.4195 11.8084 11.1935 11.7155 11.1253 11.6857C9.56104 11.0064 8.37403 9.37268 8.21104 9.0967C8.18767 9.05709 8.18702 9.03891 8.18637 9.03891C8.19221 9.01813 8.24481 8.96554 8.27208 8.93826C8.3513 8.85969 8.43767 8.75645 8.52078 8.6558C8.56039 8.60839 8.59935 8.56099 8.63832 8.51619C8.75909 8.37593 8.81299 8.26684 8.87533 8.14021L8.9078 8.07463C9.05974 7.77203 8.92987 7.51684 8.88832 7.43437C8.8539 7.36554 8.23832 5.87983 8.17273 5.72333C8.01559 5.34671 7.80715 5.17139 7.51819 5.17139C7.49156 5.17139 7.51819 5.17139 7.40585 5.17593C7.26884 5.18178 6.52338 5.27983 6.19351 5.48762C5.84351 5.70775 5.25195 6.411 5.25195 7.64671C5.25195 8.75904 5.9578 9.80904 6.26104 10.2084C6.26884 10.2181 6.28247 10.2389 6.3026 10.2681C7.46299 11.9629 8.90974 13.2194 10.3766 13.8051C11.7883 14.3694 12.4571 14.4344 12.8377 14.4344C12.9974 14.4344 13.1253 14.422 13.2383 14.411L13.3097 14.4045C13.7974 14.361 14.8695 13.8058 15.113 13.1285C15.3052 12.5947 15.3558 12.0116 15.2279 11.7999C15.1403 11.6564 14.989 11.5837 14.7981 11.4922Z' fill='white'/%3E%3Cpath d='M10.1772 0C4.761 0 0.353854 4.37338 0.353854 9.74935C0.353854 11.4883 0.819439 13.1903 1.70061 14.6799L0.0135944 19.6571C-0.0175744 19.75 0.00580221 19.8526 0.073984 19.9221C0.123335 19.9727 0.190867 20 0.259698 20C0.286322 20 0.312296 19.9961 0.33827 19.9877L5.52788 18.3383C6.94801 19.0968 8.55321 19.4974 10.1772 19.4974C15.5935 19.4974 19.9993 15.124 19.9993 9.7487C20 4.37338 15.5935 0 10.1772 0ZM10.1772 17.4669C8.64866 17.4669 7.16814 17.0253 5.89541 16.1903C5.85256 16.1623 5.80321 16.1481 5.75321 16.1481C5.72658 16.1481 5.69996 16.1519 5.67463 16.1604L3.07528 16.987L3.91424 14.511C3.94152 14.4312 3.92788 14.3422 3.87788 14.274C2.90905 12.95 2.39671 11.3851 2.39671 9.74935C2.39671 5.49351 5.88697 2.03052 10.1779 2.03052C14.4675 2.03052 17.9578 5.49286 17.9578 9.74935C17.9578 14.0052 14.4675 17.4669 10.1772 17.4669Z' fill='white'/%3E%3C/svg%3E%0A");
			&:hover {
				background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7981 11.4922C14.7591 11.4733 13.3013 10.7551 13.0422 10.6623C12.9364 10.624 12.8234 10.587 12.7026 10.587C12.5058 10.587 12.3403 10.685 12.2117 10.8779C12.0662 11.0941 11.6253 11.6097 11.489 11.7636C11.4714 11.7837 11.4468 11.8084 11.4325 11.8084C11.4195 11.8084 11.1935 11.7155 11.1253 11.6857C9.56104 11.0064 8.37403 9.37268 8.21104 9.0967C8.18767 9.05709 8.18702 9.03891 8.18637 9.03891C8.19221 9.01813 8.24481 8.96554 8.27208 8.93826C8.3513 8.85969 8.43767 8.75645 8.52078 8.6558C8.56039 8.60839 8.59935 8.56099 8.63832 8.51619C8.75909 8.37593 8.81299 8.26684 8.87533 8.14021L8.9078 8.07463C9.05974 7.77203 8.92987 7.51684 8.88832 7.43437C8.8539 7.36554 8.23832 5.87983 8.17273 5.72333C8.01559 5.34671 7.80715 5.17139 7.51819 5.17139C7.49156 5.17139 7.51819 5.17139 7.40585 5.17593C7.26884 5.18178 6.52338 5.27983 6.19351 5.48762C5.84351 5.70775 5.25195 6.411 5.25195 7.64671C5.25195 8.75904 5.9578 9.80904 6.26104 10.2084C6.26884 10.2181 6.28247 10.2389 6.3026 10.2681C7.46299 11.9629 8.90974 13.2194 10.3766 13.8051C11.7883 14.3694 12.4571 14.4344 12.8377 14.4344C12.9974 14.4344 13.1253 14.422 13.2383 14.411L13.3097 14.4045C13.7974 14.361 14.8695 13.8058 15.113 13.1285C15.3052 12.5947 15.3558 12.0116 15.2279 11.7999C15.1403 11.6564 14.989 11.5837 14.7981 11.4922Z' fill='%2362A4D8'/%3E%3Cpath d='M10.1772 0C4.761 0 0.353854 4.37338 0.353854 9.74935C0.353854 11.4883 0.819439 13.1903 1.70061 14.6799L0.0135944 19.6571C-0.0175744 19.75 0.00580221 19.8526 0.073984 19.9221C0.123335 19.9727 0.190867 20 0.259698 20C0.286322 20 0.312296 19.9961 0.33827 19.9877L5.52788 18.3383C6.94801 19.0968 8.55321 19.4974 10.1772 19.4974C15.5935 19.4974 19.9993 15.124 19.9993 9.7487C20 4.37338 15.5935 0 10.1772 0ZM10.1772 17.4669C8.64866 17.4669 7.16814 17.0253 5.89541 16.1903C5.85256 16.1623 5.80321 16.1481 5.75321 16.1481C5.72658 16.1481 5.69996 16.1519 5.67463 16.1604L3.07528 16.987L3.91424 14.511C3.94152 14.4312 3.92788 14.3422 3.87788 14.274C2.90905 12.95 2.39671 11.3851 2.39671 9.74935C2.39671 5.49351 5.88697 2.03052 10.1779 2.03052C14.4675 2.03052 17.9578 5.49286 17.9578 9.74935C17.9578 14.0052 14.4675 17.4669 10.1772 17.4669Z' fill='%2362A4D8'/%3E%3C/svg%3E%0A");
			}
		}

		&_tel {
			background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M19.0004 0.791667L16.2929 17.0842C16.2612 17.29 16.1345 17.4483 15.9604 17.5592C15.8654 17.6067 15.7545 17.6383 15.6279 17.6383C15.5487 17.6383 15.4537 17.6225 15.3745 17.5908L10.5612 15.6275L7.99619 18.7625C7.85369 18.9208 7.66368 19 7.47368 19C7.39452 19 7.31535 18.9842 7.23619 18.9525C6.96702 18.8575 6.79285 18.6042 6.79285 18.3192V14.63L15.9604 3.40417L4.62368 13.2208L0.427851 11.4792C0.174518 11.3842 0.0161845 11.1625 0.000351142 10.9092C-0.0154822 10.6558 0.111184 10.4183 0.332851 10.2758L17.987 0.095C18.0979 0.0316667 18.2087 0 18.3354 0C18.4779 0 18.6045 0.0475 18.7154 0.110833C18.937 0.269167 19.032 0.5225 19.0004 0.791667Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='19' height='19' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			&:hover {
				background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M19.0004 0.791667L16.2929 17.0842C16.2612 17.29 16.1345 17.4483 15.9604 17.5592C15.8654 17.6067 15.7545 17.6383 15.6279 17.6383C15.5487 17.6383 15.4537 17.6225 15.3745 17.5908L10.5612 15.6275L7.99619 18.7625C7.85369 18.9208 7.66368 19 7.47368 19C7.39452 19 7.31535 18.9842 7.23619 18.9525C6.96702 18.8575 6.79285 18.6042 6.79285 18.3192V14.63L15.9604 3.40417L4.62368 13.2208L0.427851 11.4792C0.174518 11.3842 0.0161845 11.1625 0.000351142 10.9092C-0.0154822 10.6558 0.111184 10.4183 0.332851 10.2758L17.987 0.095C18.0979 0.0316667 18.2087 0 18.3354 0C18.4779 0 18.6045 0.0475 18.7154 0.110833C18.937 0.269167 19.032 0.5225 19.0004 0.791667Z' fill='%2362A4D8'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='19' height='19' fill='%2362A4D8'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			}
		}
	}
}

.address-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 320px;
	padding-top: 20px;
	order: 1;
	@media screen and (min-width: 768px){
		width: 305px;
		position: absolute;
		left: 46px;
		bottom: 0;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	@media screen and (min-width: 1600px){
		flex: none;
		position: relative;
		margin-right: auto;
		padding-top: 40px;
	}

	a {
		white-space: nowrap;
		width: 50%;
		padding-bottom: 4px;
		text-align: center;
		@media screen and (min-width: 768px){
			text-align: left;
		}
		&:hover {
			color: #62A4D8;
		}
	}

	p {
		width: 195px;
		text-align: center;
		@media screen and (min-width: 768px){
			text-align: right;
			width: 100%;
		}
		@media screen and (min-width: 768px){
			text-align: left;
		}
	}

	a, p {
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.1em;
		color: #FFFFFF;
	}
}

.form-wrap {
	order: 3;
	@media screen and (min-width: 768px){
		margin-left: auto;
	}
}

.mask {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
	width: 100%;
	height: 100vh;
	background-color: #a58861;
	display: none;
	&.active {
		display: block;
	}
}

