footer.footer.footer404
	.container
		ul.soc
			li.soc__item
				a(href="#").soc__icon.soc__icon_you
			li.soc__item
				a(href="#").soc__icon.soc__icon_inst
			li.soc__item
				a(href="#").soc__icon.soc__icon_fb
			li.soc__item
				a(href="#").soc__icon.soc__icon_whats
			li.soc__item
				a(href="#").soc__icon.soc__icon_tel

		.address-info
			a(href="mailto:Info@hp.com").mail Info@hp.com
			a(href="tel:+380948588694").tel +38 094 858 86 94
			p.address 03190, м. Київ, вул. Черняхівського, буд. 16/30, оф. 3