.mask.js-mask

.modal.js-dont-modal
	.modal__wrap
		span.modal__close
		span.modal__title.modal__title_upper Не спеши...
		.modal__text-wrap
			p.modal__text Ведь при покупке сумки или рюкзака 
				br
				| мы делаем скидку
				br
			| 20% на любые кошельки
		.modal__nav.basket-nav
			a(href="#").left-arrow Посмотреть кошельки
			a(href="#").right-arrow Оформить заказ

.modal.js-delivery-modal
	.modal__wrap
		span.modal__close
		span.modal__title Бесплатная доставка до пункта выдачи от 3000 рублей
		.modal__text-wrap
			p.modal__text Вам не зватает совсем чуть-чуть до бусплатной доставки.
			p.modal__text Желаете преобрести что-нибудь еще?
		.modal__nav.basket-nav
			a(href="#").left-arrow Подобрать товары
			a(href="#").right-arrow Оформить заказ

.modal.js-info-modal
	.modal__wrap
		span.modal__close
		span.modal__title.modal__title_normal Пожалуйста выберите подклад.
			br
			| В этом изделии он по умолчанию.

.modal.js-basket-modal
	.modal__wrap
		span.modal__close
		span.modal__title Корзина

		.modal-basket
			.modal-basket__wrap
				.modal-basket__img
					img(src="images/13.jpg", alt="")
				.modal-basket__info
					span.modal-basket__name Alford винный Vintage
					.modal-basket__info-row
						span Колличество
						span 2
					.modal-basket__info-row
						span Тиснение инициалов
						span 1
					.modal-basket__info-row
						span Дополнительный карман на молнии
						span 1
					.modal-basket__info-row
						span ИТОГО
						span 12500 руб
			.modal-basket__footer
				.modal-basket__info-row
					span ИТОГО
					span 12500 руб

		.modal__nav.basket-nav
			a(href="#").left-arrow Продолжить покупки
			a(href="#").right-arrow Оформить заказ
