include bem

doctype html
html(lang='ru')
	include head
	body(class=pageClass)
		.wrapper
			block header
			block content
			block footer
		script(src='js/jquery-3.4.1.min.js')
		script(src='https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js')
		script(src='js/libs/libs.min.js')
		script(src='js/app.js')
