.search-form {

	&__wrap {
		width: 100%;
		margin-bottom: 30px;
	}

	&__input {
		padding: 10px 15px;
		border: 2px solid #000;
		font-size: 18px;
		line-height: 1;
		color: #000;
		width: 100%;

		&::placeholder {
			color: #605f5f;
			font-size: 18px;
		}
	}
}

.filter-form {
	display: none;
	margin-bottom: 20px;
	@media screen and (min-width: 600px) {
		display: block;
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__filter-ul {
		display: none;
	}

	&__filter-name {
		font-weight: 400;
		font-size: 18px;
		margin-bottom: 10px;
		cursor: pointer;
	}

	&__filter-field {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0 0 20px 15px;
	}

	&__label {
		margin-bottom: 5px;
		font-weight: 300;
		color: #000;
		cursor: pointer;
		border-bottom: 1px solid transparent;
		transition: all .3s ease;
		&:hover {
			border-bottom: 1px solid #000;
		}
	}

	&__color-wrap {
		display: flex;
		margin-bottom: 10px;

		label {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			margin-right: 12px;
			cursor: pointer;
			position: relative;
		}
	}

	&__material-wrap {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #454545;
		label {
			width: 40px;
			height: 40px;
			margin: 0 10px 10px 0;
			cursor: pointer;
			position: relative;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	}

	&__service {
		label {
			display: inline-block;
			position: relative;
			padding-left: 20px;
			font-size: 11px;
			margin-bottom: 15px;
			cursor: pointer;
			
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 15px;
				height: 15px;
				border: 1px solid #000;
			}
			&:after {
				content: '✔';
				position: absolute;
				top: 50%;
				left: 1px;
				transform: translateY(-50%);
				font-size: 18px;
				opacity: 0;
			}

			a {
				position: absolute;
				top: -5px;
				right: -20px;
				width: 15px;
				height: 15px;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				background-image: url('../images/ph.svg');
			}
		}
	}

	&__symbol {
		width: 70px;
		height: 70px;
		margin-bottom: 15px;
		img {
			width: 100%;
		}
	}

	&__symbol-text {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 300;
		margin-bottom: 15px;
		display: block;
	}

	&__symbol-img {
		margin-bottom: 10px;

		img {
			width: 100%;
		}
	}

	&__input-text {
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px solid #454545;

		input {
			width: 100%;
			padding: 5px;
			border: 2px solid #000;
		}
	}

	&__buy-wrap {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
		width: 100%;
		@media screen and (min-width: 600px) {
			margin-top: 80px;
			position: fixed;
			left: 15px;
			bottom: 15px;
			width: 250px;
		}
		span {
			color: #000000;
			font-size: 16px;
			font-weight: 300;
			margin-bottom: 10px;
		}

		button {
			padding: 5px 50px;
			color: #000000;
			font-size: 18px;
			border: 2px solid #839481;
			text-align: center;
			@media screen and (max-width: 600px) {
				width: 100%;
				display: block;
			}

			&:hover {
				color: #fff;
				background-color: #839481;
			}
		}
	}


	input[type="checkbox"] {
		display: none;
	}
	input[type="radio"] {
		display: none;
	}

	input[type="checkbox"]:checked + .filter-form__label {
		border-bottom: 1px solid #000;
	}

	input[type="checkbox"]:checked + .service-label {
		&:after {
			opacity: 1;
		}
	}

	input[type="radio"]:checked + .color-label {
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 24px;
			height: 24px;
			border-radius: 50%;
			border: 1px solid #000;
		}
	}

	input[type="radio"]:checked + .material-label {
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 44px;
			height: 44px;
			border: 1px solid #000;
		}
	}
}

