extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.intro-section
			.container
				.intro-wrap.typography
					h1 Rise to stardom and start earning real money with 
						mark TikTok
					p The first automatic promotion service on TT in the whole world. Get your spin-off and open a new sales channel!
					a(href="#").main-btn Try for free
				.intro-img
					img(src="images/intro.svg", alt="")

		section.choose-section
			.container
				h2.section-title Why people choose us?
				.choose-wrap
					.choose
						.choose__head
							.choose__img
								img(src="images/c1.svg", alt="")
							.choose__dot
						h2.choose__title 01. Цены
						p.choose__text Берем цену дешевле чем блогеры в десятки раз
					.choose
						.choose__head
							.choose__img
								img(src="images/c2.svg", alt="")
							.choose__dot
						h2.choose__title 02. Автоматически
						p.choose__text У нас автоматическая раскрутка - в пару кликов;
					.choose
						.choose__head
							.choose__img
								img(src="images/c3.svg", alt="")
							.choose__dot
						h2.choose__title 03. Легкость панели
						p.choose__text Наша панель удобнее, чем у наших конкурентов, трудностей никаких не будет;
					.choose
						.choose__head
							.choose__img
								img(src="images/c4.svg", alt="")
							.choose__dot
						h2.choose__title 04. Результат
						p.choose__text Мы вам гарантируем то, что результатом Вы будете довольны!
					.choose
						.choose__head
							.choose__img
								img(src="images/c5.svg", alt="")
							.choose__dot
						h2.choose__title 05. Цены
						p.choose__text Мы вам гарантируем то, что результатом Вы будете довольны!
					.choose
						.choose__head
							.choose__img
								img(src="images/c6.svg", alt="")
							.choose__dot
						h2.choose__title 06. Цены
						p.choose__text Берем цену дешевле чем блогеры в десятки раз


		section.awaits-section
			.container
				.awaits-wrap
					.awaits-blocks
						.awaits
							.awaits__img-wrap
								.awaits__img
									img(src="images/awaits.svg", alt="")
								span 01
							p.awaits__descr Millions of subscribers and followers
						.awaits
							.awaits__img-wrap
								.awaits__img
									img(src="images/awaits.svg", alt="")
								span 02
							p.awaits__descr Advertising contracts
						.awaits
							.awaits__img-wrap
								.awaits__img
									img(src="images/awaits.svg", alt="")
								span 03
							p.awaits__descr A new sales channel for your business
						.awaits
							.awaits__img-wrap
								.awaits__img
									img(src="images/awaits.svg", alt="")
								span 04
							p.awaits__descr A community of the talented and independent bloggers
						.awaits
							.awaits__img-wrap
								.awaits__img
									img(src="images/awaits.svg", alt="")
								span 05
							p.awaits__descr Using a fast-growing platform in the world
					.awaits-content
						h2.awaits-title What awaits you at TickTok?
						.awaits-block
							.awaits-value
								span 500 000
								p Млн. пользователей;
							.awaits-value
								span 150
								p Стран для пользования;
							.awaits-value
								span 60
								p Минут в день в среднем проводит пользователь в ТТ;
						.awaits-img
							img(src="images/awaist-img.svg", alt="")

		section.get-section
			.container
				.get-wrap
					.typography
						h2 How to get all this? We will help you!
						p Being popular on TikTok will boost your account and make your business flourish. With our services it is very easy to reach your goal. Just try automatic likes, subscribers or comments likes, and you will get the desired results within several hours!
						a(href="#").main-btn Try for free
						.get-img
							img(src="images/get.svg", alt="")

					.get-info
							.get
								.get__wrap
									h3.get__title Wide-sweeping Auto-Licking
									p.get__text We automatically give likes to the posts of people on your behalf. You draw their attention and obtain thousands of new subscribers.
									.get__icon
							.get
								.get__wrap
									h3.get__title Wide-sweeping Auto Subscription
									p.get__text We subscribe to various people on your behalf, and they subscribe to you in their turn. You can lure away the audience from your competitors or choose those subscribed to the necessary hashtags. You will receive new subscribers from the first minutes!
									.get__icon
							.get
								.get__wrap
									h3.get__title Comments Liking
									p.get__text We give likes to the comments of the users you need. They will definitely see such notifications and go to your page. And it leads to more fans and views!
									.get__icon
		section.developing-section
			.container
				.developing-wrap
					.developing-info
						h2.developing-title Start developing your account now with our
						h2.developing-title 
							mark 3 day FREE 
							| period
						p.developing-description Try our services for free for 3 days and make sure that you will benefit greatly from our automatic promotion!
						a(href="#").main-btn Get 3 days for free
					.developing-content
						.developing-block
							.step
								span.step__numb 01
								.step__info
									span.step__title Registration
									p.step__descr Get registered on our website and link your TT account.
							.step
								span.step__numb 02
								.step__info
									span.step__title Promotion
									p.step__descr Try our promotion services free for three days and make your order
							.step
								span.step__numb 03
								.step__info
									span.step__title Results
									p.step__descr Enjoy the results!

		section.subscribe-section
			.container
				.subscribe-wrap
					.subscribe-block
						.subscribe-bg
							img(src="images/sub-bg.svg", alt="")
						h3 Subscribe and get a checklist!
						p Subscribe to our newsletter right now and get a unique checklist for a good profile, ready to recruit subscribers!
						form(action="#").mainForm
							.mainForm__wrap
								input(type="text" placeholder="Your email").mainForm__input
								button(type="submit").mainForm__btn Subscribe
						.subscribe-man
							img(src="images/man.svg", alt="")
					.subscribe-img
						img(src="images/sub-img.svg", alt="")


		section.reviews-section
			.container
				.typography
					h2 Resource Reviews
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s

				.reviews-slider.js-reviews-slider
					.slide
						.review
							.review__wrap
								.review__head
									.review__photo
										img(src="images/r1.jpg", alt="")
									.review__info
										span.review__name Lily
										span.review__date 07 february, 2020
								p.review__text I am extremely satisfied to have used the services of Addpopular, and namely comments liking and massfall hashtag. Everything functioned great and I received quickly the desired results. I must admit that it is the best website that offers promotion for TikTok. Apart from that the customer support is available all around the clock and the experienced staff are always ready to help you to find the right solution. I would like to recommend this website to everyone who wants to promote the business.
					.slide
						.review
							.review__wrap
								.review__head
									.review__photo
										img(src="images/r2.jpg", alt="")
									.review__info
										span.review__name Emily
										span.review__date 07 february, 2020
								p.review__text I would like to share my impressions of using this promotional website. When I tried the services for the first time, I was really astonished by high quality and instant promotion. The results are obvious within several days after you make an order. As for me, I regularly order auto-subscription and auto-liking, but the developers promise to add some more functions, so I am looking forward to new tools that I will be glad to utilize, as soon as they are available.
					.slide
						.review
							.review__wrap
								.review__head
									.review__photo
										img(src="images/r1.jpg", alt="")
									.review__info
										span.review__name Alex
										span.review__date 07 february, 2020
								p.review__text I have been searching for such a promotional service for a long time, on the Internet there are plenty of websites that offer Instagram or Facebook promotion, but it is difficult to find proper reliable services for TikTok. And at last I have come across one and would like to recommend it! You can find here a lot of useful tools that will promote your account quickly. Personally, I use comments liking and auto liking, and I have reached my goals due to these services. 
					.slide
						.review
							.review__wrap
								.review__head
									.review__photo
										img(src="images/r1.jpg", alt="")
									.review__info
										span.review__name Lily
										span.review__date 07 february, 2020
								p.review__text I am extremely satisfied to have used the services of Addpopular, and namely comments liking and massfall hashtag. Everything functioned great and I received quickly the desired results. I must admit that it is the best website that offers promotion for TikTok. Apart from that the customer support is available all around the clock and the experienced staff are always ready to help you to find the right solution. I would like to recommend this website to everyone who wants to promote the business.
				
				.review-btn
					a(href="#").main-btn Leave a comment
		
		section.about-section
			.container
				h2.section-title About us write
				.about-wrap
					a(href="#").partner
						.partner__wrap
							img(src="images/partner.svg", alt="")
					a(href="#").partner
						.partner__wrap
							img(src="images/partner.svg", alt="")
					a(href="#").partner
						.partner__wrap
							img(src="images/partner.svg", alt="")
					a(href="#").partner
						.partner__wrap
							img(src="images/partner.svg", alt="")
					a(href="#").partner
						.partner__wrap
							img(src="images/partner.svg", alt="")
					a(href="#").partner
						.partner__wrap
							img(src="images/partner.svg", alt="")

		section.video-section
			.container
				.video-wrap
					.typography
						h2 Lorem Ipsum is simply dummy text
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
						a(href="#").main-btn Watch video

					.img-wrap
						img(src="images/video.svg", alt="")



block footer
	include ../blocks/footer/footer		