extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.intro-section
			.container
				.intro-wrap
					h1 Rise to stardom and start earning real money with 
						mark TikTok
					p The first automatic promotion service on TT in the whole world. Get your spin-off and open a new sales channel!
					a(href="#").main-btn Try for free
				.intro-img
					img(src="images/intro.svg", alt="")

		section.choose-section
			.container
				h2.section-title Why people choose us?
				.choose-wrap
					.choose
						.choose__head
							.choose__img
								img(src="images/c1.svg", alt="")
							.choose__dot
						h2.choose__title 01. Цены
						p.choose__text Берем цену дешевле чем блогеры в десятки раз
					.choose
						.choose__head
							.choose__img
								img(src="images/c2.svg", alt="")
							.choose__dot
						h2.choose__title 02. Автоматически
						p.choose__text У нас автоматическая раскрутка - в пару кликов;
					.choose
						.choose__head
							.choose__img
								img(src="images/c3.svg", alt="")
							.choose__dot
						h2.choose__title 03. Легкость панели
						p.choose__text Наша панель удобнее, чем у наших конкурентов, трудностей никаких не будет;
					.choose
						.choose__head
							.choose__img
								img(src="images/c4.svg", alt="")
							.choose__dot
						h2.choose__title 04. Результат
						p.choose__text Мы вам гарантируем то, что результатом Вы будете довольны!
					.choose
						.choose__head
							.choose__img
								img(src="images/c5.svg", alt="")
							.choose__dot
						h2.choose__title 05. Цены
						p.choose__text Мы вам гарантируем то, что результатом Вы будете довольны!
					.choose
						.choose__head
							.choose__img
								img(src="images/c6.svg", alt="")
							.choose__dot
						h2.choose__title 06. Цены
						p.choose__text Берем цену дешевле чем блогеры в десятки раз


block footer
	include ../blocks/footer/footer		