.intro-section {
	width: 100%;
	height: 49vw;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: 68px;
	z-index: -1;
	margin-bottom: 8vw;
}

.sub-link {
	display: block;
	text-align: center;
	color: #000000;
	font-size: 42px;
	font-weight: 400;
}

.new-section {
	padding-bottom: 70px;
	@media screen and (min-width: 1200px) {
		padding-bottom: 120px;
	}
	@media screen and (min-width: 1600px) {
		padding-bottom: 220px;
	}

	.sub-link {
		margin-bottom: 100px;
	}

	.new-product {
		padding: 40px 0;
	}

	.product-slider {
		max-width: 1900px;
		width: 100%;
		margin: 0 auto;
	}

	.product {
		display: flex;
		align-items: center;

		&__img {
			width: 57%;
			height: 27vw;
			background-size: cover;
			margin-right: 110px;
		}

		&__name {
			font-family: "Twentytwelve Sans C";
			font-size: 35px;
			font-weight: 400;
		}
	}
}

.instagram-section {
	padding-bottom: 70px;
	@media screen and (min-width: 1200px) {
		padding-bottom: 130px;
	}

	.section-title {
		margin-bottom: 40px;
		@media screen and (min-width: 1200px) {
			margin-bottom: 90px;
		}
	}

	.instagram-wrap {
		display: flex;
		flex-wrap: wrap;
		// background-color: #fafafa;
		// padding: 22px 0;
		@media screen and (min-width: 480px) {
			margin: 0 -10px;
		}
		@media screen and (min-width: 1360px) {
			margin: 0 -20px;
		}
	}

	.instagram {
		margin-bottom: 20px;
		@media screen and (min-width: 480px) {
			width: 50%;
			padding: 0 10px;
		}
		@media screen and (min-width: 768px) {
			width: 33.33%;
		}
		@media screen and (min-width: 1024px) {
			width: 20%;
		}
		@media screen and (min-width: 1360px) {
			padding: 0 20px;
		}

		&:hover {
			transform: scale(1.1, 1.1);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}