.intro-section {
	width: 100%;
	position: relative;
	top: 100px;

	.slide {
		height: 49vw;
		min-height: 85vh;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}

.catalog-section {
	padding: 120px 0 50px;
	@media screen and (min-width: 1200px) {
		padding: 180px 0 50px;
	}

	.catalog-head {
		display: flex;
		flex-wrap: wrap;
		@media screen and (min-width: 768px) {
			margin: 0 -15px 30px;
		}
	}

	.catalog-link {
		width: 100%;
		margin: 0 0 30px;
		position: relative;
		@media screen and (min-width: 768px) {
			padding: 0 15px;
			margin-bottom: 0;
			width: 50%;
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	.catalog-text {
		position: absolute;
		left: 25px;
		bottom: 25px;
		color: #ffffff;
		font-family: "Twentytwelve Sans C";
		font-size: 30px;
		font-weight: 400;
		@media screen and (min-width: 768px) {
			font-size: 45px;
		}
		@media screen and (min-width: 1024px) {
			font-size: 60px;
		}
		@media screen and (min-width: 1600px) {
			font-size: 80px;
		}
	}
}

.new-section {
	padding-bottom: 90px;
	@media screen and (min-width: 1200px) {
		padding-bottom: 120px;
	}
	@media screen and (min-width: 1600px) {
		padding-bottom: 220px;
	}

	.product-slider {
		max-width: 1900px;
		width: 100%;
		margin: 0 auto;
	}

	.product {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media screen and (min-width: 768px) {
			flex-direction: row;
		}

		&__img {
			width: 100%;
			height: 27vw;
			min-height: 250px;
			max-height: 630px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			margin-bottom: 20px;
			@media screen and (min-width: 768px) {
				width: 57%;
				margin: 0 40px 0 0;
			}
			@media screen and (min-width: 1360px) {
				margin-right: 80px;
			}
		}

		&__name {
			font-family: "Twentytwelve Sans C";
			font-size: 20px;
			font-weight: 400;
			text-align: center;
			@media screen and (min-width: 768px) {
				font-size: 25px;
				width: 33%;
			}
			@media screen and (min-width: 1024px) {
				font-size: 35px;
			}
		}
	}
}

.instagram-section {
	padding-bottom: 70px;
	@media screen and (min-width: 1200px) {
		padding-bottom: 130px;
	}

	.section-title {
		margin-bottom: 40px;
		@media screen and (min-width: 1200px) {
			margin-bottom: 90px;
		}
	}

	.instagram-wrap {
		display: flex;
		flex-wrap: wrap;
		@media screen and (min-width: 480px) {
			margin: 0 -10px;
		}
		@media screen and (min-width: 1360px) {
			margin: 0 -20px;
		}
	}

	.instagram {
		margin-bottom: 20px;
		@media screen and (min-width: 480px) {
			width: 50%;
			padding: 0 10px;
		}
		@media screen and (min-width: 768px) {
			width: 33.33%;
		}
		@media screen and (min-width: 1024px) {
			width: 20%;
		}
		@media screen and (min-width: 1360px) {
			padding: 0 20px;
		}

		&:hover {
			transform: scale(1.1, 1.1);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}