.product-img {
	background-image: url('../images/11.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 50vw;
	cursor: url("../images/plus_cursor.png") 25 25, pointer;
}