extends ../layouts/default

block head
    - var pageTitle = '';

block header
    include ../blocks/header/header

block content
    main.main
        section.info-section
            .container
                .info-wrap
                    .user-info
                        span.user-info__title.program-icon Affiliate program
                        .user-info__wrap

                    
                    span.policy-title How does it work?
                    
                    .affiliate-list
                        ul
                            li Share an affiliate link with friends, recommend our service in social networks or launch an ad.
                            li The user clicks on your link and registers for the service.
                            li You get a lifetime passive income of 
                                mark 10-30% 
                                | of the amount of services paid for.
                            li Percentage of affiliate earnings changes from the funds received:
                          
                        ol
                            li 
                                mark 10% 
                                | - from 0 $ -100 $
                            li 
                                mark 15% 
                                | - from 101 $ -500 $
                            li 
                                mark 20% 
                                | - from 501 $ -1000 $
                            li 
                                mark 25% 
                                | - from 1001 $ -3000 $
                            li 
                                mark 30% 
                                | - from 3001 $

                        ul
                            li Remuneration is credited to your balance at each future partner's payment.
                            li It is possible to withdraw the earned funds to your wallet (from 
                                mark 50$
                                | ), or you can for any services on the site.

                        ul
                            li It is strictly forbidden to follow one's own referral link and register for a bonus.
                            li The Service Administration has the right to block both accounts without refund.

                        span.policy-title Example:
                        
                        ul
                            li When the amount of money earned will be equal to 
                                mark $101,
                            li you will earn 
                                mark 15% 
                                | from new orders!
                            li When the amount of money earned will be equal to 
                                mark 3001$
                                | ,- your earnings will be 
                                mark 30% 
                                | from new orders!
                            li Clients who click on your affiliate link will be only yours!
                            li For the rest of your life, you'll get 
                                mark 30% 
                                | from them!
                            li For example: If the customers have spent 
                                mark $1000 
                                | this day, you get 
                                mark $300 (30%)
                                |, and this is how it works every day... it's the most profitable program!
                    