extends ../layouts/default

block head
    - var pageTitle = '';

block header
    include ../blocks/header/header

block content
    main.main
        section.info-section
            .container
                .info-wrap
                    .user-info
                        span.user-info__title.program-icon Affiliate program
                        .user-info__wrap

                    .affiliate__wrap
                        h3.affiliate__header How does it work?

                        p.affiliate__text Share an affiliate link with friends, recommend our service in social networks or launch an ad. 
                        | The user clicks on your link and registers for the service. 
                        br
                        |You get a lifetime passive income for
                        span 10-30% 
                        | of the amount of services paid for. 
                        br
                        | Percentage of affiliate earnings changes from the funds received:
                    
                    .percentage
                        span.percents 10%
                            span - from 0 $ -100 $
                        span.percents 15% 
                            span - from 101 $ -500 $
                        span.percents 20% 
                            span - from 501 $ -1000 $
                        span.percents 25% 
                            span - from 1001 $ -3000 $
                        span.percents 30% 
                            span - from 3001 $