extends ../layouts/default

block head
    - var pageTitle = '';

block header
    include ../blocks/header/header

block content
    main.main
        section.info-section
            .container
                .info-wrap
                    .user-info
                        span.user-info__title.program-icon Affiliate program
                        .user-info__wrap

                    
                    span.policy-title How does it work?
                    
                    .affiliate-list
                        ul
                            li Share an affiliate link with friends, recommend our service in social networks or launch an ad.
                            li The user clicks on your link and registers for the service.
                            li You get a lifetime passive income of 
                                mark 10-30% 
                                | of the amount of services paid for.
                            li Percentage of affiliate earnings changes from the funds received:
                          
                        ol
                            li 
                            li 
                            li 
                            li 
                            li 

                    span.policy-title Example:

                    