extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.info-section
			.container
				.info-wrap
					.user-info
						span.user-info__title.works-icon How it works?
						.user-info__wrap

					.work-wrap
						.work
							.work__wrap
								.work__img
									img(src="images/w1.svg", alt="")
								p.work__text Instagram is a unique platform used by millions of people around the world every day, and every user can compete with you. Perhaps there is no one who would not like to become a user of this platform, and therefore we offer you not only to use this application, but to promote your account so that your publications can be seen by as many people as possible around the world.
						.work
							.work__wrap
								.work__img
									img(src="images/w2.svg", alt="")
								p.work__text The main key to the success of the Instagram profile is the quality of the content, the creation and promotion of which requires a lot of time and effort, and not everyone has the opportunity to spend such resources on Instagram. Of course, you can spend a lot of money on promotion of your account by top specialists, but we offer you to cooperate with us and get a popular account at a reasonable price as naturally as possible without obvious wrapping.
						.work
							.work__wrap
								.work__img
									img(src="images/w3.svg", alt="")
								p.work__text Choosing our service packages, you save a lot of time and get a quality service at the best price. By entrusting the promotion of your account to an experienced team, you can spend your free time communicating with your subscribers, as it is essential to keep in touch with them.
						.work
							.work__wrap
								.work__img
									img(src="images/w4.svg", alt="")
								p.work__text Buying likes, subscribers, comments or views has never been so easy and you can see for yourself. Test our service and make sure you get the quality and speed of growth of your account popularity and attract the target audience. Our experts try to do everything possible to achieve your social goals, so you only need to do one thing.