extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main

		section.intro-section
			.container
				h1.main-title
					|Your 
					span Digital 
					|marketing solution
				p.intro-text We make effective promotion in social networks, which brings our customers real results.
				p.intro-text Leave a request and get a free consultation to promote your business or blog

				.intro-info
					.intro-news News 08 January, 2020
					.intro-line Followers are working instantly. Start-time:20-30 minutes.Speed: 1000/day

				.intro-nav
					.select
						.select__head.js-select
							span.select__text Instagram
						ul.select__list.js-select-list
							li Instagram
							li Facebook
							li Twitter
							li Youtube
							li Tiktok
							li Twitch
					
					ul.service-nav
						li.views Views
						li.likes.active Likes
						li.followers Followers
						li.comments Comments
						li.igtv IGTV

				.network-wrap
					.network
						.network__wrap
							.network__head
								span.network__count 250 
								span.network__followers followers
							ul.network__benefits
								li Followers from Real Users
								li No password Required
								li 24/7 support
							.network__price-wrap
								span.network__price $ 3,99
								a(href="#").network__basket

					.network
						.network__wrap
							.network__head
								span.network__count 250 
								span.network__followers followers
							ul.network__benefits
								li Followers from Real Users
								li No password Required
								li 24/7 support
							.network__price-wrap
								span.network__price $ 3,99
								a(href="#").network__basket

					.network
						.network__wrap
							.network__head
								span.network__count 250 
								span.network__followers followers
							ul.network__benefits
								li Followers from Real Users
								li No password Required
								li 24/7 support
							.network__price-wrap
								span.network__price $ 3,99
								a(href="#").network__basket
					
					.network
						.network__wrap
							.network__head
								span.network__count 250 
								span.network__followers followers
							ul.network__benefits
								li Followers from Real Users
								li No password Required
								li 24/7 support
							.network__price-wrap
								span.network__price $ 3,99
								a(href="#").network__basket

					.network
						.network__wrap
							.network__head
								span.network__count 250 
								span.network__followers followers
							ul.network__benefits
								li Followers from Real Users
								li No password Required
								li 24/7 support
							.network__price-wrap
								span.network__price $ 3,99
								a(href="#").network__basket

					.network
						.network__wrap
							.network__head
								span.network__count 250 
								span.network__followers followers
							ul.network__benefits
								li Followers from Real Users
								li No password Required
								li 24/7 support
							.network__price-wrap
								span.network__price $ 3,99
								a(href="#").network__basket

					.network
						.network__wrap
							.network__head
								span.network__count 250 
								span.network__followers followers
							ul.network__benefits
								li Followers from Real Users
								li No password Required
								li 24/7 support
							.network__price-wrap
								span.network__price $ 3,99
								a(href="#").network__basket

					.network
						.network__wrap
							.network__head
								span.network__count 250 
								span.network__followers followers
							ul.network__benefits
								li Followers from Real Users
								li No password Required
								li 24/7 support
							.network__price-wrap
								span.network__price $ 3,99
								a(href="#").network__basket

		section.choise-section
			.container
				h2.section-title WHY PEOPLE CHOISE US?
				.choise-wrap
					.choise
						h3.choise__title Best Service
						p.choise__text The best service to purchase Instagram Likes, Followers, Views, Comments. Choose one of the many packages of services, with the necessary number for your posts on Instagram. Hurry up to make your posts at Instagram popular thanks of first-class quality.

					.choise
						h3.choise__title Promoting
						p.choise__text Our cooperation with Social Media advertising platforms is based on the desire to make our services as high-quality as possible. Your Instagram account will be advertised on leading web platforms by our professional staff. Promotion will be carried out until you receive all purchased.

					.choise
						h3.choise__title How it work?
						p.choise__text Only on our site you can turn the purchase of Instagram Followers, Likes, Views, and Comments into a simple and enjoyable process. Just select the package you like most and enjoy the growth of your popularity.

					.choise
						h3.choise__title Privacy
						p.choise__text We put your safety and privacy first. When ordering services, you should only tell us your username.

		section.advantages-section
			.container
				h2.section-title.section-title_white OUR 
					mark ADVANTAGES
				.advantages-wrap
					.advantage
						.advantage__wrap
							.advantage__count-wrap
								.advantage__count 1
							h3.advantage__title Auto Start
							p.advantage__text After paying for the services, you will start receiving Instagram order within 10 minutes. Isn't this the fastest service?

					.advantage
						.advantage__wrap
							.advantage__count-wrap
								.advantage__count 2
							h3.advantage__title Guarantees
							p.advantage__text You can be sure that you will receive the best service in the shortest possible time, as we strictly monitor the implementation of your Instagram orders.

					.advantage
						.advantage__wrap
							.advantage__count-wrap
								.advantage__count 3
							h3.advantage__title Quickly and efficiently
							p.advantage__text Our services are of first-class quality, so your account will not be blocked by the Instagram moderators, and your post will rapidly gain popularity.

					.advantage
						.advantage__wrap
							.advantage__count-wrap
								.advantage__count 4
							h3.advantage__title Customer Support
							p.advantage__text If you have any questions regarding service, ordering, payment, or you have encountered difficulties, please contact our round-the-clock support service via email.

					.advantage
						.advantage__wrap
							.advantage__count-wrap
								.advantage__count 5
							h3.advantage__title Affiliate programme
							p.advantage__text 
								|Share an affiliate link with friends, recommend our service in social networks or launch an ad. The user clicks on your link and registers for the service. You get a lifetime passive income of 
								span 10-30% 
								|of the amount of services paid for.

					.advantage
						.advantage__wrap
							.advantage__count-wrap
								.advantage__count 6
							h3.advantage__title Free Test
							p.advantage__text If you have doubts about the purchase, we suggest you try our free Instagram likes or comments , which will prove the reliability of our service.

		section.services-section
			.container
				h2.section-title HOW TO BUY SERVICES?
				.services-wrap

					.services-content.services-content_info

						h3.service-title 
							| Integrated promotion in 
							span social networks 
							| for business

						p.service-text We make effective promotion in social networks, which brings our customers real results.
						p.service-text Leave a request and get a free consultation to promote your business or blog

						a(href="#").service-btn Our Services

					.service-decoration
						span
						span
						span

					.services-content.services-content_items
						.service
							.service__wrap
								span.service__count 01
								.service__info
									h3.service__title Choose a package you like
									p.service__text On our website you will find a huge selection of packages of services that offer a different number. To order, just choose the package you like most and click Buy Now.
						.service
							.service__wrap
								span.service__count 02
								.service__info
									h3.service__title Choose a payment method
									p.service__text You will be offered various payment methods, and after a successful payment, you will receive a confirmation email.
						.service
							.service__wrap
								span.service__count 03
								.service__info
									h3.service__title Expect your order delivery
									p.service__text You will receive your order immediately after purchase. Within 10 minutes after confirmation your order will start to be executed.

		section.card-section
			.container
				.card-wrap
					.card
						.card__wrap
							.card__head
								h3.card__title Get popular on Instagram with likes
							.card__body
								p.card__text According to statistics Instagram have become one of the most popular social networks with over 1 billion users worldwide. Sharing photos and videos Instagram users are eager to receive as many likes as possible. In order to obtain likes for the posted pictures or videos people usually spend quite a lot of days, since it takes some time to gain the ground. Are you satisfied with the number of likes you have gathered on your posts? If not, don’t go into a tail-spin because you have a great opportunity to blow up the popularity of your Instagram page. 

					.card
						.card__wrap
							.card__head
								h3.card__title Reasons why people buy Instagram likes
							.card__body
								p.card__text It is possible to get a large amount of followers who will like your pictures in months or even years of hard work. But what is the use of giving it one hundred and ten percent, if easier methods are available to reach the desired goal? All that you have to do is just to click several buttons and buy as many likes as you wish. It will definitely help you to promote your posts more quickly, interact with a wider audience and attract more attention to the content on your page. Getting hundreds or thousands of likes gives the impression of reliability and trustworthiness of the content that you post. In such a way, the Instagram algorithm will offer your content to other users, and it is likely that a part of them will decide to follow you and like your media and stories. If you have just created an account, purchasing likes will give a good start, as it takes years to obtain success from the scratch. Apart from that, buying likes is much cheaper compared to the traditional advertising and other promotional methods. And it goes without saying that you will yield fruitful results at rapid-fire pace with the purchased likes without waiting for advertisements to win people’s hearts.

					.card
						.card__wrap
							.card__head
								h3.card__title Get your likes and save your time!
							.card__body
								p.card__text It does not matter whether you would like to promote your product, attract more customers or get a good deal of new clients, getting Instagram likes will contribute to the fulfillment of your plans. After the deal has been done, just watch your Instagram grow without lifting a single finger and enjoy your time! The success will not be long in coming, as the pack of likes will be delivered right away after you make an order.

block footer
	include ../blocks/footer/footer		