extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.choise-section
			.container
				h2.section-title WHY PEOPLE CHOISE US?
				.choise-wrap
					.choise
						h3.choise__title Best Service
						p.choise__text The best service to purchase Instagram Likes, Followers, Views, Comments. Choose one of the many packages of services, with the necessary number for your posts on Instagram. Hurry up to make your posts at Instagram popular thanks of first-class quality.

					.choise
						h3.choise__title Promoting
						p.choise__text Our cooperation with Social Media advertising platforms is based on the desire to make our services as high-quality as possible. Your Instagram account will be advertised on leading web platforms by our professional staff. Promotion will be carried out until you receive all purchased.

					.choise
						h3.choise__title How it work?
						p.choise__text Only on our site you can turn the purchase of Instagram Followers, Likes, Views, and Comments into a simple and enjoyable process. Just select the package you like most and enjoy the growth of your popularity.

					.choise
						h3.choise__title Privacy
						p.choise__text We put your safety and privacy first. When ordering services, you should only tell us your username.
					
		
		section.advantages-section
			.container
				h2.section-title.section-title_white OUR 
					mark ADVANTAGES

		section.services-section
			.container
				h2.section-title.section-title HOW TO BUY SERVICES?

		section.card-section
			.container
				.card-wrap
					.card
						.card__wrap
							.card__head
								h3.card__title Get popular on Instagram with likes
							.card__body
								p.card__text According to statistics Instagram have become one of the most popular social networks with over 1 billion users worldwide. Sharing photos and videos Instagram users are eager to receive as many likes as possible. In order to obtain likes for the posted pictures or videos people usually spend quite a lot of days, since it takes some time to gain the ground. Are you satisfied with the number of likes you have gathered on your posts? If not, don’t go into a tail-spin because you have a great opportunity to blow up the popularity of your Instagram page. 

					.card
						.card__wrap
							.card__head
								h3.card__title Reasons why people buy Instagram likes
							.card__body
								p.card__text It is possible to get a large amount of followers who will like your pictures in months or even years of hard work. But what is the use of giving it one hundred and ten percent, if easier methods are available to reach the desired goal? All that you have to do is just to click several buttons and buy as many likes as you wish. It will definitely help you to promote your posts more quickly, interact with a wider audience and attract more attention to the content on your page. Getting hundreds or thousands of likes gives the impression of reliability and trustworthiness of the content that you post. In such a way, the Instagram algorithm will offer your content to other users, and it is likely that a part of them will decide to follow you and like your media and stories. If you have just created an account, purchasing likes will give a good start, as it takes years to obtain success from the scratch. Apart from that, buying likes is much cheaper compared to the traditional advertising and other promotional methods. And it goes without saying that you will yield fruitful results at rapid-fire pace with the purchased likes without waiting for advertisements to win people’s hearts.

					.card
						.card__wrap
							.card__head
								h3.card__title Get your likes and save your time!
							.card__body
								p.card__text It does not matter whether you would like to promote your product, attract more customers or get a good deal of new clients, getting Instagram likes will contribute to the fulfillment of your plans. After the deal has been done, just watch your Instagram grow without lifting a single finger and enjoy your time! The success will not be long in coming, as the pack of likes will be delivered right away after you make an order.

		section.section
			.container

		section.section
			.container

		section.section
			.container

block footer
	include ../blocks/footer/footer		