extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.lk-section
			.container
				.tabs.js-tabs
					ul.tabs__list.js-tab-btn
						li.tabs__item.active My orders
						li.tabs__item Settings
						li.tabs__item Affiliate program
						li.tabs__item Balance
						li.tabs__item FAQ
					
					.tabs__wrap
						.lk-header
							

						.tabs__content.active.js-tab-content
							span sgdfsdfs

						.tabs__content.js-tab-content
							span sgdfsdfs
							span sgdfsdfs
							span sgdfsdfs

						.tabs__content.js-tab-content
							span sgdfsdfs

						.tabs__content.js-tab-content

						.tabs__content.js-tab-content