extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.lk-section
			.container
				.tabs.js-tabs
					ul.tabs__list.js-tab-btn
						li.tabs__item.tabs__item_order.active My orders
						li.tabs__item.tabs__item_settings Settings
						li.tabs__item.tabs__item_program Affiliate program
						li.tabs__item.tabs__item_balance Balance
						li.tabs__item.tabs__item_faq FAQ

					.tabs__wrap
						.lk-header
							.user
								.user__avatar
									img(src='images/lk-img.jpg' alt="")
								.user__data
									span.user__name Valeria Lopez
									span.user__reg Registration since 26 December, 2019
								.user__info
									span.user__personal.user__personal_name Username
									span.user__personal.user__personal_email qwerty@gmail.com
								span.user__edit

							.balance-wrap
								.balance
									span.balance__my My balance
									span.balance__current Current balance:
									span.balance__account $ 135
								span.balance-add
									a.balance-add__plus(href="#")

						.tabs__content.js-tab-content.active
							.orders-wrap
								.user-info
									span.user-info__title.tabs__item.tabs__item_order.active My orders
									.user-info__wrap
										span.user-info__data Items in cart:
											span 4

								.cart-warp
									.cart 
										span.cart-title Showing 
											span (4)

										form(action="#").lk-form.lk-form_search
											.lk-form__wrap
												.lk-form__field
													button(type="submit").lk-form__search-btn
													input(type="text" placeholder="Search").lk-form__input

									.order-wrap
										.order
											.order__info
												span.order__id ID
												span.order__items Items
												span.order__status Status
												span.order__price Order price
												span.order__date Created At

											.shop-cart
												span.shop-cart__id 4592
													span.shop-cart__delete
												.shop-cart__items
													.shop-cart__item
														span 250 
														| followers - 
														span 6.99$
													.shop-cart__item
														span 250 
														| followers - 
														span 6.99$
												span.shop-cart__status Create, not paid
												span.shop-cart__price $ 12.98
												span.shop-cart__date 16 January, 2020

											.shop-cart
												span.shop-cart__id 4592
													span.shop-cart__delete
												.shop-cart__items
													.shop-cart__item
														span 250 
														| followers - 
														span 6.99$
												span.shop-cart__status Create, not paid
												span.shop-cart__price $ 12.98
												span.shop-cart__date 16 January, 2020

											.shop-cart
												span.shop-cart__id 4592
													span.shop-cart__delete
												.shop-cart__items
													.shop-cart__item
														span 250 
														| followers - 
														span 6.99$
												span.shop-cart__status Create, not paid
												span.shop-cart__price $ 12.98
												span.shop-cart__date 16 January, 2020

											.shop-cart
												span.shop-cart__id 4592
													span.shop-cart__delete
												.shop-cart__items
													.shop-cart__item
														span 250 
														| followers - 
														span 6.99$
												span.shop-cart__status Create, not paid
												span.shop-cart__price $ 12.98
												span.shop-cart__date 16 January, 2020

						.tabs__content.js-tab-content
							.settings-wrap
								.user-info
									span.user-info__title.tabs__item.tabs__item_settings.active Settings

									.user-info__wrap
										a(href="#").user-info__history Check history
										span.user-info__data Current balance:
											span $ 234

								form(action="#").lk-form
									.lk-form__wrap
										.lk-form__row
											.lk-form__field
												label.lk-form__label Old password
												input(type="password" placeholder="••••••••••" id="old").lk-form__input

											.lk-form__field
												label.lk-form__label New password
												input(type="password" placeholder="••••••••••" id="new").lk-form__input

											.lk-form__field
												label.lk-form__label Repeat New Password
												input(type="password" placeholder="••••••••••" id="repeat").lk-form__input

										button(type="submit").lk-form__btn Reset password

						.tabs__content.js-tab-content
							.affiliate-wrap
								.user-info
									span.user-info__title.program-icon Affiliate program
									.user-info__wrap
										span.user-info__data Referrals:
											span 4
										span.user-info__data Total:
											span $ 23

								.percent-wrap
									.percent
										span.percent__amount 10% 
											span (0 $ - 100 $)
										.percent__line
											.percent__bar(style="width: 38%")
												span.percent__num 38 $

									.percent
										span.percent__amount 25% 
											span (1001 $ - 3000 $)
										.percent__line
											span.percent__num 0$

									.percent
										span.percent__amount 15% 
											span (101 $ - 500 $)
										.percent__line
											.percent__bar(style="width: 50%")
												span.percent__num 250 $

									.percent
										span.percent__amount 30% 
											span (3001 $ - ∞)
										.percent__line
											span.percent__num 0$

									.percent
										span.percent__amount 20% 
											span (501 $ - 1000 $)
										.percent__line
											span.percent__num 0$

									.percent
										a(href="#").percent-link Cashout: 
											span 350,80 $





								.cart
									span.cart-title My Refferals
										span (4)
									form(action="#").lk-form.lk-form_search
										.lk-form__wrap
											.lk-form__field
												button(type="submit").lk-form__search-btn
												input(type="text" placeholder="Search ID").lk-form__input

								.order
									.order__info
										span.order__id ID
										span.order__user User
										span.order__amount Amount
										span.order__date Created At

								.shop-cart
									span.shop-cart__id 4592
									span.shop-cart__user Username
									span.shop-cart__amount $ 70
									span.shop-cart__date 16 January, 2020

								.shop-cart
									span.shop-cart__id 4592
									span.shop-cart__user Username
									span.shop-cart__amount $ 70
									span.shop-cart__date 16 January, 2020

								.shop-cart
									span.shop-cart__id 4592
									span.shop-cart__user Username
									span.shop-cart__amount $ 70
									span.shop-cart__date 16 January, 2020

								.shop-cart
									span.shop-cart__id 4592
									span.shop-cart__user Username
									span.shop-cart__amount $ 70
									span.shop-cart__date 16 January, 2020

						.tabs__content.js-tab-content
							.balances-wrap
								.user-info
									span.user-info__title.tabs__item.tabs__item_balance Balance
									.user-info__wrap
										span.user-info__data Referrals:
											span 4
										span.user-info__data Total:
											span $ 23

								form(action="#").lk-form.lk-form_withdrawal
									.lk-form__wrap
										.lk-form__row
											.lk-form__field
												label.lk-form__label Select system
												.lk-form__select-wrap
													select.lk-form__select 
														option(value="") Paypal
														option(value="") Qiwi
														option(value="") Yandex

											.lk-form__field
												label.lk-form__label Amount
												input(type="text" placeholder="100$").lk-form__input

											button(type="submit").lk-form__btn Request a withdrawal: 121 $

						.tabs__content.js-tab-content
							.faq-wrap
								.user-info
									span.user-info__title.tabs__item.tabs__item_faq FAQ

								.accordion
									.title
										p.text Why is buying Followers so important?
									.content
										p All top Instagram stars spend a lot of money to promote their accounts using fake subscribers. What's the reason for this kind of a wrapping? It's all about visual perception. Most users, when deciding to follow a particular account, pay attention to the number of followers. The same applies to the various brands that decide to cooperate with you. The number of followers is a measure of your Instagram success.
									.title
										p.text Why is buying Followers so important?
									.content
										p All top Instagram stars spend a lot of money to promote their accounts using fake subscribers. What's the reason for this kind of a wrapping? It's all about visual perception. Most users, when deciding to follow a particular account, pay attention to the number of followers. The same applies to the various brands that decide to cooperate with you. The number of followers is a measure of your Instagram success.
									.title
										p.text Why is buying Followers so important?
									.content
										p All top Instagram stars spend a lot of money to promote their accounts using fake subscribers. What's the reason for this kind of a wrapping? It's all about visual perception. Most users, when deciding to follow a particular account, pay attention to the number of followers. The same applies to the various brands that decide to cooperate with you. The number of followers is a measure of your Instagram success.
									.title
										p.text Why is buying Followers so important?
									.content
										p All top Instagram stars spend a lot of money to promote their accounts using fake subscribers. What's the reason for this kind of a wrapping? It's all about visual perception. Most users, when deciding to follow a particular account, pay attention to the number of followers. The same applies to the various brands that decide to cooperate with you. The number of followers is a measure of your Instagram success.

