.about-section {
	padding: 8vw 0;

	@media screen and (min-width: 1360px) {
		padding: 120px 0 60px;
	}

	.about-content {
		display: flex;
		flex-direction: column;

		@media screen and (min-width: 768px) {
			flex-direction: row;
			flex-wrap: wrap;
			margin: 0 -12px;
		}
		@media screen and (min-width: 1024px) {
			margin: 0 -17px;
		}
		@media screen and (min-width: 1360px) {
			margin: 0 -12px;
		}
	}

	.about-info {
		position: relative;
		margin-bottom: 16px;
		@media screen and (min-width: 768px) {
			margin-bottom: 25px;
		}
		@media screen and (min-width: 1024px) {
			margin-bottom: 35px;
		}
		@media screen and (min-width: 1360px) {
			margin-bottom: 24px;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			width: 3000px;
			height: 100%;
			background-color: rgba(7, 15, 58, 0.7);
			z-index: 0;
		}

		&:first-of-type {
			padding: 52px 15px 20px 0;

			@media screen and (min-width: 768px) {
				width: 100%;
				padding: 25px 25px 25px 75px;
			}
			@media screen and (min-width: 1024px) {
				padding: 45px 35px 45px 115px;
			}
			@media screen and (min-width: 1360px) {
				width: calc(42% - 12px);
				padding: 60px 20px 60px 115px;
				margin-right: 12px;
			}

			&:after {
				right: 0;
				@media screen and (min-width: 768px) {
					right: 12px;
				}
				@media screen and (min-width: 1024px) {
					right: 19px;
				}
				@media screen and (min-width: 1360px) {
					right: 0;
				}
			}

			h2 {
				&:before {
					top: -40px;
					left: 8px;
					transform: translate(0) rotate(90deg);
					@media screen and (min-width: 768px) {
						top: -7px;
						left: -55px;
					}
					@media screen and (min-width: 1024px) {
						top: -10px;
						left: -85px;
					}
				}
			}
		}

		&:last-of-type {
			padding: 20px 0 20px 15px;

			@media screen and (min-width: 768px) {
				width: calc(50% - 12px);
				margin-left: 12px;
				padding: 25px;
			}
			@media screen and (min-width: 1024px) {
				width: calc(50% - 17px);
				margin-left: 17px;
				padding: 45px 20px 45px 45px;
			}
			@media screen and (min-width: 1360px) {
				width: calc(58% - 12px);
				margin-left: 12px;
				padding: 60px 20px 60px 60px;
			}

			&:after {
				left: 0;
			}
		}

		.typography {
			position: relative;
			z-index: 1;
		}
	}
	
	.about-img {
		width: 100%;
		min-height: 260px;
		height: 100%;
		margin-bottom: 16px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		overflow: hidden;

		@media screen and (min-width: 768px) {
			width: calc(50% - 24px);
			margin: 0 12px 25px;
			min-height: 300px;
		}
		@media screen and (min-width: 1024px) {
			width: calc(50% - 35px);
			margin: 0 17px 35px;
			min-height: 400px;
		}
		@media screen and (min-width: 1360px) {
			width: calc(29% - 24px);
			margin: 0 12px 24px;
			min-height: 460px;
		}

		&:nth-child(4) {
			@media screen and (min-width: 1360px) {
				width: calc(42% - 24px) !important;
			}
		}
	}
}

.team-section {
	padding: 8vw 0;
	position: relative;
	
	@media screen and (min-width: 1360px) {
		padding: 120px 0 60px;
	}

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 120%;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-image: url('../images/team-bg.svg');
		background-repeat: no-repeat;
		background-size: 90%;
		background-position: center;
	}

	.typography {
		margin-bottom: 50px;
	}

	.team-wrap {
		position: relative;
		z-index: 1;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.team {
		border-radius: 50%;
		overflow: hidden;
		transition: all .25s ease;
		box-shadow: 0px 26px 62px rgba(255, 0, 138, 0.17);

		&:hover {
			transition: all .25s ease;
		}
		
		img {
			width: 100%;
			height: 100%;
		}

		&.ball {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background: rgba(255, 0, 107, 0.34);
			span {
				font-weight: 500;
				line-height: 1.2;
				text-align: center;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: #FF008A;

				&:first-child {
					font-size: 32px;
				}
				&:last-child {
					font-size: 14px;
				}
			}
		}

		&.big {
			width: 175px;
			height: 175px;
			@media screen and (min-width: 1360px) {
				width: 210px;
				height: 210px;
			}
		}

		&.middle {
			width: 130px;
			height: 130px;
			@media screen and (min-width: 1360px) {
				width: 175px;
				height: 175px;
			}
		}

		&.small {
			width: 75px;
			height: 75px;
			@media screen and (min-width: 768px) {
				width: 90px;
				height: 90px;
			}
			@media screen and (min-width: 1360px) {
				width: 115px;
				height: 115px;
			}
		}

		&.center {
			margin: auto 0;
		}

		&.top {
			margin: 0 0 auto 0;
		}

		&.bottom {
			margin: auto 0 0 0;
		}
	}

	.empty {
		width: 80px;
		height: 80px;
		display: none;
		@media screen and (min-width: 768px) {
			display: block;
		}
		@media screen and (min-width: 1360px) {
			width: 120px;
			height: 120px;
		}
	}
}