header.header
	.container
		a(href="#").logo
			img(src="images/logo.svg", alt="")

		.lang-wrap
			a(href="#").lang RU
			span /
			a(href="#").lang.active UA

		nav.nav.js-nav
			ul.nav__list#menu
				li(data-menuanchor="2page").nav__item
					a(href="#2page").nav__link Що таке патч
				li(data-menuanchor="3page").nav__item
					a(href="#3page").nav__link Користування
				li(data-menuanchor="4page").nav__item
					a(href="#4page").nav__link Переваги
				li(data-menuanchor="5page").nav__item
					a(href="#5page").nav__link Естетика
				li(data-menuanchor="6page").nav__item
					a(href="#6page").nav__link Cертифікати
				li(data-menuanchor="page").nav__item
					a(href="#page").nav__link Акції
				li(data-menuanchor="7page").nav__item
					a(href="#7page").nav__link Замовити
				li(data-menuanchor="8page").nav__item
					a(href="#8page").nav__link Партнери

			.mob-content
				ul.soc
					li.soc__item
						a(href="#").soc__icon.soc__icon_you
					li.soc__item
						a(href="#").soc__icon.soc__icon_inst
					li.soc__item
						a(href="#").soc__icon.soc__icon_fb
					li.soc__item
						a(href="#").soc__icon.soc__icon_whats
					li.soc__item
						a(href="#").soc__icon.soc__icon_tel
				.address-info
					a(href="mailto:Info@hp.com").mail Info@hp.com
					a(href="tel:+380948588694").tel +38 094 858 86 94
					p.address 03190, м. Київ, вул. Черняхівського, буд. 16/30, оф. 3

	include ../burger/burger