header.header
	.container
		a(href="#").logo
			img(src="images/logo.svg", alt="")

		.lang-wrap
			a(href="#").lang RU
			span /
			a(href="#").lang.active UA

		nav.nav.js-nav
			ul.nav__list#menu
				li(data-menuanchor="firstPage").nav__item
					a(href="#firstPage").nav__link Що таке патч
				li(data-menuanchor="secondPage").nav__item
					a(href="#secondPage").nav__link Користування
				li.nav__item
					a(href="#section3").nav__link Переваги
				li.nav__item
					a(href="#section4").nav__link Естетика
				li.nav__item
					a(href="#section5").nav__link Cертифікати
				li.nav__item
					a(href="#section1").nav__link Акції
				li.nav__item
					a(href="#section6").nav__link Замовити
				li.nav__item
					a(href="#section7").nav__link Партнери

			.mob-content
				ul.soc
					li.soc__item
						a(href="#").soc__icon.soc__icon_you
					li.soc__item
						a(href="#").soc__icon.soc__icon_inst
					li.soc__item
						a(href="#").soc__icon.soc__icon_fb
					li.soc__item
						a(href="#").soc__icon.soc__icon_whats
					li.soc__item
						a(href="#").soc__icon.soc__icon_tel
				.address-info
					a(href="mailto:Info@hp.com").mail Info@hp.com
					a(href="tel:+380948588694").tel +38 094 858 86 94
					p.address 03190, м. Київ, вул. Черняхівського, буд. 16/30, оф. 3

	include ../burger/burger