.rating
    span.rating__title Rating*:
    .rating__stars-input#reviewStars-input
        input(id="star-4" type="radio" name="reviewStars")
        label(for="star-4")
        input(id="star-3" type="radio" name="reviewStars")
        label(for="star-3")
        input(id="star-2" type="radio" name="reviewStars")
        label(for="star-2")
        input(id="star-1" type="radio" name="reviewStars")
        label(for="star-1")
        input(id="star-0" type="radio" name="reviewStars")
        label(for="star-0")