.tovar {
	padding: 0 0 20px;
	width: 100%;
	height: 225px;
	&__wrap {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
	}
	@media screen and (min-width: 768px) {
		width: 50%;
		height: 275px;
		padding: 0 15px 30px;
	}
	
	@media screen and (min-width: 1920px) {
		width: 33.33%;
		height: 290px;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&:hover {
		transition: all .3s ease;
		.tovar__wrap {
			transition: all .3s ease;
			box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
		}

		.tovar__name {
			color: #fff;
			transition: all .3s ease;
			background: rgba(0, 14, 148, 0.7);
		}
	}

	&__head {
		display: flex;
		justify-content: space-between;
		position: absolute;
		left: 0;
		top: 15px;
		width: 98%;
	}

	&__category {
		font-size: 10px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		font-weight: 700;
		color: #F5F9FF;
		padding: 5px 5px 5px 9px;
		margin-right: 15px;
		background: rgba(0, 14, 148, 0.7);
		@media screen and (min-width: 768px) {
			font-size: 13px;
		}
	}

	&__shop {
		display: flex;
		span {
			width: 18px;
			height: 18px;
			background-repeat: no-repeat;
			background-position: center;
			margin-right: 11px;
			transition: all .3s ease;
			@media screen and (min-width: 768px) {
				width: 20px;
				height: 20px;
			}

			&:hover {
				transform: scale(1.1, 1.1);
			}
		}
	}

	&__basket {
		background-size: 188%;
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-16'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='48px' height='48px' viewBox='0 0 48 48' style='enable-background:new 0 0 48 48;' xml:space='preserve'%3E%3Cg id='glyphicons'%3E%3Cg id='shopping-cart'%3E%3Cpath fill='%23ffffff' d='M10,14c0,0.553,0.447,1,1,1h1.709l4.32,18c0.104,0.5,0.498,1,0.971,1h1.092C19.036,34.157,19,34.324,19,34.5 c0,0.828,0.672,1.5,1.5,1.5c0.828,0,1.5-0.672,1.5-1.5c0-0.176-0.036-0.343-0.092-0.5h5.184C27.036,34.157,27,34.324,27,34.5 c0,0.828,0.672,1.5,1.5,1.5c0.828,0,1.5-0.672,1.5-1.5c0-0.176-0.036-0.343-0.092-0.5H31c0.553,0,1-0.447,1-1s-0.447-1-1-1H18.791 l-0.947-4H32.5c0.469,0,0.875-0.325,0.977-0.783l2-9c0.065-0.296-0.007-0.606-0.196-0.843C35.09,17.138,34.803,17,34.5,17H15.238 l-0.766-3.231C14.366,13.318,13.963,13,13.5,13H11C10.447,13,10,13.447,10,14z M32,23h0.364l-0.222,1H32V23z M32,21h0.809 l-0.222,1H32V21z M32,19h1.254l-0.223,1H32V19z M30,25h1v1h-1V25z M30,23h1v1h-1V23z M30,21h1v1h-1V21z M30,19h1v1h-1V19z M28,25 h1v1h-1V25z M28,23h1v1h-1V23z M28,21h1v1h-1V21z M28,19h1v1h-1V19z M26,25h1v1h-1V25z M26,23h1v1h-1V23z M26,21h1v1h-1V21z M26,19h1v1h-1V19z M24,25h1v1h-1V25z M24,23h1v1h-1V23z M24,21h1v1h-1V21z M24,19h1v1h-1V19z M22,25h1v1h-1V25z M22,23h1v1h-1V23 z M22,21h1v1h-1V21z M22,19h1v1h-1V19z M20,25h1v1h-1V25z M20,23h1v1h-1V23z M20,21h1v1h-1V21z M20,19h1v1h-1V19z M18,25h1v1h-1 V25z M18,23h1v1h-1V23z M18,21h1v1h-1V21z M18,19h1v1h-1V19z M16.659,23H17v1h-0.103L16.659,23z M16.191,21H17v1h-0.578L16.191,21 z M15.746,19H17v1h-1.031L15.746,19z'/%3E%3C/g%3E%3C/g%3E%3Cg id='Layer_2'%3E%3C/g%3E%3C/svg%3E%0A");
		&.active,
		&:hover {
			background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-16'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='48px' height='48px' viewBox='0 0 48 48' style='enable-background:new 0 0 48 48;' xml:space='preserve'%3E%3Cg id='glyphicons'%3E%3Cg id='shopping-cart'%3E%3Cpath fill='%23ED1C24' d='M10,14c0,0.553,0.447,1,1,1h1.709l4.32,18c0.104,0.5,0.498,1,0.971,1h1.092C19.036,34.157,19,34.324,19,34.5 c0,0.828,0.672,1.5,1.5,1.5c0.828,0,1.5-0.672,1.5-1.5c0-0.176-0.036-0.343-0.092-0.5h5.184C27.036,34.157,27,34.324,27,34.5 c0,0.828,0.672,1.5,1.5,1.5c0.828,0,1.5-0.672,1.5-1.5c0-0.176-0.036-0.343-0.092-0.5H31c0.553,0,1-0.447,1-1s-0.447-1-1-1H18.791 l-0.947-4H32.5c0.469,0,0.875-0.325,0.977-0.783l2-9c0.065-0.296-0.007-0.606-0.196-0.843C35.09,17.138,34.803,17,34.5,17H15.238 l-0.766-3.231C14.366,13.318,13.963,13,13.5,13H11C10.447,13,10,13.447,10,14z M32,23h0.364l-0.222,1H32V23z M32,21h0.809 l-0.222,1H32V21z M32,19h1.254l-0.223,1H32V19z M30,25h1v1h-1V25z M30,23h1v1h-1V23z M30,21h1v1h-1V21z M30,19h1v1h-1V19z M28,25 h1v1h-1V25z M28,23h1v1h-1V23z M28,21h1v1h-1V21z M28,19h1v1h-1V19z M26,25h1v1h-1V25z M26,23h1v1h-1V23z M26,21h1v1h-1V21z M26,19h1v1h-1V19z M24,25h1v1h-1V25z M24,23h1v1h-1V23z M24,21h1v1h-1V21z M24,19h1v1h-1V19z M22,25h1v1h-1V25z M22,23h1v1h-1V23 z M22,21h1v1h-1V21z M22,19h1v1h-1V19z M20,25h1v1h-1V25z M20,23h1v1h-1V23z M20,21h1v1h-1V21z M20,19h1v1h-1V19z M18,25h1v1h-1 V25z M18,23h1v1h-1V23z M18,21h1v1h-1V21z M18,19h1v1h-1V19z M16.659,23H17v1h-0.103L16.659,23z M16.191,21H17v1h-0.578L16.191,21 z M15.746,19H17v1h-1.031L15.746,19z'/%3E%3C/g%3E%3C/g%3E%3Cg id='Layer_2'%3E%3C/g%3E%3C/svg%3E%0A");
		}
	}

	&__favorite {
		background-size: contain;
		background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.73951 1.32253C7.88919 0.861871 8.54089 0.861871 8.69057 1.32253L9.71189 4.46584C9.9127 5.08387 10.4886 5.50231 11.1385 5.50231H14.4436C14.9279 5.50231 15.1293 6.12212 14.7374 6.40682L12.0636 8.34949C11.5379 8.73146 11.3179 9.40851 11.5187 10.0265L12.54 13.1699C12.6897 13.6305 12.1624 14.0136 11.7706 13.7289L9.09672 11.7862C8.57099 11.4042 7.85909 11.4042 7.33336 11.7862L4.6595 13.7289C4.26765 14.0136 3.74041 13.6305 3.89008 13.1699L4.91141 10.0265C5.11222 9.40851 4.89223 8.73146 4.3665 8.34949L1.69264 6.40682C1.30078 6.12212 1.50217 5.50231 1.98653 5.50231H5.2916C5.94144 5.50231 6.51738 5.08387 6.71819 4.46584L7.73951 1.32253Z' stroke='%23ffffff'/%3E%3C/svg%3E%0A");
		&.active,
		&:hover {
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.73951 1.32253C7.88919 0.861871 8.54089 0.861871 8.69057 1.32253L9.71189 4.46584C9.9127 5.08387 10.4886 5.50231 11.1385 5.50231H14.4436C14.9279 5.50231 15.1293 6.12212 14.7374 6.40682L12.0636 8.34949C11.5379 8.73146 11.3179 9.40851 11.5187 10.0265L12.54 13.1699C12.6897 13.6305 12.1624 14.0136 11.7706 13.7289L9.09672 11.7862C8.57099 11.4042 7.85909 11.4042 7.33336 11.7862L4.6595 13.7289C4.26765 14.0136 3.74041 13.6305 3.89008 13.1699L4.91141 10.0265C5.11222 9.40851 4.89223 8.73146 4.3665 8.34949L1.69264 6.40682C1.30078 6.12212 1.50217 5.50231 1.98653 5.50231H5.2916C5.94144 5.50231 6.51738 5.08387 6.71819 4.46584L7.73951 1.32253Z' stroke='%23ED1C24'/%3E%3C/svg%3E%0A");
		}
	}

	&__name {
		position: absolute;
		right: 0;
		bottom: 19px;
		font-size: 13px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #0A0854;
		background-color: #fff;
		font-weight: 700;
		padding: 13px 30px 11px 11px;
		margin-left: 33px;
		transition: all .3s ease;
		@media screen and (min-width: 768px) {
			font-size: 15px;
		}
		@media screen and (min-width: 1024px) {
			margin-left: 20px;
		}
		&:after {
			content: '';
			position: absolute;
			width: 12px;
			height: 14px;
			right: 12px;
			top: calc(50% - 7px);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.793 7.54369L2.36293 12.4108C1.81259 12.7285 1.12467 12.3314 1.12467 11.6959L1.12467 1.96169C1.12467 1.32621 1.81259 0.92904 2.36293 1.24678L10.793 6.11387C11.3433 6.43161 11.3433 7.22596 10.793 7.54369Z' stroke='%23ED1C24' stroke-width='1.65101'/%3E%3C/svg%3E%0A");
		}
	}
}