header.header
	.container
		a(href="#").logo
			.logo__img
				img(src="images/logo.svg", alt="")
			.logo__info
				h2 Титаренко, Руссков, Улымов
				span Адвокатская практика с 2002 года
		nav.nav
			ul
				li
					a(href="index.html") Главная
				li
					a(href="about.html") О коллегии
				li
					a(href="lawyers.html") Адвокаты
				li
					a(href="field.html") Области практики
				li
					a(href="cases.html") Кейсы
				li
					a(href="#") Контакты