.typography {

	h1, h2, h3, h4, h5, h6 {
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #FFFFFF;
	}

	h1 {
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 20px;

		@media screen and (min-width: 1024px) {
			font-size: 52px;
			line-height: 62px;
			margin-bottom: 30px;
		}

		@media screen and (min-width: 1200px) {
			margin-bottom: 45px;
		}

		@media screen and (min-width: 1920px) {
			font-size: 72px;
			line-height: 86px;
		}
	}

	h2 {
		display: inline-block;
		position: relative;
		z-index: 1;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 30px;

		@media screen and (min-width: 1024px) {
			font-size: 32px;
			line-height: 38px;
		}

		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			width: 24px;
			height: 40px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='40' viewBox='0 0 24 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.6458 13.9986C15.0956 14.3324 14.3786 14.1555 14.0452 13.6047C13.7117 13.054 13.8884 12.3363 14.4386 12.0025C15.1556 11.5686 15.7525 10.951 16.166 10.2134C16.5628 9.5057 16.7929 8.6879 16.7929 7.81335C16.7929 6.46481 16.246 5.23977 15.3623 4.3552C14.4787 3.47064 13.2582 2.92321 11.9077 2.92321C10.5605 2.92321 9.33671 3.47064 8.45304 4.3552C7.56937 5.23977 7.0225 6.46147 7.0225 7.81335C7.0225 11.3149 10.2971 14.1956 13.8684 17.3333C18.4135 21.3288 23.392 25.7049 23.7288 32.7013C23.7588 33.3455 23.262 33.893 22.6184 33.923C21.9748 33.9531 21.428 33.4557 21.398 32.8115C21.1078 26.8064 16.5228 22.7742 12.3312 19.0924C8.343 15.5875 4.68161 12.3697 4.68161 7.81669C4.68161 5.82058 5.49192 4.01139 6.79908 2.70291C8.10624 1.39442 9.91359 0.583293 11.9077 0.583293C13.9018 0.583293 15.7091 1.39442 17.0163 2.70291C18.3235 4.01139 19.1338 5.82058 19.1338 7.81669C19.1338 9.10181 18.797 10.3102 18.2067 11.3616C17.5932 12.4431 16.7095 13.3544 15.6458 13.9986ZM5.01507 23.4918C3.64122 24.5533 2.41075 26.0153 1.55042 27.6877C0.753453 29.2365 0.266601 30.9756 0.266602 32.7581C0.266602 33.4056 0.790134 33.9297 1.43705 33.9297C2.08396 33.9297 2.60749 33.4056 2.60749 32.7581C2.60749 31.3594 2.9943 29.9875 3.62788 28.7592C4.33148 27.3906 5.33186 26.2023 6.44228 25.3444C6.95247 24.9505 7.04584 24.2162 6.65236 23.7055C6.25887 23.1914 5.52526 23.098 5.01507 23.4918Z' fill='%2379053F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.35682 26.5729C8.90703 26.2391 9.62397 26.4161 9.95743 26.9668C10.2909 27.5176 10.1142 28.2353 9.56394 28.5691C8.847 29.003 8.25345 29.6205 7.83662 30.3582C7.4398 31.0659 7.20972 31.8837 7.20972 32.7582C7.20972 34.1068 7.75659 35.3318 8.64026 36.2164C9.52393 37.1009 10.7444 37.6484 12.0949 37.6484C13.4421 37.6484 14.6659 37.1009 15.5495 36.2164C16.4332 35.3318 16.9801 34.1101 16.9801 32.7582C16.9801 29.2567 13.7055 26.376 10.1342 23.2383C5.5891 19.2427 0.610546 14.8666 0.273751 7.87025C0.24374 7.22602 0.740595 6.67859 1.38417 6.64855C2.02775 6.61851 2.57462 7.11587 2.60464 7.7601C2.89475 13.7651 7.47982 17.7974 11.6714 21.4792C15.6596 24.9841 19.321 28.2019 19.321 32.7549C19.321 34.751 18.5107 36.5602 17.2035 37.8687C15.8963 39.1772 14.089 39.9883 12.0949 39.9883C10.1008 39.9883 8.29346 39.1772 6.9863 37.8687C5.67914 36.5602 4.86883 34.751 4.86883 32.7549C4.86883 31.4698 5.20562 30.2614 5.79585 29.2099C6.40608 28.1318 7.28975 27.2205 8.35682 26.5729ZM18.9842 17.0831C20.358 16.0216 21.5885 14.5596 22.4488 12.8872C23.2458 11.3351 23.7327 9.59932 23.7327 7.81684C23.7327 7.16928 23.2091 6.64521 22.5622 6.64521C21.9153 6.64521 21.3918 7.16928 21.3918 7.81684C21.3918 9.21545 21.005 10.5874 20.3714 11.8157C19.6678 13.1843 18.6674 14.3726 17.557 15.2305C17.0468 15.6244 16.9534 16.3587 17.3469 16.8694C17.7404 17.3801 18.474 17.477 18.9842 17.0831Z' fill='%2379053F'/%3E%3C/svg%3E%0A");
			@media screen and (min-width: 1024px) {
				width: 37px;
				height: 62px;
			}
		}
	}

	h3 {
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 15px;

		@media screen and (min-width: 768px){
			font-size: 20px;
			line-height: 24px;
		}
		@media screen and (min-width: 1024px){
			font-size: 24px;
			line-height: 29px;
		}
	}

	h4 {
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 15px;

		@media screen and (min-width: 1024px){
			font-size: 13px;
			line-height: 16px;
		}
	}

	h5 {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		text-transform: unset;
		margin-bottom: 17px;
	}

	span {
		display: block;
		font-size: 15px;
		line-height: 17px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #FF008A;
		margin-bottom: 24px;
	}

	p {
		font-size: 12px;
		line-height: 1.5;
		letter-spacing: 0.05em;
		color: #FFFFFF;
		margin-bottom: 20px;

		@media screen and (min-width: 1024px) {
			font-size: 20px;
			margin-bottom: 30px;
		}
	}

	ol {
		margin-bottom: 35px;
		padding: 0 0 0 18px;

		li {
			font-size: 12px;
			line-height: 1.4;
			letter-spacing: 0.05em;
			color: #FFFFFF;
			list-style: disc;
			margin-bottom: 10px;
			@media screen and (min-width: 1024px) {
				font-size: 14px;
			}
		}
	}

	ul {
		margin-bottom: 35px;

		li {
			font-size: 12px;
			line-height: 1.4;
			letter-spacing: 0.05em;
			color: #FFFFFF;
			list-style: none;
			margin-bottom: 10px;
			@media screen and (min-width: 1024px) {
				font-size: 14px;
			}
		}
	}

	iframe {
		width: 100%;
		max-height: 550px;
		height: 40vw;
		margin-bottom: 30px;
	}

	.alignright {
		@media screen and (min-width: 768px) {
			float: right;
			max-width: 50%;
			width: auto;
			height: auto;
			margin: 0 0 30px 30px;
		}
	}

	.alignleft {
		@media screen and (min-width: 768px) {
			float: left;
			max-width: 50%;
			width: auto;
			height: auto;
			margin: 0 30px 30px 0;
		}
	}

	.typography-row {
		display: flex;
		flex-direction: column;
		@media screen and (min-width: 768px) {
			flex-direction: row;
			margin: 0 -15px;
		}
	}

	.typography-col {
		width: 100%;
		@media screen and (min-width: 768px) {
			width: 50%;
			padding: 0 15px;
		}
	}
}