.header {
	height: 100vh;
	// background-color: #000;
	.container {
		position: relative;
	}
	&__content {
		position: relative;
		height: 100%;
		padding: 130px 0 0 0;
	}
	&__logo {
		position: absolute;
		top: 44px;
		left: 30px;
		z-index: 4;
		@media screen and (max-width: 768px) {
			top: 20px;
			left: 15px;
		}
		img {
			width: 110px;
			height: 25px;
		}
	}
	&__btn {
		position: absolute;
		top: 30px;
		right: 30px;
		font-size: 14px;
		padding: 18px 20px;
		background-color: #3239cc;
		transition: all .3s ease-in-out;
		z-index: 4;
		color: #fff;
		@media screen and (max-width: 768px) {
			font-size: 10px;
			top: 15px;
			right: 15px;
			padding: 10px 8px;
		}
	}
	&__title {
		font-size: 36px;
		color: #fff;
		position: absolute;
		top: 50%;
		left: 15%;
		transform: translate(10%, -129%);
		z-index: 4;
		@media screen and (max-width: 1024px) {
			font-size: 30px;
		}
		@media screen and (max-width: 768px) {
			font-size: 24px;
			width: 230px;
			top: 25%;
			left: 42%;
			transform: translate(-50%, -50%);
		}
		@media screen and (max-width: 480px) {
			left: 50%;
		}
	}
	&__text {
		position: absolute;
		top: 60%;
		right: 60px;
		font-size: 12px;
		color: #fff;
		width: 200px;
		height: 100px;
		z-index: 4;
		@media screen and (max-width: 1024px) {
			top: 57%;
			right: 18px;
		}
		@media screen and (max-width: 768px) {
			width: 230px;
			top: 48%;
			left: 42%;
			transform: translate(-50%, -50%);
		}
		@media screen and (max-width: 480px) {
			top: 45%;
			left: 50%;
		}
	}
	&__moon {
		position: absolute;
		top: 55%;
		left: 55%;
		transform: translate(-50%, -50%);
		z-index: 3;
		@media screen and (max-width: 1024px) {
			top: 50%;
			img {
				width: 260px;
				height: 260px;
			}
		}
		@media screen and (max-width: 768px) {
			width: 450px;
			height: 450px;
			top: 110%;
			left: 112%;
			img {
				width: 280px;
				height: 280px;
			}
		}
		@media screen and (max-width: 480px) {
			width: 370px;
			height: 370px;
			top: 110%;
			left: 115%;
			img {
				width: 260px;
				height: 260px;
			}
		}
	}

	&__circle {
		width: 540px;
		height: 540px;
		border-radius: 50%;
		border: 80px solid #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0.1;
		z-index: 2;
		@media screen and (max-width: 1024px) {
			width: 340px;
			height: 340px;
			border: 50px solid #fff;
			top: 45%;
		}
		@media screen and (max-width: 768px) {
			top: 96%;
			left: 97%;
			width: 450px;
			height: 450px;
			border: 60px solid #fff;
		}
		@media screen and (max-width: 480px) {
			top: 100%;
			left: 98%;
			width: 450px;
			height: 450px;
		}
	}
}

.soc {
	position: absolute;
	bottom: 45%;
	transform: translateY(50%);
	left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 35px;
	z-index: 4;
	@media screen and (max-width: 768px) {
		bottom: 120px;
		left: 0;
	}
	&__img {
		width: 20px;
		height: 20px;
	}
	&__link {
		position: relative;
		margin: 8px 0;
		@media screen and (max-width: 1024px) {
			margin: 0;
		}
		@media screen and (max-width: 768px) {
			margin: 0;
		}
		&:hover {
			.soc__wrap {
				background-color: #3239cc;
			}
		}
	}
	&__envelope {
		padding: 100px 0;
		@media screen and (max-width: 768px) {
			padding: 0;
		}
		&:after {
			position: absolute;
			content: '';
			width: 20px;
			height: 2px;
			background-color: #999;
			top: 155px;
			left: 8px;
			transform: rotate(90deg);
			@media screen and (max-width: 768px) {
				display: none;
			}
		}
		&:before {
			position: absolute;
			content: '';
			width: 20px;
			height: 2px;
			background-color: #999;
			top: 78px;
			left: 8px;
			transform: rotate(90deg);
			@media screen and (max-width: 768px) {
				display: none;
			}
		}
	}
	&__wrap {
		width: 35px;
		height: 35px;
		background-color: transparent;
		border-radius: 50%;
		padding: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__hello {
		font-size: 12px;
		font-weight: 700;
		color: #999;
		position: absolute;
		transform: rotate(-90deg);
		width: 60px;
		top: 20px;
		left: -13px;
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
	&__follow {
		font-size: 12px;
		font-weight: 700;
		color: #999;
		position: absolute;
		transform: rotate(-90deg);
		width: 60px;
		bottom: 25px;
		left: -14px;
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
}