.subtitle {
	opacity: 0.5;
	color: #000000;
	font-size: 16px;
	font-weight: 300;
	display: block;
	margin-bottom: 35px;
}

.section-title {
	color: #000000;
	font-size: 36px;
	font-weight: 700;
	display: block;
}

.sectio-info {
	opacity: 0.8;
	color: #000000;
	font-size: 16px;
	line-height: 28px;
}
.section-subtitle {
	color: #000000;
	font-size: 22px;
	font-weight: 600;
}