extends ../layouts/default

block head
	- var pageTitle = '';

block wrapper
	.wrapper.overflow.index-bg
		block header
			include ../blocks/header/header

		block content
			main.main
				section.about-section
					.container.container_width
						.about-wrap.typography
							span.wow.bounceInLeft О НАС
							h1.wow.bounceInLeft Компания 
								| 
								br 
								| system pharm
						.about-content
							.about-info
								.typography
									h2.wow.bounceInLeft общая информация
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
									a(href="history.html").section-link история компании

							.about-img(style="background-image: url('images/about.jpg')")
							.about-img(style="background-image: url('images/about1.jpg')")
							.about-img(style="background-image: url('images/about.jpg')")

							.about-info
								.typography
									h2.wow.bounceInLeft Производство
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

				section.team-section
					.container.container_width
						.typography
							h2.wow.bounceInLeft Наша команда
						.team-wrap
							a(href="#").team
								.team__photo
									img(src="images/team1.jpg", alt="")
								span.team__name Ольга
								span.team__name Кравчук
								spanspan.team__position Директор

							a(href="#").team
								.team__photo
									img(src="images/team2.jpg", alt="")
								span.team__name Дмитрий 
								span.team__name Нестерук
								spanspan.team__position Директор

							a(href="#").team
								.team__photo
									img(src="images/team3.jpg", alt="")
								span.team__name Денис 
								span.team__name Андреев
								spanspan.team__position Директор

							a(href="#").team
								.team__photo
									img(src="images/team3.jpg", alt="")
								span.team__name Антон
								span.team__name Горенко
								spanspan.team__position Директор

							a(href="#").team
								.team__photo
									img(src="images/team4.jpg", alt="")
								span.team__name Антонина
								span.team__name Гилева
								spanspan.team__position Директор


				section.production-section
					.container.container_width
						.typography
							h2.wow.bounceInLeft наша продукция
						.production-wrap
							a(href="#").production
								.production__img
									img(src="images/production.png", alt="")
								h3.production__name Органический селен 
								h3.production__name 100мг
							a(href="#").production
								.production__img
									img(src="images/production.png", alt="")
								h3.production__name Органический селен 
								h3.production__name 100мг
							a(href="#").production
								.production__img
									img(src="images/production.png", alt="")
								h3.production__name Органический селен 
								h3.production__name 100мг

						.btn-wrap
							a(href="products.html").section-link Вся продукция

		block footer
			include ../blocks/footer/footer