extends ../layouts/default

block head
	- var pageTitle = '';

block wrapper
	.wrapper.index-bg
		block header
			include ../blocks/header/header

		block content
			main.main
				section.intro-section
					.container.container_width
						.intro-wrap.typography
							span уникальный состав припаратов
							h1 system pharm
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							a(href="#").video-link смотреть видео 
						.soc-wrap
							a(href="#").inst
							a(href="#").fb
							a(href="#").you
				
				section.about-section
					.container
						.about-wrap.typography
							h2 О нас
							.typography-row
								.typography-col
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
								.typography-col
									ol
										li Lorem ipsum dolor sit amet, consectetur adipiscing elit

										li Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

										li Ut enim ad minim veniam, quis nostrud
							.link-wrap
								a(href="#").section-link О развитии
				
				section.partner-section
					.container
						.partner-wrap.typography
							h2 Партнеры


				section.vacancy-section
					.container
						.vacancy-wrap.typography
							h2 Вакансии


		block footer
			include ../blocks/footer/footer