extends ../layouts/default

block head
	- var pageTitle = '';

block wrapper
	.wrapper.index-bg
		block header
			include ../blocks/header/header

		block content
			main.main

				section.news-section
					.container
						.typography
							span Новости
							h1 Последние события
						.news-wrap
							a(href="#").news.typography
								.news__wrap
									.news__img
										img(src="images/news.jpg", alt="")
									.news__info
										h4 22 июня 2019
										span Новая точка
										h4 SystemPharm открывает новую точку продажи в Харькове
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet...
							a(href="#").news.typography
								.news__wrap
									.news__img
										img(src="images/news.jpg", alt="")
									.news__info
										h4 22 июня 2019
										span Новая точка
										h4 SystemPharm открывает новую точку продажи в Харькове
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet...
							a(href="#").news.typography
								.news__wrap
									.news__img
										img(src="images/news.jpg", alt="")
									.news__info
										h4 22 июня 2019
										span Новая точка
										h4 SystemPharm открывает новую точку продажи в Харькове
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet...
							a(href="#").news.typography
								.news__wrap
									.news__img
										img(src="images/news.jpg", alt="")
									.news__info
										h4 22 июня 2019
										span Новая точка
										h4 SystemPharm открывает новую точку продажи в Харькове
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet...
							a(href="#").news.typography
								.news__wrap
									.news__img
										img(src="images/news.jpg", alt="")
									.news__info
										h4 22 июня 2019
										span Новая точка
										h4 SystemPharm открывает новую точку продажи в Харькове
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet...
							a(href="#").news.typography
								.news__wrap
									.news__img
										img(src="images/news.jpg", alt="")
									.news__info
										h4 22 июня 2019
										span Новая точка
										h4 SystemPharm открывает новую точку продажи в Харькове
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet...

						.btn-wrap
							a(href="#").section-link Больше новостей


		block footer
			include ../blocks/footer/footer