extends ../layouts/default

block head
	- var pageTitle = '';

block wrapper
	.wrapper.index-bg
		block header
			include ../blocks/header/header

		block content
			main.main

				section.one-news-section
					.container
						.typography
							span.wow.bounceInLeft Новости
							h1.wow.bounceInLeft SystemPharm открывает новую точку продажи в Харькове
							h5.wow.bounceInLeft Открытие новой точки
						
						.news-sliser.js-news-sliser
							.slide
								img(src="images/new-img.jpg", alt="")
							.slide
								img(src="images/new-img.jpg", alt="")
							.slide
								img(src="images/new-img.jpg", alt="")

						.typography
							h3.wow.bounceInLeft Заголовок

							p.wow.bounceInLeft Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit ameLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit ame

							p.wow.bounceInLeft Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit ameLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit ame

							h3.wow.bounceInLeft Подзаголовок
							
							p.wow.bounceInLeft Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit ameLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit ame

							p.wow.bounceInLeft Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit ameLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit ame

		block footer
			include ../blocks/footer/footer