extends ../layouts/default

block head
	- var pageTitle = '';

block wrapper
	.wrapper.index-bg
		block header
			include ../blocks/header/header

		block content
			main.main

				section.products-section
					.container.container_width
						.products-nav
							.typography
								span.wow.bounceInLeft Продукты
								h2.wow.bounceInLeft Наша продукция

							.select
								.select__head.js-select
									span.select__text Все
								ul.select__list.js-select-list
									li Все
									li неврология
									li эндокринология
									li урология

						.products-wrap
							a(href="product.html").products.small.bottom
								.products__img
									img(src="images/production.png", alt="")
								.products__info
									h3 фармалипон
									p 5 флаконов
									p по 20 мл
							a(href="product.html").products.big
								.products__img
									img(src="images/prod1.png", alt="")
								.products__info
									h3 фармалипон
									p 5 флаконов
									p по 20 мл
							a(href="product.html").products.small.center
								.products__img
									img(src="images/production2.png", alt="")
								.products__info
									h3 фармалипон
									p 5 флаконов
									p по 20 мл
							a(href="product.html").products.middle
								.products__img
									img(src="images/production3.png", alt="")
								.products__info
									h3 фармалипон
									p 5 флаконов
									p по 20 мл
							a(href="product.html").products.small
								.products__img
									img(src="images/production1.png", alt="")
								.products__info
									h3 фармалипон
									p 5 флаконов
									p по 20 мл
							a(href="product.html").products.small.center
								.products__img
									img(src="images/production2.png", alt="")
								.products__info
									h3 фармалипон
									p 5 флаконов
									p по 20 мл
							a(href="product.html").products.middle.top
								.products__img
									img(src="images/production3.png", alt="")
								.products__info
									h3 фармалипон
									p 5 флаконов
									p по 20 мл
					


		block footer
			include ../blocks/footer/footer