extends ../layouts/default

block head
	- var pageTitle = '';

block wrapper
	.wrapper.index-bg
		block header
			include ../blocks/header/header

		block content
			main.main

				section.product-section
					.container.container_width
						.product-wrap.typography
							span Продукт
							.product-container
								.product-img
									.img-wrap
										img(src="images/production.png", alt="")
									a(href="#").section-link Скачать инструкцию
								.product-description
									h2 Цифоселен чистий
									h4 Производитель: SystemPharm
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
									h3 состав
									ol
										li Органический селен 100 мг
										li Органический селен 100 мг
										li Органический селен 100 мг
										li Органический селен 100 мг
									h3 Показания
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									h3 Способ применения
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

				section.production-section
					.container.container_width
						.typography
							h2 другая продукция
						.production-wrap
							a(href="#").production
								.production__img
									img(src="images/production.png", alt="")
								h3.production__name Органический селен 100мг
							a(href="#").production
								.production__img
									img(src="images/production1.png", alt="")
								h3.production__name Органический селен 100мг
							a(href="#").production
								.production__img
									img(src="images/production2.png", alt="")
								h3.production__name Органический селен 100мг
							a(href="#").production
								.production__img
									img(src="images/production3.png", alt="")
								h3.production__name Органический селен 100мг

						.btn-wrap
							a(href="#").section-link Вся продукция

		block footer
			include ../blocks/footer/footer