extends ../layouts/default

block head
	- var pageTitle = '';

block wrapper
	.wrapper.index-bg
		block header
			include ../blocks/header/header

		block content
			main.main

				section.vacancy-section
					.container.container_width
						.vacancy-box.vacancy-info.typography
							span.wow.bounceInLeft Карьера
							h1.wow.bounceInLeft Стань частью команды
							p.wow.bounceInLeft Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

						.vacancy-box.vacancy-wrap
							.vacancy.wow.bounceInRight
								.vacancy__img
									img(src="images/vacancy.jpg", alt="")
								.vacancy__info.typography
									h3 Медицинский представитель
									h4 Киевская область
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consecteturabore et dolore magna aliqua. 
									a(href="one-vacancy.html").section-link смотреть

							.vacancy.wow.bounceInRight
								.vacancy__img
									img(src="images/vacancy.jpg", alt="")
								.vacancy__info.typography
									h3 Медицинский представитель
									h4 Львовская область
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consecteturabore et dolore magna aliqua. 
									a(href="one-vacancy.html").section-link смотреть

							.vacancy.wow.bounceInRight
								.vacancy__img
									img(src="images/vacancy.jpg", alt="")
								.vacancy__info.typography
									h3 Медицинский представитель
									h4 Черниговская область
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consecteturabore et dolore magna aliqua. 
									a(href="one-vacancy.html").section-link смотреть



		block footer
			include ../blocks/footer/footer