.main-title {
	font-weight: 700;
	font-size: 80px;
	line-height: 98px;
	color: #FFFFFF;
	text-shadow: 0px 17px 50px rgba(0, 0, 0, 0.05);
}

.second-title {
	font-weight: 700;
	font-size: 29px;
	line-height: 35px;
	color: #FFFFFF;
	text-shadow: 0px 17px 50px rgba(0, 0, 0, 0.05);
}

.info-text {
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
	text-shadow: 0px 17px 50px rgba(0, 0, 0, 0.05);
}