.mask.js-mask

.modal.js-modal.js-modal-mnIn
	.modal__wrap
		span.modal__title MnInvest
		form(action="#").mainForm
			.mainForm__wrap
				label.mainForm__label Amount
				input(type="text" placeholder='2000.00').mainForm__input
				.mainForm__df-wrap
					button(type='submit').mainForm__btn Invest
					a(href="#").modal__withd Withdrawal
	.table
		span.block-title History
		.table__titles
			span Date
			span Type
			span Amount
		.table__values.scroll-wrap
			a(href="#").table__value
				span.table__pair 12.08 24:18
				span.table__change.table__change_red Withdrawl
				span.table__price 2000.00
			a(href="#").table__value
				span.table__pair 12.08 24:18
				span.table__change.table__change_green Invest
				span.table__price 2000.00
			a(href="#").table__value
				span.table__pair 12.08 24:18
				span.table__change.table__change_red Withdrawl
				span.table__price 2000.00
			a(href="#").table__value
				span.table__pair 12.08 24:18
				span.table__change.table__change_green Invest
				span.table__price 2000.00
			a(href="#").table__value
				span.table__pair 12.08 24:18
				span.table__change.table__change_red Withdrawl
				span.table__price 2000.00
			a(href="#").table__value
				span.table__pair 12.08 24:18
				span.table__change.table__change_green Invest
				span.table__price 2000.00

.modal.js-modal.js-modal-widthr
	.modal__wrap
		span.modal__title Withdrawal
		form(action="#").mainForm
			.mainForm__wrap
				label.mainForm__label Amount
				input(type="text" placeholder='2000.00').mainForm__input
				label.mainForm__label Address
				input(type="text" placeholder='5651gfgf8gf8g9f1gf1gfse8rt4ter8g').mainForm__input
				button(type='submit').mainForm__btn Send
	.table
		span.block-title History
		.table__titles
			span Date
			span Address
			span Amount
		.table__values.scroll-wrap
			a(href="#").table__value
				span.table__pair 12.08 24:18
				span.table__price 5651gfgf8gf8g9f1gf1gfse8rt4
				span.table__price 2000.00
			a(href="#").table__value
				span.table__pair 12.08 24:18
				span.table__price 5651gfgf8gf8g9f1gf1gfse8rt4
				span.table__price 2000.00
			a(href="#").table__value
				span.table__pair 12.08 24:18
				span.table__price 5651gfgf8gf8g9f1gf1gfse8rt4
				span.table__price 2000.00
			a(href="#").table__value
				span.table__pair 12.08 24:18
				span.table__price 5651gfgf8gf8g9f1gf1gfse8rt4
				span.table__price 2000.00
			a(href="#").table__value
				span.table__pair 12.08 24:18
				span.table__price 5651gfgf8gf8g9f1gf1gfse8rt4
				span.table__price 2000.00
			a(href="#").table__value
				span.table__pair 12.08 24:18
				span.table__price 5651gfgf8gf8g9f1gf1gfse8rt4
				span.table__price 2000.00
			a(href="#").table__value
				span.table__pair 12.08 24:18
				span.table__price 5651gfgf8gf8g9f1gf1gfse8rt4
				span.table__price 2000.00

.modal.js-modal.js-modal-in
	a(href="index.html").logo
		img(src="images/logo.svg", alt="")
	.modal__wrap
		span.modal__title Sign in to your account
		form(action="#").mainForm
			.mainForm__wrap
				label.mainForm__label Login
				input(type="text" placeholder='NewUsEr99').mainForm__input
				label.mainForm__label Password
				input(type="password" placeholder='Password').mainForm__input
				.mainForm__df-wrap
					button(type='submit').mainForm__btn.js-signIn Sign In
	.modal__soc
		span.modal__soc-sign or sign in with
		.df-wrap
			a(href="#").modal__soc-link
				.modal__img-wrap
					img(src="images/discord.png", alt="")
				span.modal__soc-name Discord
			a(href="#").modal__soc-link
				.modal__img-wrap
					img(src="images/telegram.png", alt="")
				span.modal__soc-name Telegram

.modal.js-modal.js-modal-up
	a(href="index.html").logo
		img(src="images/logo.svg", alt="")
	.modal__wrap
		span.modal__title Sign up to your account
		form(action="#").mainForm
			.mainForm__wrap
				label.mainForm__label Login
				input(type="text" placeholder='NewUsEr99').mainForm__input
				label.mainForm__label Password
				input(type="password" placeholder='Password').mainForm__input
				label.mainForm__label Confirm password
				input(type="password" placeholder='Password').mainForm__input
				.mainForm__df-wrap
					button(type='submit').mainForm__btn.js-signIn Sign Up
	.modal__soc
		span.modal__soc-sign or sign in with
		.df-wrap
			a(href="#").modal__soc-link
				.modal__img-wrap
					img(src="images/discord.png", alt="")
				span.modal__soc-name Discord
			a(href="#").modal__soc-link
				.modal__img-wrap
					img(src="images/telegram.png", alt="")
				span.modal__soc-name Telegram