//- include ../bg/bg
header.header
	.container.container_width
		a(href="#").logo
			img(src="images/logo.svg", alt="")

		.burger-wrap
			.search
			.burger.js-burger
				span
				span
				span

	.nav.js-nav
		ul.nav-list
			li
				a(href="index.html") главная
			li
				a(href="about.html") о компании
			li
				a(href="history.html") история
			li
				a(href="cooperation.html") сотрудничество
			li
				a(href="vacancy.html") вакансии
			li
				a(href="products.html") товары
			li
				a(href="news.html") новости

		.soc-wrap
			a(href="#").inst
			a(href="#").fb
			a(href="#").you
