section.contacts-section
	.contacts-wrap
		.container
			.form-wrap
				h2.section-title Остались вопросы?
				p Наш специалист вам на них с радостью ответит!
				form(action="#" id="#" method="#").mainForm
					.mainForm__wrap
						input(type="text" placeholder="Ваше имя...").mainForm__input
						input(type="text" placeholder="Номер телефона").mainForm__input
						textarea(placeholder="Ваш вопрос?").mainForm__textarea
						button(type="submit").main-btn Задать вопрос
			.form-img
				img(src="images/form-img.png", alt="")
		
	.map-part
		.container
			.contacts
				a(href="index.html").logo
					img(src="images/logo.png", alt="")
				p.cont-desc Изготовление, восстановление и ремонт кузовов зерновозов, самосвалов, полуприцепов в г. Энгельс, Саратовская область.
				p.item.item_address
					span Адрес: 
					span Саратовская область, Энгельс, п-т Строителей, 39Е
				a(href="tel:8452448445").item.item_tel
					span Телефон:
					span (8452) 448-445
				a(href="mailto:metchel64@mail.ru").item.item_email
					span e-mail:
					span metchel64@mail.ru
				a(href="#").policy Политика конфиденциальности
				a(href="#").policy Согласие на обработку персональных данных
			.map
				iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9803.404410978657!2d46.140252996152086!3d51.44962711777505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4114ba2a75299ea7%3A0x85eac867c551c3b4!2z0L_RgC4g0KHRgtGA0L7QuNGC0LXQu9C10LksIDM50LUsINCt0L3Qs9C10LvRjNGBLCDQodCw0YDQsNGC0L7QstGB0LrQsNGPINC-0LHQuy4sINCg0L7RgdGB0LjRjywgNDEzMTUx!5e1!3m2!1sru!2sua!4v1578367641438!5m2!1sru!2sua', width='100%', height='100%', frameborder='0', style='border:0;', allowfullscreen='')