header.header
	.container
		a(href="#").logo
			img(src="images/logo.svg", alt="")

		nav.nav
			ul.nav__list
				li.nav__item
					a(href="index.html").nav__link about us
				li.nav__item
					a(href="technology.html").nav__link technology
				li.nav__item
					a(href="catalogue.html").nav__link catalogue 
				li.nav__item
					a(href="projects.html").nav__link projects
				li.nav__item
					a(href="news.html").nav__link news
				li.nav__item
					a(href="contact.html").nav__link contact
				li.nav__item
					a(href="shop.html").nav__link online shop

		.info-wrap
			span.call 

			.lang-wrap
				a(href="#").lang EN
