header.header
	.container
		a(href="index.html").logo
			img(src="images/logo.svg", alt="")

		nav.nav.js-nav
			ul.nav__list
				li.nav__item
					a(href="about.html").nav__link about us
				li.nav__item
					a(href="technology.html").nav__link technology
				li.nav__item
					a(href="catalog.html").nav__link catalogue 
				li.nav__item
					a(href="projects.html").nav__link projects
				li.nav__item
					a(href="news.html").nav__link news
				li.nav__item
					a(href="contact.html").nav__link contact
				li.nav__item
					a(href="shop.html").nav__link online shop
			.fix-soc
				a(href="#").soc.soc_inst
				a(href="#").soc.soc_fb
				a(href="#").soc.soc_you

		.info-wrap
			span.call 

			.lang-wrap.js-lang
				a(href="#").lang EN
				.langs
					a(href="#").lang EN
					a(href="#").lang RU
					a(href="#").lang DE

		.burger.js-burger
			span
			span
			span
