.header {
	background-image: url('../img/header-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	@media screen and (max-width: 1024px) {
		
	}
	@media screen and (max-width: 768px) {
		padding-top: 5px;
	}
	.logo {
		img {
			width: 100%;
		}
		@media screen and (max-width: 768px) {
			width: 130px;
		}
	}
}

.tel-wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-bottom: 15px;
	@media screen and (max-width: 768px) {
		padding-bottom: 0;
	}

	.tel {
		display: flex;
		align-items: center;
		cursor: pointer;

		&_small {
			margin-bottom: 4px;
		}

		&__img {
			margin-right: 5px;
			width: 30px;
			height: 30px;
			@media screen and (max-width: 480px) {
				width: 20px;
				height: 20px;
			}
		}
		&__number {
			color: #000;
			font-size: 20px;
			font-weight: bold;
			@include text-shadow;
			&_small {
				text-shadow: none;
			}
			@media screen and (max-width: 1024px) {
				font-size: 16px;
			}
			@media screen and (max-width: 768px) {
				font-size: 15px;
			}
			@media screen and (max-width: 480px) {
				font-size: 14px;
			}
		}
	}

	.call-me {
		color: #000;
		font-size: 17px;
		font-weight: bold;
		text-align: center;
		padding: 4px 20px;
		background-color: #fff;
		border: 2px solid #fba104;
		border-radius: 20px;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		&:hover {
			color: #fff;
			background-color: #fba104;;
		}
		@media screen and (max-width: 1024px) {
			font-size: 13px;
		}
		@media screen and (max-width: 480px) {
			font-size: 12px;
		}
	}
}

.header-top {
	position: relative;
	z-index: 1;
	margin-bottom: 18px;
	.container {
		@include flex-between-center;
	}
	.top-text {
		color: #000;
		font-size: 24px;
		font-weight: bold;
		padding-bottom: 15px;
		@include text-shadow;
		@media screen and (max-width: 1024px) {
			font-size: 20px;
		}
		@media screen and (max-width: 900px) {
			font-size: 16px;
		}
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
	.tel {
		margin-bottom: 5px;
	}
	&:before {
		position: absolute;
		content: '';
		z-index: -1;
		width: 100%;
		height: 75px;
		background: rgba(255, 255, 255, 0.8);
		top: 0;
		left: 0;
		@media screen and (max-width: 768px) {
			top: -5px;
		}
	}
}

.header-info {
	.container {
		@include flex-column-center;
	}

	.main-title {
		font-family: Bebas Neue;
		color: #000;
		font-size: 60px;
		text-align: center;
		margin-bottom: 30px;
		@include text-shadow;
		@media screen and (max-width: 1024px) {
			font-size: 50px;
			margin-bottom: 25px;
		}
		@media screen and (max-width: 768px) {
			font-size: 40px;
		}
		@media screen and (max-width: 550px) {
			font-size: 35px;
			br {
				display: none;
			}
		}
		@media screen and (max-width: 400px) {
			font-size: 30px;
			margin-bottom: 20px;
		}
	}
	.main-text {
		color: #000;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 36px;
		@include text-shadow;
		@media screen and (max-width: 1024px) {
			font-size: 18px;
			margin-bottom: 30px;
		}
		@media screen and (max-width: 768px) {
			font-size: 16px;
		}
		@media screen and (max-width: 650px) {
			font-size: 15px;
			br {
				display: none;
			}
		}
	}
	.advantage-wrap {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}
	.advantage {
		@include flex-column-center;
		width: 210px;
		margin: 0 25px;
		@media screen and (max-width: 1024px) {
			margin: 0 15px;
		}
		@media screen and (max-width: 768px) {
			width: 165px;
			margin: 0 8px;
		}
		@media screen and (max-width: 550px) {
			width: 33%;
		}

		&__img-wrap {
			@include flex-center;
			width: 105px;
			height: 105px;
			background: rgba(228, 199, 151, 0.7);
			border-radius: 50%;
			margin-bottom: 22px;
			@media screen and (max-width: 768px) {
				margin-bottom: 15px;
			}
			@media screen and (max-width: 768px) {
				width: 75px;
				height: 75px;
				margin-bottom: 10px;
			}
		}
		&__img {
			@include flex-center;
			width: 85px;
			height: 85px;
			background-color: #fff;
			border-radius: 50%;
			@media screen and (max-width: 768px) {
				width: 60px;
				height: 60px;
				img {
					width: 70%;
				}
			}
		}

		&__text {
			color: #000;
			font-size: 24px;
			font-weight: bold;
			text-align: center;
			@media screen and (max-width: 1024px) {
				font-size: 22px;
			}
			@media screen and (max-width: 768px) {
				font-size: 16px;
			}
			@media screen and (max-width: 550px) {
				font-size: 14px;
			}
			@media screen and (max-width: 400px) {
				font-size: 12px;
			}
		}
	}
}

.header-menu {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding-top: 8px;
	&:after {
		position: absolute;
		content: '';
		z-index: -1;
		width: 100%;
		height: 18px;
		background: rgba(236, 151, 20, 0.8);
		top: 0;
		left: 0;
	}
	&:before {
		position: absolute;
		content: '';
		z-index: -1;
		width: 100%;
		height: 64px;
		background: #fcb945;
		top: 18px;
		left: 0;
		@media screen and (max-width: 480px) {
			height: 48px;
		}
	}
	.container {
		@include flex-between-center;
	}
	.tel-wrap {
		display: flex;
		flex-direction: column;
		align-items: flex-end;	
	}
}

.header-menu.fix {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.nav {
	@media screen and (max-width: 900px) {
		display: none;
	}
	&__list {
		display: flex;
		justify-content: space-around;
	}

	&__item {
		margin: 0 12px;
		@media screen and (max-width: 1150px) {
			margin: 0 10px;
		}
		@media screen and (max-width: 1050px) {
			margin: 0 7px;
		}
	}

	&__link {
		color: #000;
		font-size: 19px;
		font-weight: bold;
		@media screen and (max-width: 1150px) {
			font-size: 17px;
		}
		@media screen and (max-width: 1050px) {
			font-size: 15px;
		}
	}
}


// .burger-menu {
// 	position: absolute;
// 	z-index: 10;
// 	top: 0;
// 	left: -350px;
// 	width: 350px;
// 	height: 100%;
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	padding: 50px 0;
// 	z-index: 100;
// 	transition: all .5s ease-in-out;
// 	background-color: rgba(255, 255, 255, .9);
// 	@media screen and (max-width: 480px) {
// 		width: 100%;
// 		left: -100%;
// 	}
// }

// .burger-menu.show {
// 	top: 0;
// 	left: 0;
// 	z-index: 1000;
// 	transition: all .5s ease-in-out;
// }

// .burger-opener {
// 	position: absolute;
// 	z-index: 2000;
// 	top: 6px;
// 	right: 6px;
// 	display: none;
// 	@media screen and (max-width: 768px) {
// 		display: block;
// 	}
// }