ul.bar-list
	li
		a(href="tovar-1.html") Производственные мощности
	li
		a(href="tovar-2.html") Быстровозводимые конструкции
	li
		a(href="tovar-3.html") Ёмкости из листового металла
	li
		a(href="tovar-4.html") Дымовые трубы производственного назначения
	li
		a(href="tovar-5.html") Сетки арматурные
	li
		a(href="tovar-6.html") Фигурные ограждения, арки и оградки
	li
		a(href="tovar-7.html") Лестницы металлические
	li
		a(href="tovar-8.html") Конструктор для детских площадок
	li
		a(href="tovar-9.html") Вентиляционные системы и вентиляционные короба
	li
		a(href="tovar-10.html") Дымоходы
	li
		a(href="tovar-12.html") Котлы металлические
	li
		a(href="tovar-13.html") Камины металлические дизайнерские
	li
		a(href="tovar-14.html") Сваи винтовые