.field-section {
	padding: 50px 0;
	background-color: #f0f3f5;

	.field-content {
		display: flex;
		flex-wrap: wrap;
		@media screen and (min-width: 768px) {
			margin: 0 -10px;
		}
	}
}

.practice {
	margin-bottom: 50px;
	h4 {
		font-size: 16px;
		color: #5f6e7d;
		line-height: 1.25;
		font-weight: 700;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(0, 0, 0, .2);
	}

	h5 {
		font-size: 14px;
		font-weight: 500;
		line-height: 1.55;
		margin-bottom: 10px;
	}

	p {
		font-weight: 300;
		font-size: 14px;
		line-height: 1.55;
		margin-bottom: 25px;
	}
}

.field {
	display: block;
	width: 100%;
	margin: 0 0 20px;
	position: relative;
	padding: 20px 30px 20px 20px;
	background-color: #fff;
	box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.38);
	color: #5f6e7d;
	font-size: 15px;
	font-weight: 600;

	@media screen and (min-width: 768px) {
		width: calc(50% - 20px);
		margin: 0 10px 20px;
		padding: 20px 70px 20px 20px;
		font-size: 16px;

		&:hover {
			transition: all .3s ease;
			&:after {
				transform: translate(15px, -50%);
			}
		}
	}

	@media screen and (min-width: 1024px) {
		width: calc(33.33% - 20px);
	}

	&:after {
		transition: all .3s ease;
		position: absolute;
		content: '';
		width: 20px;
		height: 20px;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		@include bg-img-center;
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.008 512.008' style='enable-background:new 0 0 512.008 512.008;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%235f6e7d' d='M381.048,248.633L146.381,3.299c-3.021-3.146-7.646-4.167-11.688-2.521c-4.042,1.615-6.688,5.542-6.688,9.896v42.667 c0,2.729,1.042,5.354,2.917,7.333l185.063,195.333L130.923,451.341c-1.875,1.979-2.917,4.604-2.917,7.333v42.667 c0,4.354,2.646,8.281,6.688,9.896c1.292,0.521,2.646,0.771,3.979,0.771c2.854,0,5.646-1.146,7.708-3.292l234.667-245.333 C384.986,259.258,384.986,252.758,381.048,248.633z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
		@media screen and (min-width: 768px) {
			right: 35px;
		}
	}
}