header.header
	.container
		a(href="index.html").logo ITRAVEL

		nav.nav.js-nav
			ul
				li
					a(href="index.html") ГЛАВНАЯ
				li
					a(href="search.html") ТУРЫ
				li
					a(href="#") НАФТАЛАН
				li
					a(href="aboutus.html") О НАС

		a(href="tel:+994514543931").tel +994 (51) 454-39-31

		.burger.js-burger
			span
			span
			span