footer.footer
    .container 

        .feedback-container
            .feedback-wrap
                .feedback
                    .feedback__image
                        img(src="../images/footer-photo.jpg", alt="")
                    .feedback__info
                        .customer-info
                            span.customer-name Veleria Lopez
                            span.customer-rate
                                    .star
                                    .star
                                    .star
                                    .star
                                    .star
                        p.customer-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra nibh cras pulvinar mattis nunc sed. 
                        span.date 03.12.2018


            .feedback-form
                h3.form-title Leave your feedback about our service.
                span.form-subtitle Every review is important to us, be it positive or negative
                
                .personal-info
                    input.first-name(type="text" placeholder="Your name")
                    input.email(type="text" placeholder="Your email")

                


