footer.footer
	.container
		.footer-wrap
			a(href="#").footer-img
				img(src="images/Addpopular.svg", alt="")

			p.footer-text We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.
			a(href="mailto:suport@addpopular.com").contact-us__email suport@addpopular.com

			nav.footer-nav
				ul.footer-links
					li 
						a(href="#") Feedback
					li 
						a(href="#") How it works
					li
						a(href="#").active FAQ
					li 
						a(href="#") Privacy Policy
					li 
						a(href="#") Refund Policy
					li 
						a(href="#") Affiliate program
			
			span.rights ©  2020 . All Rights Reserved.

.mask.js-mask

.modal.scroll-wrap.js-modal-step1
	.modal__wrap
		.modal__header
			.modal__info.modal__info_violet
				span.modal__icon 1
				span.modal__subheading Information

			.modal__info.modal__info_gray
				span.modal__icon 2
				span.modal__subheading Select service

		h3.modal__title Buy 
			span 500 
			| Instagram followers
		span.modal__subtitle Fill in the data for the purchase

		form(action="#").lk-form
			.lk-form__wrap
				.lk-form__field.user-icon
					label.lk-form__label Instagram username
					input(type="text" placeholder="Enter your instagram username").lk-form__input

				.lk-form__field.email-icon
					label.lk-form__label Email
					input(type="text" placeholder="gmail@com").lk-form__input

			button(type="submit").lk-form__modal-btn.js-step2 Select account

.modal.scroll-wrap.js-modal-step2
	.modal__wrap
		.modal__header
			.modal__info.modal__info_confirm
				span.modal__icon 
				span.modal__subheading Information

			.modal__info.modal__info_violet
				span.modal__icon 2
				span.modal__subheading Select service
		
		.user-card
			.user-card__image 
				img(src="images/cart.jpg" alt="")
			.user-card__info
				.user-card__inner
					span.user-card__username @Instagram.username38
					span.user-card__refresh
				.user-card__details
					.user-card__posts
						span.user-card__number 56
						span.user-card__social Posts
					.user-card__followers
						span.user-card__number 335
						span.user-card__social Followers
					.user-card__following 
						span.user-card__number 423
						span.user-card__social Following

		form(action="#").lk-form
			.lk-form__wrap
				.modal__plan 
					.modal__plan-info
						span.modal__plan-type Standard
						span.modal__package Package: 
							span 250 
								span followers
						span.modal__price Price: 
							span 4,99 $

					label.switch
						input(type="checkbox")
						span.slider

				.modal__plan 
					.modal__plan-info
						span.modal__plan-type Premium
						span.modal__package Package: 
							span 250 
								span followers
						span.modal__price Price: 
							span 4,99 $

					label.switch
						input(type="checkbox")
						span.slider
				
				.choose
					label.choose__service
						input(type="radio" name="social" value="1000 likes").choose__radio
						span.choose__text + 1 000 likes
						span.choose__price + 7,99 $

					label.choose__service
						input(type="radio" name="social" value="2000 likes").choose__radio
						span.choose__text + 2 000 likes
						span.choose__price + 13,99 $

					label.choose__service
						input(type="radio" name="social" value="200 comments").choose__radio
						span.choose__text + 200 comments
						span.choose__price + 13,99 $

				.methods
					span.methods__text Method payments:
					label.methods__paypal
						input(type="radio" name="payment" value="paypal").choose__radio
					label.methods__creditcard
						input(type="radio" name="payment" value="creditcard").choose__radio

				.modal__links
					button(type="submit").lk-form__modal-btn.js-method-btn Buy now 
					button(type="submit").lk-form__basket-btn

		a(href="#").modal__rules By purchasing, you agree with rules

.modal.scroll-wrap.modal_basket.js-modal-step3
	.modal__wrap
		form(action="#").lk-form
			.lk-form__wrap
				.modal__cart
					span.modal__my-cart My Cart (2)
					span.modal__clear Clear cart:
						span.shop-cart__delete

				.user-card
					.user-card__image 
						img(src="images/cart.jpg" alt="")
					.user-card__info
						.user-card__inner
							span.user-card__username @Instagram.username38
							span.user-card__refresh
						.user-card__plan-info
							span.user-card__plan-type Standard
							span.user-card__delete
						.user-card__package-wrap
							span.user-card__package Package: 
							span.user-card__package-count 250
							span.user-card__package-followers followers
						span.user-card__price Price: 
							span 4,99 $

				.user-card
					.user-card__image 
						img(src="images/cart.jpg" alt="")
					.user-card__info
						.user-card__inner
							span.user-card__username @Instagram.username38
							span.user-card__refresh
						.user-card__plan-info
							span.user-card__plan-type Standard
							span.user-card__delete
						.user-card__package-wrap
							span.user-card__package Package: 
							span.user-card__package-count 250
							span.user-card__package-followers followers
						span.user-card__price Price: 
							span 4,99 $

				.modal__total
					span.modal__pay To pay:
					span.modal__total-price 12,98 $

				.methods
					span.methods__text Method payments:
					label.methods__paypal
						input(type="radio" name="payment" value="paypal").choose__radio
					label.methods__creditcard
						input(type="radio" name="payment" value="creditcard").choose__radio


				button(type="submit").lk-form__modal-btn.lk-form__modal-btn_payment Proceed to payment
				button(type="submit").lk-form__modal-btn.lk-form__modal-btn_transparent Go to shopping

				a.modal__rules By purchasing, you agree with rules

.modal.scroll-wrap.js-modal-login
	.modal__wrap
		.modal__img
			img(src="images/log-in.jpg", alt="")

		span.modal__title Log in
		span.modal__subtitle Enter your details to log in
			
		form(action="#").lk-form
			.lk-form__wrap
				.lk-form__field.user-icon
					label.lk-form__label Your username
					input(type="text" placeholder="Username").lk-form__input
				.lk-form__field.password-icon
					label.lk-form__label Password
					input(type="text" placeholder="Password").lk-form__input 
			.password
				label.password__remember Remember me
					input(type="checkbox" name="social" value="1000 likes").choose__radio
				a(href="#").password__recover Forgot password?

			button(type="submit").lk-form__modal-btn Sign In
			button(type="submit").lk-form__modal-btn.js-reg-open Create Account

.modal.scroll-wrap.js-modal-reg
	.modal__wrap
		.modal__img
			img(src="images/sign-up.jpg", alt="")

		span.modal__title Sign Up
		span.modal__subtitle Fill in your registration details

		form(action="#").lk-form
			.lk-form__wrap
				.lk-form__field.user-icon
					label.lk-form__label Your username
					input(type="text" placeholder="Username").lk-form__input

				.lk-form__field.email-icon
					label.lk-form__label Email
					input(type="text" placeholder="Email").lk-form__input

				.lk-form__field.password-icon
					label.lk-form__label Password
					input(type="text" placeholder="Password").lk-form__input 

			button(type="submit").lk-form__modal-btn Sign Up
