.footer {
    padding: 50px 0;
    background: url('../images/footer-bg.jpg') no-repeat;
    background-size: cover;

    .container {
        display: flex;
        padding-top: 50px;
    }
}

.feedback-wrap {
    width: 50%;
}

.feedback-form {
    width: 50%;
}

.personal-info {
    display: flex;
    flex-direction: column;
}