.using {
	display: flex;
	align-items: center;

	&__img {
		width: 200px;
		height: 200px;
		margin-right: 28px;
		flex: none;
		img {
			@include img-style;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
	}

	&__name {
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		color: #FFFFFF;
		margin-bottom: 8px;
	}

	&__text {
		font-size: 16px;
		line-height: 26px;
		color: #FFFFFF;
	}
}