extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.intro-section
			.container-max
				h1.main-title НАФТАЛАН
				.title-img
					img(src="images/intro.jpg", alt="")
				.order
					h2.order-title Оформление заказа
					form(action="#").mainForm
						input(type="text" placeholder="Кол-во людей").mainForm__input
						input(type="text" placeholder="Ф.И.О. контактного лица").mainForm__input
						input(type="text" placeholder="Телефон").mainForm__input
						input(type="text" placeholder="E-mail").mainForm__input
						button(type='submit').mainForm__btn Заказать
		section.info-section
			.container
				span.info-title ЛЕГЕНФА О НАФТАЛАНЕ
				p.info-description Это было в древности в начале 6 века нашей эры. Караван купцов проходил мимо местечка, где ныне располагается город Нафталан. В этих местах было немало озер с мутной водой. Чтобы не нанести вреда верблюдам, их отогнали от водоемов.
				p.info-description В караване был верблюд, отличающийся от других своих собратьев худобой и болезнями. Он плохо стоял на ногах и стонал, да так громко, что приводил в ярость своего хозяина. Дошло до того, что караван-баши отдал приказ об отстранении больного животного от каравана: «Ему лучше погибнуть отравившись ядовитой водой здешних озер, чем жить с мучительными болезнями.» Оставив больного верблюда на умирание караван продолжили свой путь .На обратном пути, пролегавшем через те же места, где было оставлено больное животное, хозяин каравана заметил одинокого верблюда, узнав в нем отрешенного. Верблюд выглядел поправившимся, жизнерадостным и вполне здоровым. Все люди из каравана ,знавшие этого верблюда, были сильно удивлены этим фактом. Решено было проследить за животным. К изумлению людей, верблюд часто заходил в мутную воду озер, купался в ней и выходил на сушу для отдыха под солнцем. Люди обнаружили, что под мутью воды находилась черная маслянистая жидкость и поняли, что исцеление больного животного связано с этим. Люди, обмазав свои раны рук и ног этим черным маслом, вскоре убедились в целебности маслянистых озер, раны зажили. Так население близ- лежащих деревень стали использовать волшебную жидкость, как лекарственное средство и вследствии схожести его с обычной нефтью, позднее дали ему имя –«НАФТАЛАН».


block footer
	include ../blocks/footer/footer		