extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.title-section
			.container
				h3.tour-title Туры
		section.search-section
			.container
				form(action="#").searchForm
					.searchForm__wrap
						input(type="text" placeholder="Дата").searchForm__input
						input(type="text" placeholder="Цена").searchForm__input
						input(type="text" placeholder="Страна").searchForm__input
						input(type="text" placeholder="Город").searchForm__input
						button(type='submit').searchForm__btn Найти
		section.tours-section
			.container
				.tours
					.tour
						.tour__img
							img(src="images/tour2.jpg", alt="")
						.tour__info
							span.tour__name Гобустан
							p.tour__description Посетите один из древнейших городов Азербайджана
							.tour__price-wrap 
								span.tour__price 150$
								a(href="#").tour__more ...
					.tour
						.tour__img
							img(src="images/tour2.jpg", alt="")
						.tour__info
							span.tour__name Гобустан
							p.tour__description Посетите один из древнейших городов Азербайджана
							.tour__price-wrap 
								span.tour__price 150$
								a(href="#").tour__more ...
					.tour
						.tour__img
							img(src="images/tour2.jpg", alt="")
						.tour__info
							span.tour__name Гобустан
							p.tour__description Посетите один из древнейших городов Азербайджана
							.tour__price-wrap 
								span.tour__price 150$
								a(href="#").tour__more ...
					.tour
						.tour__img
							img(src="images/tour2.jpg", alt="")
						.tour__info
							span.tour__name Гобустан
							p.tour__description Посетите один из древнейших городов Азербайджана
							.tour__price-wrap 
								span.tour__price 150$
								a(href="#").tour__more ...
					.tour
						.tour__img
							img(src="images/tour2.jpg", alt="")
						.tour__info
							span.tour__name Гобустан
							p.tour__description Посетите один из древнейших городов Азербайджана
							.tour__price-wrap 
								span.tour__price 150$
								a(href="#").tour__more ...
					.tour
						.tour__img
							img(src="images/tour2.jpg", alt="")
						.tour__info
							span.tour__name Гобустан
							p.tour__description Посетите один из древнейших городов Азербайджана
							.tour__price-wrap 
								span.tour__price 150$
								a(href="#").tour__more ...
					.tour
						.tour__img
							img(src="images/tour2.jpg", alt="")
						.tour__info
							span.tour__name Гобустан
							p.tour__description Посетите один из древнейших городов Азербайджана
							.tour__price-wrap 
								span.tour__price 150$
								a(href="#").tour__more ...
					.tour
						.tour__img
							img(src="images/tour2.jpg", alt="")
						.tour__info
							span.tour__name Гобустан
							p.tour__description Посетите один из древнейших городов Азербайджана
							.tour__price-wrap 
								span.tour__price 150$
								a(href="#").tour__more ...
				a(href="#").main-btn Показать ещё


block footer
	include ../blocks/footer/footer