.breadCrumbs-section {
	padding: 25px 0;
	.breadCrumbs {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		.onmain {
			width: 100%;
			transition: all .5s ease;
			padding: 8px 20px 8px 30px;
			border-radius: 5px;
			border: 1px solid #e1e1e1;
			color: rgba(0, 0, 0, .5);
			font-size: 16px;
			font-weight: 400;
			text-align: center;
			margin: 0 0 16px;
			position: relative;
			@media screen and (min-width: 500px) {
				width: 150px;
				margin: 0 35px 0 0;
			}
			&:hover {
				border: 1px solid #c82121;
				color: #fff;
				background-color: #c82121;
				&:before {
				color: #fff;
			}
			}
			&:after {
				display: none;
			}
			&:before {
				transition: all .5s ease;
				position: absolute;
				content: '<';
				top: 50%;
				transform: translateY(-50%);
				left: 13px;
			}
		}
		a {
			color: rgba(0, 0, 0, .5);
			font-size: 16px;
			font-weight: 400;
			margin-right: 10px;
			padding-right: 10px;
			position: relative;
			&:after {
				position: absolute;
				content: '>';
				top: 50%;
				transform: translateY(-50%);
				right: -5px;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
			&:hover {
				color: #c82121;
			}
		}
	}
}