extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		
		section.error-section
			.container
				.error
					span.error__number 404
					span.error__name Page Not Found
					p.error__text Please return back to the  site`s 
						a(href="#").error__link homepage
				

block footer
	include ../blocks/footer/footer404