extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		#fullpage
			section.one-section.section#section0
				.container
					.info-wrap
						h1.main-title Herpes Patch
						h2.second-title Врода без жодних обмежень
						p.info-text Новий та самий ефективний спосіб для приховування симптомів герпесу та його лікування
						a(href="#").main-btn ДІЗНАТИСЯ БІЛЬШЕ
					.img-wrap
						img(src="images/img-1.png", alt="")
				
			section.two-section.section#section1

			section.three-section.section#section2
				.container
					.info-wrap
						h2.main-title Спосіб застосування

					.using-wrap
						.using
							.using__img
								img(src="images/img-2.png", alt="")
							.using__info
								span.using__name Розпакувати патч
								p.using__text Очистіть шкіру. Також від усіх косметичних засобів, щоб патч щільно зафіксувався на шкірі. Дістаньте патч чистими руками з упаковки та зніміть бумажну підкладку Master-Aid

						.using
							.using__img
								img(src="images/img-2.png", alt="")
							.using__info
								span.using__name Нанести на проблемну зону
								p.using__text Не торкаючись клейкої основи пальцями, нанесіть патч на зону ураження, притиснувши його щільно до шкіри та зніміть другу частину паперової підкладки. Для зручності використовуйте люстерко у футлярі. Коли патч почне відділятіся від шкіри неодмінно замініть його на новий, щоб не дати ранці “подихати”. Тому що це викличе зворотній ефект і уповільнить процес загоєння.

						.using
							.using__img
								img(src="images/img-2.png", alt="")
							.using__info
								span.using__name Сховати за допомогою косметики
								p.using__text Нанесіть макіяж поверх патчу, щоб зробити непомітними його та уражену ділянку. 

			section.fourth-section.section#section3

			section.five-section.section#section4

			section.six-section.section#section5
				.container
					.info-wrap
						h2.main-title Сертифікати
						p.info-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
					.certificates-wrap
						.certificate
						.certificate

			section.seven-section.section#section6

			section.eight-section.section#section7
				.container
					.info-wrap
						h2.main-title Наші  партнери

					.partners-wrap
						.partner
							img(src="images/partner.svg", alt="")
						.partner
							img(src="images/partner.svg", alt="")
						.partner
							img(src="images/partner.svg", alt="")
						.partner
							img(src="images/partner.svg", alt="")

		.mask

		.modal
			form(action="#").modalForm
				.modalForm__wrap
					span.modalForm__title Оставьте заявку
					p.modalForm__text мы перезвоним вам в ближайшее время
					input(type="text" placeholder="Введите Ваше имя").modalForm__input 
					input(type="text" placeholder="Введите Ваш телефон").modalForm__input 
					button(type="submit").modalForm__btn.main-btn Отправить заявку

block footer
	include ../blocks/footer/footer