header.header
	.header-top
		.container
			.burger-btn
				span
				span
				span
			a(href="index.html").logo
				img(src="images/logo.png", alt="")
			.head-contacts
				p.item.item_address
					span Адрес: 
					span Саратовская область, Энгельс, п-т Строителей, 39Е
				a(href="tel:8452448445").item.item_tel
					span Телефон:
					span (8452) 448-445
				a(href="mailto:metchel64@mail.ru").item.item_email
					span e-mail:
					span metchel64@mail.ru
				a(href="#").call Заказать обратный звонок
			a(href="#").call.call_small Заказать звонок
	.header-bot
		.container
			a(href="index.html").logo
				img(src="images/logo.png", alt="")
			span.logo-title Воссоединение металла и человека
			nav.nav
				ul
					li
						a(href="") Главная
					li.head-services Услуги
						.services-menu
							a(href="#") Производство самосвалов и зерновозов
							a(href="#") Металлоконструкции
							a(href="#") Разработка и изготовление технологического оборудования строительной керамики
					li
						a(href="" ) Наши проекты
					li
						a(href="") О нас
					li
						a(href="contacts.html") Контакты
