extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.equipment-baner-section(style="background-image: url('images/production-bg.jpg')")
			.container
				h2.baner-title.baner-title_white Технологическое оборудование для заводов строительной керамики
		section.breadCrumbs-section
			.container
				.breadCrumbs
					a(href="index.html").onmain На главную
					a(href="#") Главная
					a(href="#") Металлоконструкции
		section.equipment-section
			.container
				.slider-wrap
					.main-slider.js-main-slider
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
					.main-slider-nav.js-nav-slider
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
				span.subtitle 03 > Профессиональное ЛКМ
				h2.baner-title Технологическое оборудование для заводов строительной керамики
				ul.equip-list
					p Одним из важных направлений ООО «МЕТЧЕЛ» в машиностроении является изготовление технологического оборудования в строительной керамике:
					li Разработка и изготовление по техническому заданию (ТЗ) Заказчика нашим конструкторским бюро стандартного и нестандартного технологического оборудования;
					li Изготовление по чертежам Заказчика стандартного технологического оборудования;
					li Ремонт и реставрация б/у технологического оборудования;
					li Изготовление печных и сушильных вагонеток;
					li Автоматы-садчики/разгрузчики печных вагонеток;
					li Передаточные тележки для сушильных и печных вагонеток;
					li Разработка и изготовление головок пресса и мундштуков;
					li Газовые горелки, газогорелочное оборудование;
					li Изготовление модульных туннельных печей по чертежам заказчика:2
		
		include ../blocks/contacts-section/contacts-section
block footer
	include ../blocks/footer/footer