extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.intro-section(style="background-image: url('images/intro.jpg')")
			.right-info
				h1.main-title ООО МЕТЧЕЛ
				ul
					span Проектная группа:
					li - разработка конструкторской документации.
				ul
					span Производство и изготовление:
					li - технологического оборудования;
					li - металлоконструкции любой сложности.
				span.main-btn.js-call Уточнить цену
			.structures.intro-slider.js-intro-slider
				a(href="tovar-9.html").structure
					.structure__wrap
						.structure__img
							img(src="images/structure1.png", alt="")
						p.structure__info Вентиляционные системы и вентиляционные короба любой сложности
				a(href="tovar-10.html").structure
					.structure__wrap
						.structure__img
							img(src="images/structure2.png", alt="")
						p.structure__info Дымоходы
				a(href="tovar-11.html").structure
					.structure__wrap
						.structure__img
							img(src="images/structure3.png", alt="")
						p.structure__info Котлы металлические
				a(href="tovar-12.html").structure
					.structure__wrap
						.structure__img
							img(src="images/structure4.png", alt="")
						p.structure__info Дизайнерские металлические камины
				a(href="tovar-8.html").structure
					.structure__wrap
						.structure__img
							img(src="images/structure5.png", alt="")
						p.structure__info Конструктор для детских площадок
				a(href="tovar-13.html").structure
					.structure__wrap
						.structure__img
							img(src="images/structure6.png", alt="")
						p.structure__info Сваи винтовые
				a(href="tovar-5.html").structure
					.structure__wrap
						.structure__img
							img(src="images/structure7.png", alt="")
						p.structure__info Сетки арматурные
				a(href="tovar-2.html").structure
					.structure__wrap
						.structure__img
							img(src="images/structure8.png", alt="")
						p.structure__info Быстровозводимые конструкции
				a(href="tovar-3.html").structure
					.structure__wrap
						.structure__img
							img(src="images/structure9.png", alt="")
						p.structure__info Кузова из листового металла
				a(href="tovar-4.html").structure
					.structure__wrap
						.structure__img
							img(src="images/structure10.png", alt="")
						p.structure__info Дымовые трубы производственного назначения
				a(href="tovar-6.html").structure
					.structure__wrap
						.structure__img
							img(src="images/structure11.png", alt="")
						p.structure__info Фигурные ограждения,арки и оградки
				a(href="tovar-7.html").structure
					.structure__wrap
						.structure__img
							img(src="images/structure12.png", alt="")
						p.structure__info Лестницы металлические
		
		section.advantages-section
			.container
				.advantages
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/advantage1.png", alt="")
							p.advantage__info Только лучшие сертифицированные комплектующие от заводов производителей
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/advantage2.png", alt="")
							p.advantage__info Индивидуальный подход к каждому заказчику
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/advantage3.png", alt="")
							p.advantage__info Хорошие цены из-за отсутствия посредников (своё производство)
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/advantage4.png", alt="")
							p.advantage__info Мы применяем в производстве только высококачественную сталь
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/advantage5.png", alt="")
							p.advantage__info Гарантийное и послегарантийное обслуживание
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/advantage6.png", alt="")
							p.advantage__info Срок изготовления от 3-х дней

		section.suggestions-section#about
			.container
				.left-block
					.title-wrap
						span.subtitle 01 > Что мы предлагаем
						h2.section-title Что мы предлагаем
					p.sectio-info ООО МЕТЧЕЛ производственная компания со своим штатом конструкторов.
					p.sectio-info Наша компания занимается разработкой и изготовлением технологического оборудования для заводов строительной керамики, изготавливает, восстанавливает и ремонтирует кузова любой сложности (зерновозы, самосвалы, полуприцепы), переоборудует любую грузовую платформу в самосвал с установкой гидравлического оборудования. Производственные мощности находятся в г. Энгельс, Саратовская область.
					p.sectio-info ООО МЕТЧЕЛ поможет провести переоборудование автомобиля - подготовит документы, Вам необходимо только предоставить авто для осмотра в ГИБДД.
					h3.section-subtitle Есть вопрос? Задайте его нам!
					span.main-btn.js-call Задать вопрос
				.right-block
					a(href="production.html").card
						h3.card__title Производство самосвалов и зерновозов
						span.card__details Подробнее
						.card__img
							img(src="images/card1.png", alt="")
					a(href="equipment.html").card
						h3.card__title Разработка и изготовление технологического оборудования строительной керамики
						span.card__details Подробнее
						.card__img
							img(src="images/card2.png", alt="")

		section.process-section
			.container
				.title-wrap
					span.subtitle 02 > Процесс
					h2.section-title Весь процесс от заявки до готового результата
				.advantages
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/process1.png", alt="")
							p.advantage__info Вы звоните нам или оставляте заявку через форму на сайте
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/process2.png", alt="")
							p.advantage__info Мы связываемся с Вами и уточняем детали
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/process3.png", alt="")
							p.advantage__info Заключаем договор и выставляем счёт
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/process4.png", alt="")
							p.advantage__info Вы оплачиваете заказ
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/process5.png", alt="")
							p.advantage__info Мы изготавливаем изделие

		section.request-section(style="background-image: url('images/request.jpg')")
			.container
				.top-wrap
					h2.request-title Оставьте заявку на нашем сайте до конца акции и 
						mark получите скидку на заказ 5%
					ul.timer
						li.timer__item
							span.timer__date#days
							span.timer__name Дней
						li.timer__item
							span.timer__date#hours
							span.timer__name Часов
						li.timer__item
							span.timer__date#minutes
							span.timer__name Минут
						li.timer__item
							span.timer__date#seconds
							span.timer__name Секунд

				form(action="#" id="#" method="#").mainForm
					.mainForm__wrap
						input(type="text" placeholder="Ваше имя...").mainForm__input
						input(type="text" placeholder="Номер телефона").mainForm__input
						.mainForm__select-wrap
							select(name="#").mainForm__select
								option(value="#") Что Вас интеренсует?
								option(value="#") Ничего
								option(value="#") Что-то
						button(type="submit").main-btn Отправить заявку

		section.reviews-section
			.container
				.top-wrap
					.title-wrap
						span.subtitle 03 > Отзывы
						h2.section-title Отзывы
				.review-wrap
					.reviews-slider.js-review-slider
						.slide
							.review
								.review__wrap
									.review__info
										h3.review__name Рустам , Уральск
										p.review__description Мне очень понравилось , сроки за прицеп 6200 - 5 дней ! Покраска итальянской краской Domiani.
									.review__img
										img(src="images/review.png", alt="")
						.slide
							.review
								.review__wrap
									.review__info
										h3.review__name Сергей , Духовницкое Саратовской области
										p.review__description Работами доволен , изготовили подпорку под хлопушки , и сделали кузов за 5 !!! За 5 дней !
									.review__img
										img(src="images/review.png", alt="")
						.slide
							.review
								.review__wrap
									.review__info
										h3.review__name Иван , Оренбург
										p.review__description Качественно . Точно в срок ! Щуку изготовили за неделю !
									.review__img
										img(src="images/review.png", alt="")
					.my-navigation
						button.btn-slide.prev
						button.btn-slide.next
						.dots

		include ../blocks/contacts-section/contacts-section



block footer
	include ../blocks/footer/footer