extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.intro-section(style="background-image: url('images/intro.jpg')")
			.container
				.right-info
					h1.main-title ООО МЕТЧЕЛ
					ul
						span Проектная группа:
						li - разработка конструкторской документации.
					ul
						span Производство и изготовление:
						li - технологического оборудования;
						li - металлоконструкции любой сложности.
					a(href="#").main-btn Уточнить цену
				.structures.structures_intro
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure1.png", alt="")
							p.structure__info Вентиляционные системы и вентиляционные короба любой сложности
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure2.png", alt="")
							p.structure__info Дымоходы
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure3.png", alt="")
							p.structure__info Котлы металлические
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure4.png", alt="")
							p.structure__info Дизайнерские металлические камины
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure5.png", alt="")
							p.structure__info Конструктор для детских площадок
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure6.png", alt="")
							p.structure__info Сваи винтовые
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure7.png", alt="")
							p.structure__info Сетки арматурные
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure8.png", alt="")
							p.structure__info Быстровозводимые конструкции
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure9.png", alt="")
							p.structure__info Кузова из листового металла
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure10.png", alt="")
							p.structure__info Дымовые трубы производственного назначения
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure11.png", alt="")
							p.structure__info Фигурные ограждения,арки и оградки
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure12.png", alt="")
							p.structure__info Лестницы металлические
		section.advantages-section
			.container
				.advantages
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/advantage1.png", alt="")
							p.advantage__info Только лучшие сертифицированные комплектующие от заводов производителей
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/advantage2.png", alt="")
							p.advantage__info Индивидуальный подход к каждому заказчику
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/advantage3.png", alt="")
							p.advantage__info Хорошие цены из-за отсутствия посредников (своё производство)
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/advantage4.png", alt="")
							p.advantage__info Мы применяем в производстве только высококачественную сталь
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/advantage5.png", alt="")
							p.advantage__info Гарантийное и послегарантийное обслуживание
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/advantage6.png", alt="")
							p.advantage__info Срок изготовления от 3-х дней


		section.suggestions-section
			.container
				.left-block
					.title-wrap
						span.subtitle 01 > Что мы предлагаем
						h2.section-title Что мы предлагаем
					p.sectio-info ООО МЕТЧЕЛ производственная компания со своим штатом конструкторов.
					p.sectio-info Наша компания занимается разработкой и изготовлением технологического оборудования для заводов строительной керамики, изготавливает, восстанавливает и ремонтирует кузова любой сложности (зерновозы, самосвалы, полуприцепы), переоборудует любую грузовую платформу в самосвал с установкой гидравлического оборудования. Производственные мощности находятся в г. Энгельс, Саратовская область.
					p.sectio-info ООО МЕТЧЕЛ поможет провести переоборудование автомобиля - подготовит документы, Вам необходимо только предоставить авто для осмотра в ГИБДД.
					h3.section-subtitle Есть вопрос? Задайте его нам!
					a(href="#").main-btn Задать вопрос
				.right-block
					.card
						h3.card__title Производство самосвалов и зерновозов
						a(href="#").card__details Подробнее
						.card__img
							img(src="images/card1.png", alt="")
					.card
						h3.card__title Разработка и изготовление технологического оборудования строительной керамики
						a(href="#").card__details Подробнее
						.card__img
							img(src="images/card2.png", alt="")

		section.process-section
			.container
				.title-wrap
					span.subtitle 02 > Процесс
					h2.section-title Весь процесс от заявки до готового результата
				.advantages
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/process1.png", alt="")
							p.advantage__info Вы звоните нам или оставляте заявку через форму на сайте
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/process2.png", alt="")
							p.advantage__info Мы связываемся с Вами и уточняем детали
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/process3.png", alt="")
							p.advantage__info Заключаем договор и выставляем счёт
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/process4.png", alt="")
							p.advantage__info Заключаем договор и выставляем счёт
					.advantage
						.advantage__wrap
							.advantage__img
								img(src="images/process5.png", alt="")
							p.advantage__info Мы изготавливаем изделие


		section.request-section(style="background-image: url('images/request.jpg')")
			.container
				.top-wrap
					h2.request-title Оставьте заявку на нашем сайте до конца акции и 
						mark получите скидку на заказ 5%
						|
					//- .time
					//- 	.clock-column
					//- 		p.clock-day.clock-timer
					//- 		p.clock-label Дней
					//- 	.clock-column
					//- 		p.clock-hours.clock-timer
					//- 		p.clock-label Часов
					//- 	.clock-column
					//- 		p.clock-minutes.clock-timer
					//- 		p.clock-label Минут
					//- 	.clock-column
					//- 		p.clock-seconds.clock-timer
					//- 		p.clock-label Секунд
				form(action="#" id="#" method="#").mainForm
					.mainForm__wrap
						input(type="text" placeholder="Ваше имя...").mainForm__input
						input(type="text" placeholder="Номер телефона").mainForm__input
						.mainForm__select-wrap
							select(name="#").mainForm__select
								option(value="#") Что Вас интеренсует?
								option(value="#") Ничего
								option(value="#") Что-то
						button(type="submit").main-btn Отправить заявку

		section.reviews-section
			.container
				.top-wrap
					.title-wrap
						span.subtitle 03 > Отзывы
						h2.section-title Отзывы
				.review-wrap
					.reviews-slider.js-review-slider
						.slide
							.review
								.review__wrap
									.review__info
										h3.review__name Рустам , Уральск
										p.review__description Мне очень понравилось , сроки за прицеп 6200 - 5 дней ! Покраска итальянской краской Domiani.
									.review__img
										img(src="images/review.png", alt="")
						.slide
							.review
								.review__wrap
									.review__info
										h3.review__name Евгений , Москва
										p.review__description Мне очень понравилось , сроки за прицеп 6200 - 5 дней ! Покраска итальянской краской Domiani.
									.review__img
										img(src="images/review.png", alt="")
						.slide
							.review
								.review__wrap
									.review__info
										h3.review__name Евгений , Москва
										p.review__description Мне очень понравилось , сроки за прицеп 6200 - 5 дней ! Покраска итальянской краской Domiani.
									.review__img
										img(src="images/review.png", alt="")
					.my-navigation
						button.btn-slide.prev
						button.btn-slide.next
						.dots



		section.contacts-section
			.container
				.contacts-wrap
					.form-wrap
						h2.section-title Остались вопросы?
						p Наш специалист вам на них с радостью ответит!
						form(action="#" id="#" method="#").mainForm
							.mainForm__wrap
								input(type="text" placeholder="Ваше имя...").mainForm__input
								input(type="text" placeholder="Номер телефона").mainForm__input
								textarea(placeholder="Ваш вопрос?").mainForm__textarea
								button(type="submit").main-btn Задать вопрос
					.form-img
						img(src="images/form-img.png", alt="")
				.map-part
					.contacts
						a(href="index.html").logo
							img(src="images/logo.png", alt="")
						p.cont-desc Изготовление, восстановление и ремонт кузовов зерновозов, самосвалов, полуприцепов.
						p.item.item_address
							span Адрес: 
							span Саратовская область, Энгельс, п-т Строителей, 39Е
						a(href="tel:8452448445").item.item_tel
							span Телефон:
							span (8452) 448-445
						a(href="mailto:metchel64@mail.ru").item.item_email
							span e-mail:
							span metchel64@mail.ru
						a(href="#").policy Политика конфиденциальности
						a(href="#").policy Согласие на обработку персональных данных
					.map
						iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9803.404410978657!2d46.140252996152086!3d51.44962711777505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4114ba2a75299ea7%3A0x85eac867c551c3b4!2z0L_RgC4g0KHRgtGA0L7QuNGC0LXQu9C10LksIDM50LUsINCt0L3Qs9C10LvRjNGBLCDQodCw0YDQsNGC0L7QstGB0LrQsNGPINC-0LHQuy4sINCg0L7RgdGB0LjRjywgNDEzMTUx!5e1!3m2!1sru!2sua!4v1578367641438!5m2!1sru!2sua', width='100%', height='100%', frameborder='0', style='border:0;', allowfullscreen='')



block footer
	include ../blocks/footer/footer