extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.breadCrumbs-section
			.container
				.breadCrumbs
					a(href="index.html").onmain На главную
					a(href="#") Главная
					a(href="#") Металлоконструкции
		
		section.metal-section
			.container
				h2.section-title Металлоконструкции
				.structures
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure1.png", alt="")
							p.structure__info ВЕНТИЛЯЦИОННЫЕ СИСТЕМЫ И ВЕНТИЛЯЦИОННЫЕ КОРОБА ЛЮБОЙ СЛОЖНОСТИ
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure2.png", alt="")
							p.structure__info ДЫМОХОДЫ (ДЫМОВЫЕ ТРУБЫ БЫТОВЫЕ) ИЗ НЕРЖАВЕЮЩИХ И ТЕПЛОИЗОЛЯЦИОННЫХ МАТЕРИАЛОВ ДЛЯ ДОМОВ, БАНЬ И САУН
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure3.png", alt="")
							p.structure__info КОТЛЫ МЕТАЛЛИЧЕСКИЕ ДЛЯ ЧАСТНЫХ ДОМОВ, БАНЬ, САУН И ГАРАЖЕЙ
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure4.png", alt="")
							p.structure__info КАМИНЫ МЕТАЛЛИЧЕСКИЕ ДИЗАЙНЕРСКИЕ
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure5.png", alt="")
							p.structure__info КОНСТРУКТОР ДЛЯ ДЕТСКИХ ПЛОЩАДОК (ГОРКИ, КАЧЕЛИ, ЛЕСТНИЧНЫЕ СТЕНКИ И Т.Д.)
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure6.png", alt="")
							p.structure__info СВАИ ВИНТОВЫЕ
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure7.png", alt="")
							p.structure__info СЕТКИ АРМАТУРНЫЕ СТРОИТЕЛЬНЫЕ, ЗАКЛАДНЫЕ ДЕТАЛИ СТРОЕК И ЗАВОДОВ ЖБИ
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure8.png", alt="")
							p.structure__info БЫСТРОВОЗВОДИМЫЕ КОНСТРУКЦИИ (АНГАРЫ, СТРОИТЕЛЬНЫЕ ВАХТОВКИ, НАВЕСЫ ДЛЯ ЗАПРАВОЧНЫХ СТАНЦИЙ, КОЛОННЫ, ФЕРМЫ)
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure9.png", alt="")
							p.structure__info КУЗОВА ИЗ ЛИСТОВОГО МЕТАЛА
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure10.png", alt="")
							p.structure__info ДЫМОВЫЕ ТРУБЫ ПРОИЗВОДСТВЕННОГО НАЗНАЧЕНИЯ
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure11.png", alt="")
							p.structure__info ФИГУРНЫЕ ОГРАЖДЕНИЯ, АРКИ И ОГРАДКИ
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure12.png", alt="")
							p.structure__info ЛЕСТНИЦЫ МЕТАЛЛИЧЕСКИЕ
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure13.png", alt="")
							p.structure__info ПРОИЗВОДСТВЕННЫЕ МОЩНОСТИ
					a(href="#").structure
						.structure__wrap
							.structure__img
								img(src="images/structure14.png", alt="")
							p.structure__info ЁМКОСТИ ИЗ ЛИСТОВОГО МЕТАЛЛА

block footer
	include ../blocks/footer/footer		