extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.production-baner-section(style="background-image: url('images/production-bg2.jpg')")
			.container
				h2.baner-title.baner-title_white Производство самосвалов и зерновозов
		section.breadCrumbs-section
			.container
				.breadCrumbs
					a(href="index.html").onmain На главную
					a(href="#") Главная
					a(href="#") Производство самосвалов и зерновозов
		section.service-section
			.container
				.slider-wrap
					.main-slider.js-main-slider
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
					.main-slider-nav.js-nav-slider
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")

				span.subtitle 02 > Услуги по ремонту
				h2.baner-title Услуги по ремонту самосвалов и зерновозов
				.services
					.service
						.service__wrap
							.service__img
								img(src="images/service1.png", alt="")
							span.service__name Замена поворотных круговна прицеп
					.service
						.service__wrap
							.service__img
								img(src="images/service2.png", alt="")
							span.service__name Установка корзин для запасок
					.service
						.service__wrap
							.service__img
								img(src="images/service3.png", alt="")
							span.service__name Установка инструментальных ящиков
					.service
						.service__wrap
							.service__img
								img(src="images/service4.png", alt="")
							span.service__name Уменьшение посадки кузовов для сельхозников
					.service
						.service__wrap
							.service__img
								img(src="images/img10.png", alt="")
							span.service__name Шторные полуприцепы (тентованные)
				form(action="#" id="#" method="#").mainForm
					.mainForm__wrap
						input(type="text" placeholder="Ваше имя...").mainForm__input
						input(type="text" placeholder="Номер телефона").mainForm__input
						.mainForm__select-wrap
							select(name="#").mainForm__select
								option(value="#") Что Вас интеренсует?
								option(value="#") Ничего
								option(value="#") Что-то
						button(type="submit").main-btn Отправить заявку
		section.material-section
			.container
				span.subtitle 03 > Материалы для изготовления
				h2.baner-title.baner-title_small Материалы для изготовления:
				.material-wrap
					.material
						.material__img
							img(src="images/material1.png", alt="")
						.material__info
							span Швеллер-№ --10-12-14-16-18-20
							span Швеллер-№ 14-16-18 для подрамника с креплением под гидроцилиндры
					.material
						.material__img
							img(src="images/material2.png", alt="")
						.material__info
							span Труба
							span 60х30х2 100х50х4 50х50х3
					.material
						.material__img
							img(src="images/material3.png", alt="")
						.material__info
							span Полы лист 3 мм
							span Борт лист 2 мм
					p.material__descr Покраска производится в два слоя: грунтом (красным или серым) и эмалью (в синий, серый или зеленый). Цвет на выбор заказчика!
		section.lkm-section
			.container
				span.subtitle 04 > Профессиональное ЛКМ
				h2.baner-title Профессиональные промышленные ЛКМ
				.lkm
					.lkm__img
						img(src="images/lkm.jpg", alt="")
					.lkm__desc
						p Для окраски своей продукции, компания «МЕТЧЕЛ» использует только профессиональные промышленные ЛКМ компании Colorificio Damiani S.p.A. (Италия).
						ul
							span Для справки:
							p Итальянская компания Colorificio Damiani (Италия) специализируется на производстве современных, профессиональных ЛКМ для окраски продукции машиностроения, в том числе для:
							li покраски сельско-хозяйственной техники,
							li окраски пожарных машин, специальной техники,
							li покраски строительных и дорожных машин,
							li защиты от коррозии металлоконструкций,
							li окраски насосов, станков, оборудования и агрегатов и другой машиностроительной продукции.
		section.contacts-section
			.container
				.contacts-wrap
					.form-wrap
						h2.section-title Остались вопросы?
						p Наш специалист вам на них с радостью ответит!
						form(action="#" id="#" method="#").mainForm
							.mainForm__wrap
								input(type="text" placeholder="Ваше имя...").mainForm__input
								input(type="text" placeholder="Номер телефона").mainForm__input
								textarea(placeholder="Ваш вопрос?").mainForm__textarea
								button(type="submit").main-btn Задать вопрос
					.form-img
						img(src="images/form-img.png", alt="")
				.map-part
					.contacts
						a(href="index.html").logo
							img(src="images/logo.png", alt="")
						p.cont-desc Изготовление, восстановление и ремонт кузовов зерновозов, самосвалов, полуприцепов.
						p.item.item_address
							span Адрес: 
							span Саратовская область, Энгельс, п-т Строителей, 39Е
						a(href="tel:8452448445").item.item_tel
							span Телефон:
							span (8452) 448-445
						a(href="mailto:metchel64@mail.ru").item.item_email
							span e-mail:
							span metchel64@mail.ru
						a(href="#").policy Политика конфиденциальности
						a(href="#").policy Согласие на обработку персональных данных
					.map
						iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9803.404410978657!2d46.140252996152086!3d51.44962711777505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4114ba2a75299ea7%3A0x85eac867c551c3b4!2z0L_RgC4g0KHRgtGA0L7QuNGC0LXQu9C10LksIDM50LUsINCt0L3Qs9C10LvRjNGBLCDQodCw0YDQsNGC0L7QstGB0LrQsNGPINC-0LHQuy4sINCg0L7RgdGB0LjRjywgNDEzMTUx!5e1!3m2!1sru!2sua!4v1578367641438!5m2!1sru!2sua', width='100%', height='100%', frameborder='0', style='border:0;', allowfullscreen='')
block footer
	include ../blocks/footer/footer