extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.production-baner-section(style="background-image: url('images/production-bg2.jpg')")
			.container
				h2.baner-title.baner-title_white Производство самосвалов и зерновозов
		
		section.breadCrumbs-section
			.container
				.breadCrumbs
					a(href="index.html").onmain На главную
					a(href="#") Главная
					a(href="#") Производство самосвалов и зерновозов
		
		section.service-section
			.container
				.slider-wrap
					.main-slider.js-main-slider
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
						.slide(style="background-image: url('images/main-slider.jpg')")
					.main-slider-nav.js-nav-slider
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")
						.slide
							img(src="images/main-slider.jpg", alt="")

				span.subtitle 02 > Услуги по ремонту
				h2.baner-title Услуги по ремонту самосвалов и зерновозов
				.services
					.service
						.service__wrap
							.service__img
								img(src="images/service1.png", alt="")
							span.service__name Замена поворотных круговна прицеп
					.service
						.service__wrap
							.service__img
								img(src="images/service2.png", alt="")
							span.service__name Установка корзин для запасок
					.service
						.service__wrap
							.service__img
								img(src="images/service3.png", alt="")
							span.service__name Установка инструментальных ящиков
					.service
						.service__wrap
							.service__img
								img(src="images/service4.png", alt="")
							span.service__name Уменьшение посадки кузовов для сельхозников
					.service
						.service__wrap
							.service__img
								img(src="images/img10.png", alt="")
							span.service__name Шторные полуприцепы (тентованные)
				form(action="#" id="#" method="#").mainForm
					.mainForm__wrap
						input(type="text" placeholder="Ваше имя...").mainForm__input
						input(type="text" placeholder="Номер телефона").mainForm__input
						.mainForm__select-wrap
							select(name="#").mainForm__select
								option(value="#") Что Вас интеренсует?
								option(value="#") Ничего
								option(value="#") Что-то
						button(type="submit").main-btn Отправить заявку
		
		section.material-section
			.container
				span.subtitle 03 > Материалы для изготовления
				h2.baner-title.baner-title_small Материалы для изготовления:
				.material-wrap
					.material
						.material__img
							img(src="images/material1.png", alt="")
						.material__info
							span Швеллер-№ --10-12-14-16-18-20
							span Швеллер-№ 14-16-18 для подрамника с креплением под гидроцилиндры
					.material
						.material__img
							img(src="images/material2.png", alt="")
						.material__info
							span Труба
							span 60х30х2 100х50х4 50х50х3
					.material
						.material__img
							img(src="images/material3.png", alt="")
						.material__info
							span Полы лист 3 мм
							span Борт лист 2 мм
					p.material__descr Покраска производится в два слоя: грунтом (красным или серым) и эмалью (в синий, серый или зеленый). Цвет на выбор заказчика!
		
		section.lkm-section
			.container
				span.subtitle 04 > Профессиональное ЛКМ
				h2.baner-title Профессиональные промышленные ЛКМ
				.lkm
					.lkm__img
						img(src="images/lkm.jpg", alt="")
					.lkm__desc
						p Для окраски своей продукции, компания «МЕТЧЕЛ» использует только профессиональные промышленные ЛКМ компании Colorificio Damiani S.p.A. (Италия).
						ul
							span Для справки:
							p Итальянская компания Colorificio Damiani (Италия) специализируется на производстве современных, профессиональных ЛКМ для окраски продукции машиностроения, в том числе для:
							li покраски сельско-хозяйственной техники,
							li окраски пожарных машин, специальной техники,
							li покраски строительных и дорожных машин,
							li защиты от коррозии металлоконструкций,
							li окраски насосов, станков, оборудования и агрегатов и другой машиностроительной продукции.
		
		include ../blocks/contacts-section/contacts-section
		
block footer
	include ../blocks/footer/footer