extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.breadCrumbs-section
			.container
				.breadCrumbs
					a(href="index.html").onmain На главную
					a(href="#") Главная
					a(href="#") Металлоконструкции
					a(href="#") Ёмкости из листового металла
		section.metal-content-section
			.container
				.metal-content
					.metal-nav
						.category-wrap
							.category-btn
								span
								span
								span
							h3 Категории
						.left-bar
							include ../blocks/bar-list/bar-list
					.right-content
						span.subtitle 04 > ДЫМОВЫЕ ТРУБЫ ПРОИЗВОДСТВЕННОГО НАЗНАЧЕНИЯ
						h2.baner-title ДЫМОВЫЕ ТРУБЫ ПРОИЗВОДСТВЕННОГО НАЗНАЧЕНИЯ
						
						p Дымовые трубы – вертикальные устройства, обеспечивающие вывод в атмосферное пространство дымовых газов и прочих продуктов сгорания, образующихся при работе отопительных котлов или печей. Это способствует экологической безопасности, предотвращая загрязнение окружающего пространства и устраняя угрозу здоровью людей. Наличие такого устройства, создающего естественную тягу, способствует более производительной работе отопительного агрегата.
						
						p Дымовые трубы для котельных различаются в зависимости от того, что представляет собой несущая конструкция. Она может быть:
						
						p - фермовой. Фермовые дымовые трубы принято устанавливать в сейсмоопасных местах. На фермовой конструкции, закрепленной в залитой в фундамент анкерной корзине, закрепляется от одной до шести труб;

						p - мачтовой. Каждая металлическая труба крепится к трех-, четырех мачтовой опорной башне. Основа представляет собой бетонную подушку, на которой поэтапно, снизу-вверх на заклепках или саморезах закрепляются элементы конструкции. Посредством стальных оттяжек обеспечивается устойчивость и компенсируется поперечная нагрузка.
						
						.slider-wrap
							.main-slider.js-main-slider
								.slide(style="background-image: url('images/10.jpg')")
								.slide(style="background-image: url('images/11.jpg')")
								.slide(style="background-image: url('images/12.jpg')")
								.slide(style="background-image: url('images/13.jpg')")
								
							.main-slider-nav.js-nav-slider
								.slide
									img(src="images/10.jpg", alt="")
								.slide
									img(src="images/11.jpg", alt="")
								.slide
									img(src="images/12.jpg", alt="")
								.slide
									img(src="images/13.jpg", alt="")
								
		include ../blocks/contacts-section/contacts-section

block footer
	include ../blocks/footer/footer		