extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.breadCrumbs-section
			.container
				.breadCrumbs
					a(href="index.html").onmain На главную
					a(href="#") Главная
					a(href="#") Металлоконструкции
					a(href="#") Ёмкости из листового металла
		
		section.metal-content-section
			.container
				.metal-content
					.metal-nav
						.category-wrap
							.category-btn
								span
								span
								span
							h3 Категории
						.left-bar
							include ../blocks/bar-list/bar-list
					.right-content
						span.subtitle 01 > ПРОИЗВОДСТВЕННЫЕ МОЩНОСТИ
						h2.baner-title ПРОИЗВОДСТВЕННЫЕ МОЩНОСТИ
						h3 Почему с нами выгодно?
						h4 Широкий спектр услуг
						p Мы построим любое здание каркасного типа, обеспечим полное сопровождение объекта («строительство под ключ»);
						h4 Высокое качество
						p Все наши объекты соответствуют требованиям госстандар-тов. Высокое качество строений становится возможным бла-годаря наличию собственной производственной базы, со-трудничества с авторитетными партнерами (поставщиками, подрядчиками), тщательному контролю на всех этапах изго-товления конструкции и ее монтажа.
						h4 Ценовая доступность объектов
						p Строительство быстровозводимых объектов всегда оказыва-ется дешевле, чем возведение капитальных аналогов. Кроме того, на многие виды услуг мы предоставляем скидки. Узнать о действующих ценах и специальных предложениях вы можете на соответствующей странице сайта или заказав обратный звонок.
						h4 Индивидуальный подход
						p Строительство быстровозводимых объектов ведется с уче-том особенностей их назначения и пожеланий заказчиков. Это позволяет получать максимально комфортные и функ-циональные объекты.
						
						.slider-wrap
							.main-slider.js-main-slider
								.slide(style="background-image: url('images/1.jpg')")
								.slide(style="background-image: url('images/2.jpg')")
								.slide(style="background-image: url('images/3.jpg')")
								.slide(style="background-image: url('images/4.jpg')")
								.slide(style="background-image: url('images/5.jpg')")
								
							.main-slider-nav.js-nav-slider
								.slide
									img(src="images/1.jpg", alt="")
								.slide
									img(src="images/2.jpg", alt="")
								.slide
									img(src="images/3.jpg", alt="")
								.slide
									img(src="images/4.jpg", alt="")
								.slide
									img(src="images/5.jpg", alt="")
								
		include ../blocks/contacts-section/contacts-section



block footer
	include ../blocks/footer/footer		