extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.breadCrumbs-section
			.container
				.breadCrumbs
					a(href="index.html").onmain На главную
					a(href="#") Главная
					a(href="#") Металлоконструкции
					a(href="#") Ёмкости из листового металла
		section.metal-content-section
			.container
				.metal-content
					.metal-nav
						.category-wrap
							.category-btn
								span
								span
								span
							h3 Категории
						.left-bar
							include ../blocks/bar-list/bar-list
					.right-content
						span.subtitle 13 > ВИНТОВЫЕ СВАИ
						h2.baner-title ВИНТОВЫЕ СВАИ
						
						p Любое здание состоит из трёх основных составляющих:
						p фундамента;
						p стен;
						p крыши.

						p При выборе вида фундамента учитывается сразу несколько факторов таких, как погодные условия, особенности грунта и ландшафта, а также предназначение сооружения. Винтовые сваи используются в качестве фундамента при слабых, не-прочных, сильносжимаемых верхних слоях грунта.

						p Конструктивные особенности винтовых свай позволяют их с лёгко-стью вкручивать в грунт. Такой фундамент имеет минимальные тру-довые затраты.

						p При вкручивании сваи, грунт не разрушается, а зна-чит плотно удерживается в цельном грунте. Конструкция лопасти винта позволяет делать прочный упор в нижних слоях грунта и не позволяет вырвать её наружу.

						p Качество сваи напрямую гарантирует удержание определённой нагрузки.

						p Наконечники винтовых свай, в зависимости от принципа исполне-ния бывают: Сварные - наконечники с приваренной полоской листового металла так, чтобы он имел вид резьбы винта; Литые - изготавливаются в результате литья легированных сталей специальной формы.
						
						.slider-wrap
							.main-slider.js-main-slider
								.slide(style="background-image: url('images/201.jpg')")
								.slide(style="background-image: url('images/202.jpg')")
								.slide(style="background-image: url('images/203.jpg')")
								
							.main-slider-nav.js-nav-slider
								.slide
									img(src="images/201.jpg", alt="")
								.slide
									img(src="images/202.jpg", alt="")
								.slide
									img(src="images/203.jpg", alt="")
								
		include ../blocks/contacts-section/contacts-section

block footer
	include ../blocks/footer/footer		