extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.breadCrumbs-section
			.container
				.breadCrumbs
					a(href="index.html").onmain На главную
					a(href="#") Главная
					a(href="#") Металлоконструкции
					a(href="#") Ёмкости из листового металла
		section.metal-content-section
			.container
				.metal-content
					.metal-nav
						.category-wrap
							.category-btn
								span
								span
								span
							h3 Категории
						.left-bar
							include ../blocks/bar-list/bar-list
					.right-content
						span.subtitle 06 > ФИГУРНЫЕ ОГРАЖДЕНИЯ, АРКИ И ОГРАДКИ
						h2.baner-title ФИГУРНЫЕ ОГРАЖДЕНИЯ, АРКИ И ОГРАДКИ
						
						p Изначально оградительные сооружения являлись только средством защиты территории – заборы четко обуславли-вали границы частного владения, поэтому и были просты и неказисты. Сегодня функционал забора приобрел более эстетичный характер – владельцы желают не только опре-делить свою территорию, но и претендуют на изыскан-ность и даже аристократизм при выборе внешнего вида ограждения. Именно из-за этого металлические огражде-ния приобрели популярность в современном мире, а ши-рокий выбор материалов позволяет воплощать в жизнь самые причудливые и оригинальные решения.
						
						p Заборы имеют ряд достоинств, благодаря которым они ак-туальны и очень распространены в современном мире. Любые системы ограждения, будь они секционного ис-полнения или индивидуального, отличают надежность и прочность, которая достигается благодаря использованию в конструктиве металла. А при надлежащем уходе желез-ные конструкции становятся более долговечными, что до-ставляет меньше хлопот в ходе их эксплуатации.
						
						.slider-wrap
							.main-slider.js-main-slider
								.slide(style="background-image: url('images/31.jpg')")
								.slide(style="background-image: url('images/32.jpg')")
								.slide(style="background-image: url('images/33.jpg')")
								.slide(style="background-image: url('images/34.jpg')")
								.slide(style="background-image: url('images/35.jpg')")
								.slide(style="background-image: url('images/36.jpg')")
								.slide(style="background-image: url('images/37.jpg')")
								.slide(style="background-image: url('images/38.jpg')")
								.slide(style="background-image: url('images/39.jpg')")
								.slide(style="background-image: url('images/41.jpg')")
								.slide(style="background-image: url('images/42.jpg')")
								.slide(style="background-image: url('images/43.jpg')")
								
							.main-slider-nav.js-nav-slider
								.slide
									img(src="images/31.jpg", alt="")
								.slide
									img(src="images/32.jpg", alt="")
								.slide
									img(src="images/33.jpg", alt="")
								.slide
									img(src="images/34.jpg", alt="")
								.slide
									img(src="images/35.jpg", alt="")
								.slide
									img(src="images/36.jpg", alt="")
								.slide
									img(src="images/37.jpg", alt="")
								.slide
									img(src="images/38.jpg", alt="")
								.slide
									img(src="images/39.jpg", alt="")
								.slide
									img(src="images/41.jpg", alt="")
								.slide
									img(src="images/42.jpg", alt="")
								.slide
									img(src="images/43.jpg", alt="")
								
		include ../blocks/contacts-section/contacts-section

block footer
	include ../blocks/footer/footer		