extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.breadCrumbs-section
			.container
				.breadCrumbs
					a(href="index.html").onmain На главную
					a(href="#") Главная
					a(href="#") Металлоконструкции
					a(href="#") Ёмкости из листового металла
		
		section.metal-content-section
			.container
				.metal-content
					.metal-nav
						.category-wrap
							.category-btn
								span
								span
								span
							h3 Категории
						.left-bar
							include ../blocks/bar-list/bar-list
					.right-content
						span.subtitle 10 > ДЫМОХОДЫ (ДЫМОВЫЕ ТРУБЫ БЫТОВЫЕ) ИЗ НЕРЖАВЕЮ-ЩИХ И ТЕПЛОИЗОЛЯЦИОННЫХ МАТЕРИАЛОВ ДЛЯ ДОМОВ, БАНЬ И САУН
						h2.baner-title ДЫМОХОДЫ (ДЫМОВЫЕ ТРУБЫ БЫТОВЫЕ) ИЗ НЕРЖАВЕЮ-ЩИХ И ТЕПЛОИЗОЛЯЦИОННЫХ МАТЕРИАЛОВ ДЛЯ ДОМОВ, БАНЬ И САУН
					
						p На сегодняшний день одной из самых популярных, прак-тичных, эстетичных и функциональных конструкций ды-мохода является сборка из сэндвич-труб. В статье речь пойдет о том, как укладывается сэндвич-труба для бани, какие материалы при этом используются и какие нюансы бывают у данной процедуры.

						p Помимо вышеперечисленных преимуществ стоит отме-тить простоту монтажа данной трубы. Для качественного монтажа необходимо заранее приобрести материалы, ко-торые будут соответствовать основным требованиям, а для этого необходимо осуществлять закупку материалов от производителей.

						p Помимо описания основных качеств дымоход в бане из сэндвич-труб имеет ряд преимуществ: - отсутствие конденсата;

						p - минимальные объемы образуемой сажи;
						p - повышенная противопожарная защита;
						p - простота ухода за системой;
						p - минимальный вес дымохода в целом;
						p - эстетичный внешний вид, который не портит вид по-мещения и здания на фото и при визуальном осмотре;
						p - отличная сочетаемость с деревянными строениями.
						
						.slider-wrap
							.main-slider.js-main-slider
								.slide(style="background-image: url('images/81.png')")
								.slide(style="background-image: url('images/82.png')")
								.slide(style="background-image: url('images/83.png')")
								.slide(style="background-image: url('images/84.png')")
								.slide(style="background-image: url('images/85.png')")
								.slide(style="background-image: url('images/86.png')")
								.slide(style="background-image: url('images/87.png')")
								.slide(style="background-image: url('images/88.png')")
								
							.main-slider-nav.js-nav-slider
								.slide
									img(src="images/81.png", alt="")
								.slide
									img(src="images/82.png", alt="")
								.slide
									img(src="images/83.png", alt="")
								.slide
									img(src="images/84.png", alt="")
								.slide
									img(src="images/85.png", alt="")
								.slide
									img(src="images/86.png", alt="")
								.slide
									img(src="images/87.png", alt="")
								.slide
									img(src="images/88.png", alt="")
								
		include ../blocks/contacts-section/contacts-section

block footer
	include ../blocks/footer/footer		