extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.breadCrumbs-section
			.container
				.breadCrumbs
					a(href="index.html").onmain На главную
					a(href="#") Главная
					a(href="#") Металлоконструкции
					a(href="#") Ёмкости из листового металла
		section.metal-content-section
			.container
				.metal-content
					.metal-nav
						.category-wrap
							.category-btn
								span
								span
								span
							h3 Категории
						.left-bar
							include ../blocks/bar-list/bar-list
					.right-content
						span.subtitle 07 > ЛЕСТНИЦЫ МЕТАЛЛИЧЕСКИЕ
						h2.baner-title ЛЕСТНИЦЫ МЕТАЛЛИЧЕСКИЕ
						
						p На сегодняшний день металлическая лестница часто при-меняется при внутреннем оформлении интерьера. Ее строительство необходимо, если у вас есть второй этаж. Поражает многообразие форм и дизайна, в которых ме-талл гармонично сочетается с деталями из стекла, пласти-ка, дерева и камня. Сочетание металла с деревом создает эффект прочности и надежности, но в то же самое время от этого сооружения исходит ощущение теплоты. Сегодня такая конструкция является красивым декоративным украшением. Она при-дает более эстетичный вид вашему дому или квартире. Сооружение со стеклянными ступенями выглядит рос-кошно в качестве незаменимого дополнения к интерьеру в стилях урбанизма или хайтек.
						
						p Составные части Если в вашем частном доме имеется второй этаж, то планировать сооружение для спуска и подъема необходимо при проек-тировании целого строения, а не после, чтобы не при-шлось встраивать его в готовый интерьер. При этом по-требуется учитывать дизайн помещения, чтобы этот эле-мент стал неотъемлемой частью декора.
						
						.slider-wrap
							.main-slider.js-main-slider
								.slide(style="background-image: url('images/51.jpg')")
								.slide(style="background-image: url('images/52.jpg')")
								.slide(style="background-image: url('images/53.jpg')")
								.slide(style="background-image: url('images/54.jpg')")
								.slide(style="background-image: url('images/55.jpg')")
								
							.main-slider-nav.js-nav-slider
								.slide
									img(src="images/51.jpg", alt="")
								.slide
									img(src="images/52.jpg", alt="")
								.slide
									img(src="images/53.jpg", alt="")
								.slide
									img(src="images/54.jpg", alt="")
								.slide
									img(src="images/55.jpg", alt="")
								
		include ../blocks/contacts-section/contacts-section


block footer
	include ../blocks/footer/footer		