extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.breadCrumbs-section
			.container
				.breadCrumbs
					a(href="index.html").onmain На главную
					a(href="#") Главная
					a(href="#") Металлоконструкции
					a(href="#") Ёмкости из листового металла
		section.metal-content-section
			.container
				.metal-content
					.metal-nav
						.category-wrap
							.category-btn
								span
								span
								span
							h3 Категории
						.left-bar
							include ../blocks/bar-list/bar-list
					.right-content
						span.subtitle 09 > ВЕНТИЛЯЦИОННЫЕ СИСТЕМЫ И ВЕНТИЛЯЦИОННЫЕ КОРОБА ЛЮБОЙ СЛОЖНОСТИ
						h2.baner-title ВЕНТИЛЯЦИОННЫЕ СИСТЕМЫ И ВЕНТИЛЯЦИОННЫЕ КОРОБА ЛЮБОЙ СЛОЖНОСТИ
					
						p Воздуховоды соединяют все компоненты системы венти-ляции и вместе с фасонными изделиями (тройниками, поворотами, переходниками), решетками, клапанами и другими элементами образуют воздухораспределительную сеть.

						p Основными характеристиками воздуховодов являются площадь сечения, форма (круглая или прямоугольная) и жесткость (бывают жесткие, полугибкие и гибкие возду-ховоды).

						p Жесткие воздуховоды изготавливаются из оцинкованной жести и могут иметь круглую или прямоугольную форму.

						p Полугибкие и гибкие воздуховоды имеют круглую форму и изготавливаются из многослойной алюминиевой фоль-ги. Круглую форму этим воздуховодам придает каркас из свитой в спираль стальной проволоки. Такая конструкция удобна тем, что позволяет при монтаже изгибать возду-ховод произвольным образом, а при транспортировке — складывать «гармошкой».

						p Недостатком гибких воздухо-водов является более высокое аэродинамическое сопро-тивление, вызванное неровной внутренней поверхно-стью, поэтому их обычно используют на участках не-большой протяженности.
						
						.slider-wrap
							.main-slider.js-main-slider
								.slide(style="background-image: url('images/71.jpg')")
								.slide(style="background-image: url('images/72.jpg')")
								.slide(style="background-image: url('images/73.jpg')")
								.slide(style="background-image: url('images/74.jpg')")
								.slide(style="background-image: url('images/75.jpeg')")
								.slide(style="background-image: url('images/76.jpg')")
								.slide(style="background-image: url('images/77.jpg')")
								.slide(style="background-image: url('images/78.jpg')")
								
							.main-slider-nav.js-nav-slider
								.slide
									img(src="images/71.jpg", alt="")
								.slide
									img(src="images/72.jpg", alt="")
								.slide
									img(src="images/73.jpg", alt="")
								.slide
									img(src="images/74.jpg", alt="")
								.slide
									img(src="images/75.jpeg", alt="")
								.slide
									img(src="images/76.jpg", alt="")
								.slide
									img(src="images/77.jpg", alt="")
								.slide
									img(src="images/78.jpg", alt="")
								
		include ../blocks/contacts-section/contacts-section

block footer
	include ../blocks/footer/footer		