extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.breadCrumbs-section
			.container
				.breadCrumbs
					a(href="index.html").onmain На главную
					a(href="#") Главная
					a(href="#") Металлоконструкции
					a(href="#") Ёмкости из листового металла
		section.metal-content-section
			.container
				.metal-content
					.metal-nav
						.category-wrap
							.category-btn
								span
								span
								span
							h3 Категории
						.left-bar
							include ../blocks/bar-list/bar-list
					.right-content
						span.subtitle 03 > ЁМКОСТИ ИЗ ЛИСТОВОГО МЕТАЛЛА
						h2.baner-title ЁМКОСТИ ИЗ ЛИСТОВОГО МЕТАЛЛА
						
						p Емкости из металла применяются во многих отраслях промышленности, строительстве и быту для сада и дома. Основное же применение металлических баков заключается в накоплении и хранении требуемого объема воды, жидкостей и различных сыпучих материалов, для которых необходима герметичность.
						
						p Металлический бак обладает рядом преимуществ по отношению к пластиковой емкости. Емкость из стали не меняет своих свойств в больших диапазонах температур, не нуждается в защите от УФЛ, обладает огнестойкостью, долговечностью. На ней легко можно установить насос, миксер, нагревательные элементы или охлаждающие трубки. И самым главным критерием в пользу бака из металла является высокая прочность и ремонтопригодность. Ну и емкость металлическая значительно ниже в цене, чем бак из нержавейки.
						
						
						.slider-wrap
							.main-slider.js-main-slider
								.slide(style="background-image: url('images/img-11.jpg')")
								.slide(style="background-image: url('images/img-12.jpg')")
								.slide(style="background-image: url('images/img-13.jpg')")
								.slide(style="background-image: url('images/img-14.jpg')")
								.slide(style="background-image: url('images/img-15.jpg')")
								.slide(style="background-image: url('images/img-16.jpg')")
								.slide(style="background-image: url('images/img-17.jpg')")
								.slide(style="background-image: url('images/img-18.jpg')")
								
							.main-slider-nav.js-nav-slider
								.slide
									img(src="images/img-11.jpg", alt="")
								.slide
									img(src="images/img-12.jpg", alt="")
								.slide
									img(src="images/img-13.jpg", alt="")
								.slide
									img(src="images/img-14.jpg", alt="")
								.slide
									img(src="images/img-15.jpg", alt="")
								.slide
									img(src="images/img-16.jpg", alt="")
								.slide
									img(src="images/img-17.jpg", alt="")
								.slide
									img(src="images/img-18.jpg", alt="")
								
		include ../blocks/contacts-section/contacts-section

block footer
	include ../blocks/footer/footer		