extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.breadCrumbs-section
			.container
				.breadCrumbs
					a(href="index.html").onmain На главную
					a(href="#") Главная
					a(href="#") Металлоконструкции
					a(href="#") Ёмкости из листового металла
		section.metal-content-section
			.container
				.metal-content
					.metal-nav
						.category-wrap
							.category-btn
								span
								span
								span
							h3 Категории
						.left-bar
							include ../blocks/bar-list/bar-list
					.right-content
						span.subtitle 08 > КОНСТРУКТОР ДЛЯ ДЕТСКИХ ПЛОЩАДОК (ГОРКИ; КАЧЕЛИ; ЛЕСТНИЧНЫЕ СТЕНКИ И Т.Д.)
						h2.baner-title КОНСТРУКТОР ДЛЯ ДЕТСКИХ ПЛОЩАДОК (ГОРКИ; КАЧЕЛИ; ЛЕСТНИЧНЫЕ СТЕНКИ И Т.Д.)
						
						p Наша организация представляет огромный выбор обору-дования для детских и спортивных площадок, оборудова-ния для благоустройства дворовых территорий и обще-ственных мест отдыха.

						p Мы разрабатываем и производим площадки, нацеленные на развитие моторных и двига-тельных навыков. Наши комплексы вовлекают в актив-ную игру, заряжают уверенностью в себе и помогают де-тям общаться друг с другом.

						p А красочное покрытие из ре-зиновой крошки приносит радость и хорошее настроение в каждый двор!
						
						.slider-wrap
							.main-slider.js-main-slider
								.slide(style="background-image: url('images/61.jpg')")
								.slide(style="background-image: url('images/62.jpg')")
								.slide(style="background-image: url('images/63.jpg')")
								.slide(style="background-image: url('images/64.jpg')")
								.slide(style="background-image: url('images/65.jpg')")
								.slide(style="background-image: url('images/66.jpg')")

								
							.main-slider-nav.js-nav-slider
								.slide
									img(src="images/61.jpg", alt="")
								.slide
									img(src="images/62.jpg", alt="")
								.slide
									img(src="images/63.jpg", alt="")
								.slide
									img(src="images/64.jpg", alt="")
								.slide
									img(src="images/65.jpg", alt="")
								.slide
									img(src="images/66.jpg", alt="")
								
		include ../blocks/contacts-section/contacts-section

block footer
	include ../blocks/footer/footer		