extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.breadCrumbs-section
			.container
				.breadCrumbs
					a(href="index.html").onmain На главную
					a(href="#") Главная
					a(href="#") Металлоконструкции
					a(href="#") Ёмкости из листового металла
		
		section.metal-content-section
			.container
				.metal-content
					.metal-nav
						.category-wrap
							.category-btn
								span
								span
								span
							h3 Категории
						.left-bar
							include ../blocks/bar-list/bar-list
					.right-content
						span.subtitle 12 > КАМИНЫ МЕТАЛЛИЧЕСКИЕ ДИЗАЙНЕРСКИЕ
						h2.baner-title КАМИНЫ МЕТАЛЛИЧЕСКИЕ ДИЗАЙНЕРСКИЕ

						p Металлические камины стремительно завоевывают заслуженную по-пулярность у всех без исключения любителей современного дизайна и уютной, теплой атмосферы.

						p Инновационный внешний вид металлического камина дает возмож-ность распространить современное оформление на дизайн всего по-мещения. И раз уж в век высоких технологий на смену старым тра-дициям приходят совершенно новые, необычные и порой даже непо-нятные, самое время изучить их более пристально, чтобы использо-вать в решении своих интерьерных замыслов.

						p Если Ваше помещение оформлено в современном стиле, и вы хотите поддержать этот своеобразный уют, то для вас идеально подойдет дровяной камин с открытой топкой.

						p Если вы решили установить камин в доме уже после его постройки, то вам подойдет только металлический. Именно его опытные специа-листы без труда установят в уже готовом помещении, так как он не несет большой нагрузки на покрытие, таким образом, отбрасывая необходимость в преждевременной подготовке.

						p Металлический камин – это неисчерпаемый источник дизайнерской мысли. В данном плане оформляется и не подвергается скрытию даже дымоход, потому что он тоже выполнен из металла, а значит, иде-ально вписывается в интерьер. Однако самым главным преимуществом металлического камина явля-ется его способность отдавать тепло. Металл и нагревается гораздо быстрее камня, и отдает полученную энергию более интенсивно.

						p Наличие такого приспособления в вашем доме способствует не толь-ко подчеркиванию дизайна, но и увеличению уровня комфорта и уюта, так как всегда будет чувствоваться естественное тепло, получа-емое от древесины и передаваемое металлом.
						
						.slider-wrap
							.main-slider.js-main-slider
								.slide(style="background-image: url('images/101.jpg')")
								.slide(style="background-image: url('images/102.jpg')")
								.slide(style="background-image: url('images/103.jpg')")
								.slide(style="background-image: url('images/104.jpg')")
								.slide(style="background-image: url('images/105.jpg')")
								.slide(style="background-image: url('images/106.jpg')")
								.slide(style="background-image: url('images/107.jpg')")
								
							.main-slider-nav.js-nav-slider
								.slide
									img(src="images/101.jpg", alt="")
								.slide
									img(src="images/102.jpg", alt="")
								.slide
									img(src="images/103.jpg", alt="")
								.slide
									img(src="images/104.jpg", alt="")
								.slide
									img(src="images/105.jpg", alt="")
								.slide
									img(src="images/106.jpg", alt="")
								.slide
									img(src="images/107.jpg", alt="")
								
		include ../blocks/contacts-section/contacts-section

block footer
	include ../blocks/footer/footer		