footer.footer
	.container
		h2.section-title Contacts

		.footer-wrap
			.col.col_left
				.contact
					span Tel:
					a(href="tel:4905116767560") +49 (0)511-676756-0
				.contact
					span Email:
					a(href="mailto:info@sorst.de") info@sorst.de
				.footer-soc
					a(href="#").soc.soc_inst
					a(href="#").soc.soc_fb
					a(href="#").soc.soc_you

			.col.col_center
				a(href="#") Legal Notice
				a(href="#") Data Privacy Policy
				a(href="#") Terms and Conditions

			.col.col_right
				p 
					| Sorst Streckmetall GmbH
					br 
					| Wohlenbergstr. 11
					br
					| 30179 Hannover 

				a(href="#").main-btn.js-open-modal Connect with us

		.copyright-wrap
			span Copyright:xxxxxxxxxxxxxxxxx
			span Copyright photos: Sorst Streckmetall GmbH 
			span Liability

			.copyright-img
