extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.about-section
			.container-short
				h2.section-title О коллегии
				p Коллегия адвокатов «Титаренко, Руссков, Улымов» была создана в 2001 году и объединила судебных юристов, практикующих с 1995 года в области корпоративного права, судебной защиты в спорах по товарным знакам, в области ценных бумаг, вопросам трудового, административного права и в делах о защите интересов компаний по искам потребителей.
				p Судебное представительство является основной сферой деятельности нашей команды. Мы защищаем интересы наших клиентов в судах общей юрисдикции, арбитражных судах, а также в международных коммерческих арбитражных судах.
				p За последние 10 лет нашими адвокатами накоплен богатый опыт, позволяющий в судебном порядке решать сложные правовые вопросы. Мы хорошо знакомы с судебной практикой и вопросами правоприменения, что позволяет объективно оценивать перспективы судебных споров.
				p На протяжении многих лет мы имеем честь представлять интересы крупнейших мировых лидеров в области автомобилестроения, общественного питания, строительства и промышленного производства




block footer
	include ../blocks/footer/footer