extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.cases-section
			.container
				h2.section-title Кейсы
				.cases-content
					.content
						.case
							span.case__date Октябрь 2019
							span.case__name R. v. S.P.M. [Calgary Provincial Court]
							p.case__description The client was charged with numerous offences involving child pornography. The client was facing a three to four-year jail sentence and SOIRA order of 10 years.
							a(href="#").case__more Читать дальше
						.case
							span.case__date Октябрь 2019
							span.case__name R. v. S.P.M. [Calgary Provincial Court]
							p.case__description The client was charged with numerous offences involving child pornography. The client was facing a three to four-year jail sentence and SOIRA order of 10 years.
							a(href="#").case__more Читать дальше
						.case
							span.case__date Октябрь 2019
							span.case__name R. v. S.P.M. [Calgary Provincial Court]
							p.case__description The client was charged with numerous offences involving child pornography. The client was facing a three to four-year jail sentence and SOIRA order of 10 years.
							a(href="#").case__more Читать дальше
					.side-bar
						.bar
							.bar__top
								span.bar__title Наши адвокаты
							.bar__bot
								a(href="#").bar__item
									span Титаренко Максим
									span (36)
								a(href="#").bar__item
									span Руссков Сергей
									span (36)
								a(href="#").bar__item
									span Умылов Олег
									span (36)
								a(href="#").bar__item
									span Полетаев Илья
									span (36)
								a(href="#").bar__item
									span Шалимова Ирина
									span (36)
								a(href="#").bar__item
									span Марченко Татьяна
									span (36)
						.bar
							.bar__top
								span.bar__title Рубрикатор кейсов
							.bar__bot
								a(href="#").bar__item
									span Титаренко Максим
									span (36)
								a(href="#").bar__item
									span Руссков Сергей
									span (36)
								a(href="#").bar__item
									span Умылов Олег
									span (36)
								a(href="#").bar__item
									span Полетаев Илья
									span (36)
								a(href="#").bar__item
									span Шалимова Ирина
									span (36)
								a(href="#").bar__item
									span Марченко Татьяна
									span (36)
								a(href="#").bar__item
									span administrative offence cases
									span (36)
								a(href="#").bar__item
									span Марченко Татьяна
									span (36)
								a(href="#").bar__item
									span Марченко Татьяна
									span (36)
								a(href="#").bar__item
									span Марченко Татьяна
									span (36)
								a(href="#").bar__item
									span Марченко Татьяна
									span (36)
								a(href="#").bar__item
									span Марченко Татьяна
									span (36)
								a(href="#").bar__item
									span Марченко Татьяна
									span (36)
						.bar
							.bar__bot
								span.bar__title.bar__title_grey Контактная информация
								a(href="mailto:max@titarenko.ru").bar__mail max@titarenko.ru
								a(href="tel:+74999403363").bar__phone +7 499 940-33-63

block footer
	include ../blocks/footer/footer