extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.field-section
			.container
				h2.section-title Области практики
				.field-wrap
					
					



block footer
	include ../blocks/footer/footer