extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.field-section
			.container
				h2.section-title Области практики
				.field-wrap

					.practice
						h4 Споры о возврате/замене технически сложных товаров
						h5 Профессиональная компетенция:
						p С 2007 года наша команда представляет в судах интересы 5 крупнейших мировых автопроизводителей из Германии, Японии, Южной Кореи и Швеции, а также ведущих игроков на рынке розничной продажи автомобилей
						h5 Минимизация убытков продавца (импортера, изготовителя) в случае возврата технически сложного товара:
						p Ужесточение законодательства в области защиты прав потребителей технически сложных товаров повышает риски взыскания кратной стоимости товаров и существенным убыткам продавца (импортера, изготовителя). Многолетний опыт и знание судебной практики по данной категории дел позволяют нам избежать или существенно снизить убытки в случае возврата товара.

					.practice
						h4 Споры о возмещении вреда, возникшего в результате продажи некачественного товара
						p С 2007 года наша команда представляет в судах интересы 5 крупнейших мировых автопроизводителей из Германии, Японии, Южной Кореи и Швеции, а также ведущих игроков на рынке розничной продажи автомобилей

					.practice
						h4 Cпоры о возмещении вреда здоровью
						p С 2007 года наша команда представляет в судах интересы 5 крупнейших мировых автопроизводителей из Германии, Японии, Южной Кореи и Швеции, а также ведущих игроков на рынке розничной продажи автомобилей

					.practice
						h4 Трудовые споры
						p С 2007 года наша команда представляет в судах интересы 5 крупнейших мировых автопроизводителей из Германии, Японии, Южной Кореи и Швеции, а также ведущих игроков на рынке розничной продажи автомобилей

					.practice
						h4 Договорные и коммерческие споры
						p С 2007 года наша команда представляет в судах интересы 5 крупнейших мировых автопроизводителей из Германии, Японии, Южной Кореи и Швеции, а также ведущих игроков на рынке розничной продажи автомобилей

					.practice
						h4 Административные споры
						p С 2007 года наша команда представляет в судах интересы 5 крупнейших мировых автопроизводителей из Германии, Японии, Южной Кореи и Швеции, а также ведущих игроков на рынке розничной продажи автомобилей

					.practice
						h4 Вексельные споры
						p С 2007 года наша команда представляет в судах интересы 5 крупнейших мировых автопроизводителей из Германии, Японии, Южной Кореи и Швеции, а также ведущих игроков на рынке розничной продажи автомобилей


block footer
	include ../blocks/footer/footer