.tabs {
	margin-bottom: 20px;

	&__list {
		display: flex;
		justify-content: center;
		margin: 50px 0;
	}

	&__btn {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 254px;
		height: 98px;
		border: 1px solid #dddddd;
		opacity: .6;
		cursor: pointer;

		&_maser {
			border-radius: 7px 0 0 7px;
		}

		&_salon {
			border-radius: 0 7px 7px 0;
		}

		&.active {
			opacity: 1;
			background-color: #eef2ff;
		}
	}

	&__name {
		color: #981b6c;
		text-align: center;
		font-size: 17px;
		font-weight: 400;
		letter-spacing: 0.68px;
	}

	&__img {

	}

	&__content {
		display: none;

		&.active {
			display: block;
		}
	}
}

.tab-row {
	display: flex;
	margin: 0 -35px;

	.tab-col {
		width: 50%;
		padding: 0 35px;
		display: flex;
		flex-direction: column;
	}

	.rating-filter {
		margin: 0 0 24px auto;
	}

	.select {
		min-width: 110px;
	}
	
}

.schedule-content {

	.schedule-border {
		height: 6px;
		box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.76);
		background-color: #c4c1c1;
	}

	.schedule-name {
		color: #adadad;
		font-size: 27px;
		font-weight: 500;
		line-height: 28px;
		letter-spacing: 2.7px;
		text-align: center;
		margin: 12px 0;
	}

	.schedule-wrap {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		height: 368px;
		margin-bottom: 30px;
	}

	.schedule-col {
		flex: none;
		text-align: center;
		width: 45px;
		box-shadow: 3px 3px 9px 1px rgba(0, 0, 0, 0.79);
		margin: 0 17px;
		position: relative;

		span {
			position: absolute;
			left: 50%;
			bottom: 10px;
			transform: translateX(-50%);
			color: #ffffff;
			font-size: 22px;
			font-weight: 400;
			letter-spacing: 1.32px;
		}

		&.active {
			box-shadow: 0 2px 7px 6px rgba(27, 115, 119, 0.53);
		}

		&.crimson {
			background-color: #981b6c;
		}

		&.violet {
			background-color: #5e2a4c;
		}

		&.cream {
			background-color: #9d7e92;
		}

		&.green {
			background-color: #1b7377;
		}

		&.pink {
			background-color: #b74c91;
		}

		&.fill-50 {
			height: 50%;
		}

		&.fill-100 {
			height: 100%;
		}

		&.fill-80 {
			height: 80%;
		}

		&.fill-75 {
			height: 75%;
		}
	}
}

