extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.menu-section
			.container
				ul.product-menu
					li
						a(href="#") Все изделия
					li
						a(href="#") Женское
					li
						a(href="#") Мужское
					li
						a(href="#").active Сумки
					li
						a(href="#") Рюкзаки
					li
						a(href="#") Кошельки
					li
						a(href="#") Аксессуары
					li
						a(href="#") Сертификаты
					li
						a(href="#") Уход
					li.purple
						a(href="#") Распродажа
					li
						a(href="#") Архив моделей
		section.basket-section
			.container
				h2.basket-title Корзина
				.basket-wrap
					.basket-header.border
						span.prod-width Товар
						span.name-width Описание
						span.avai-width Наличие
						span.price-width Цена за единицу
						span.count-width Кол-во
						span.count-width Всего
					
					.basket-row.border
						.basket-img
							img(src="images/13.jpg", alt="")
						.basket-info
							.basket-product
								.basket-name-wrap.name-width
									span.basket-name Alford винный Vintage
									span.basket-sub-name Подкладка №44

								span.availability.avai-width В наличии

								span.basket-price.price-width 10800 руб

								form(action="#").priceForm.count-width
									
									.priceForm__counter
										label.priceForm__arrow.priceForm__minus#minus
											input(type="button")
										input#quantity(type="number" value="1" name="quantity" readonly)
										label.priceForm__arrow.priceForm__plus#plus
											input(type="button")
									.priceForm__field
										span#total-price
										strong.skuBestPrice 10800
										span.priceForm__currency руб

								.basket-remove

							.basket-product
								.basket-name-wrap.name-width
									span.basket-sub-name Дополнительный карман на подкладку

								span.availability.avai-width

								span.basket-price.price-width 

								.price-form.count-width
									span 380 руб

								.basket-remove 

					.basket-row.border
						.basket-img
							img(src="images/1.jpg", alt="")
						.basket-info
							.basket-product
								.basket-name-wrap.name-width
									span.basket-name Тиснение инициалов:
										span.initial happy

								span.availability.avai-width

								span.basket-price.price-width 

								.price-form.count-width
									span 200 руб

								.basket-remove 
						
					.basket-row.border
						.basket-img
							img(src="images/m1.jpg", alt="")
						.basket-info
							.basket-product
								.basket-name-wrap.name-width
									span.basket-name Картхолдер коричневый Vintage

								span.availability.avai-width 

								span.basket-price.price-width 650 руб

								form(action="#").priceForm.count-width

								.basket-remove
					
					.all-prise
						span Всего товаров
						span 13950 руб

					.basket-details
						.certificate-wrap
							span Подарочный сертификат
							form(action="#").certificate-form
								input(type="text")
								button(type="submit") Добавить

						.stock-wrap
							.stock-row
								span Cкидка
								span 520 руб
							.stock-row
								span.all-stock Итого
								span 13430 руб

					.basket-nav
						a(href="#").left-arrow Продолжить покупки
						a(href="#").right-arrow Указать адресс доставки

	include ../blocks/modal/modal
	