extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.menu-section
			.container
				ul.product-menu
					li
						a(href="#") Все изделия
					li
						a(href="#") Женское
					li
						a(href="#") Мужское
					li
						a(href="#").active Сумки
					li
						a(href="#") Рюкзаки
					li
						a(href="#") Кошельки
					li
						a(href="#") Аксессуары
					li
						a(href="#") Сертификаты
					li
						a(href="#") Уход
					li
						a(href="#") Распродажа
					li
						a(href="#") Архив моделей

		section.filter-section
			.container
				.left-bar
					form(action="#").search-form
						.search-form__wrap
							input(type="text" placeholder="Поиск...").search-form__input

					.filter
						span.mob-filter.js-mob-filter Фильтр+
						form(action="#").filter-form.js-filter-form
							.filter-form__wrap
								span.filter-form__filter-name.js-filter-name Все
								.filter-form__filter-ul
									.filter-form__filter-field
										input(type="checkbox" id="f1" name="" value="").filter-form__input
										label(for="f1").filter-form__label Портфели
										input(type="checkbox" id="f2" name="" value="").filter-form__input
										label(for="f2").filter-form__label Для ноутбука
										input(type="checkbox" id="f3" name="" value="").filter-form__input
										label(for="f3").filter-form__label Кросс-боди
										input(type="checkbox" id="f4" name="" value="").filter-form__input
										label(for="f4").filter-form__label Поясные 
										input(type="checkbox" id="f5" name="" value="").filter-form__input
										label(for="f5").filter-form__label Дорожные 
										input(type="checkbox" id="f6" name="" value="").filter-form__input
										label(for="f6").filter-form__label Тоут
										input(type="checkbox" id="f7" name="" value="").filter-form__input
										label(for="f7").filter-form__label Планшеты
										input(type="checkbox" id="f8" name="" value="").filter-form__input
										label(for="f8").filter-form__label Шопперы
										input(type="checkbox" id="f9" name="" value="").filter-form__input
										label(for="f9").filter-form__label Сумки с ручками

								span.filter-form__filter-name.js-filter-name Цена
								.filter-form__filter-ul
									.range-slider-wrap.underline
										.extra-controls.form-inline
											.form-group
												div.form-group-col
													input(type="text" value="0").js-input-from.form-control
													span руб.
												div.form-group-col
													input(type="text" value="0").js-input-to.form-control
													span руб.
										.range-slider
											input(type="text" value="").js-range-slider
										
									
								span.filter-form__filter-name.js-filter-name Цвет
								.filter-form__filter-ul
									.filter-form__filter-field
										input(type="checkbox" id="c1" name="" value="").filter-form__input
										label(for="c1").filter-form__label Черный 
										input(type="checkbox" id="c2" name="" value="").filter-form__input
										label(for="c2").filter-form__label Алый
										input(type="checkbox" id="c3" name="" value="").filter-form__input
										label(for="c3").filter-form__label Пыльно-серый
										input(type="checkbox" id="c4" name="" value="").filter-form__input
										label(for="c4").filter-form__label Измурудный
										input(type="checkbox" id="c5" name="" value="").filter-form__input
										label(for="c5").filter-form__label Винный
										input(type="checkbox" id="c6" name="" value="").filter-form__input
										label(for="c6").filter-form__label Коричневый
										input(type="checkbox" id="c7" name="" value="").filter-form__input
										label(for="c7").filter-form__label Коньячный
										input(type="checkbox" id="c8" name="" value="").filter-form__input
										label(for="c8").filter-form__label Синий
										input(type="checkbox" id="c9" name="" value="").filter-form__input
										label(for="c9").filter-form__label Морская волна

								span.filter-form__filter-name.js-filter-name Пол
								.filter-form__filter-ul
									.filter-form__filter-field
										input(type="checkbox" id="g1" name="" value="").filter-form__input
										label(for="g1").filter-form__label Mужской 
										input(type="checkbox" id="g2" name="" value="").filter-form__input
										label(for="g2").filter-form__label Женский 

								span.filter-form__filter-name.js-filter-name Материал
								.filter-form__filter-ul
									.filter-form__filter-field
										input(type="checkbox" id="m1" name="" value="").filter-form__input
										label(for="m1").filter-form__label Материал 1
										input(type="checkbox" id="m2" name="" value="").filter-form__input
										label(for="m2").filter-form__label Материал 2
				
				.filter-results
					a(href="#").product-link
						.product-link__wrap
							img(src="images/1.jpg", alt="")
							.product-link__bottom
								.product-link__info
									span.product-link__name Allford
									span.product-link__price 10800 руб
								span.product-link__color + цвета
					a(href="#").product-link
						.product-link__wrap
							img(src="images/2.png", alt="")
							.product-link__bottom
								.product-link__info
									span.product-link__name Allford
									span.product-link__price 10800 руб
								span.product-link__color + цвета
					a(href="#").product-link
						.product-link__wrap
							img(src="images/3.png", alt="")
							.product-link__bottom
								.product-link__info
									span.product-link__name Allford
									span.product-link__price 10800 руб
								span.product-link__color + цвета
					a(href="#").product-link
						.product-link__wrap
							img(src="images/4.png", alt="")
							.product-link__bottom
								.product-link__info
									span.product-link__name Allford
									span.product-link__price 10800 руб
								span.product-link__color + цвета
					a(href="#").product-link
						.product-link__wrap
							img(src="images/5.png", alt="")
							.product-link__bottom
								.product-link__info
									span.product-link__name Allford
									span.product-link__price 10800 руб
								span.product-link__color + цвета
					a(href="#").product-link
						.product-link__wrap
							img(src="images/3.png", alt="")
							.product-link__bottom
								.product-link__info
									span.product-link__name Allford
									span.product-link__price 10800 руб
								span.product-link__color + цвета
					a(href="#").product-link
						.product-link__wrap
							img(src="images/2.png", alt="")
							.product-link__bottom
								.product-link__info
									span.product-link__name Allford
									span.product-link__price 10800 руб
								span.product-link__color + цвета
					a(href="#").product-link
						.product-link__wrap
							img(src="images/3.png", alt="")
							.product-link__bottom
								.product-link__info
									span.product-link__name Allford
									span.product-link__price 10800 руб
								span.product-link__color + цвета
					a(href="#").product-link
						.product-link__wrap
							img(src="images/4.png", alt="")
							.product-link__bottom
								.product-link__info
									span.product-link__name Allford
									span.product-link__price 10800 руб
								span.product-link__color + цвета


block footer
	include ../blocks/footer/footer