@keyframes animation {
	0%{
		transform: translate(0, 200px);
		opacity: 0;
	}

	100%{
		transform: translate(0, 0);
		opacity: 1;
	}
}

.mov {
	opacity: 0;
	&.anim {
		animation-name: animation;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}
}
