footer.footer
	.container
		a(href="tel:+79638888880").tel +7-963-888-8880
		.list-wrap
			ul.list
				li
					a(href="#") О нас
				li
					a(href="#") О коже
				li
					a(href="#") Палитра
				li
					a(href="#") Материалы
				li
					a(href="#") Персонализация
				li
					a(href="#") Корпоративные заказы
			ul.list
				li
					a(href="#") Отзывы
				li
					a(href="#") Доставка
				li
					a(href="#") Оплата
				li
					a(href="#") Гарантии
				li
					a(href="#") Возврат
				li
					a(href="#") Частые вопросы
			ul.list
				li
					a(href="#") Контакты
				li
					a(href="#") Реквизиты
				li
					a(href="#") Публичная оферта
				li
					a(href="#") Политика конфеденциальности
			.soc-links
				a(href="#").inst
				a(href="#").fb
				a(href="#").vk