.intro-slider {
	position: relative;
	.slick-dots {
		bottom: 30px;
		left: 50%;
		transform: translateX(-50%);
		@media screen and (min-width: 768px) {
			right: 40px;
			left: auto;
			transform: translateX(0);
		}
		li {
			&.slick-active{
			}
		}
	}
}

.product-images-slider {
	.slick-dots {
		left: 50%;
		transform: translateX(-50%);
	}
}

.product-slider {
	position: relative;

	.slick-dots {
		bottom: -30px;
		left: 50%;
		transform: translateX(-50%);
		@media screen and (min-width: 768px) {
			transform: translateX(0);
			bottom: 0;
			left: 65%;
		}
	}

	.slick-dots {
		
	}
}

.slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	li {
		font-size: 0;
		position: relative;
		margin: 0 2px;
		width: 10px;
		height: 10px;
		background-color: #606060;
		border-radius: 50%;
		cursor: pointer;
		margin: 0 8px;
		@media screen and (min-width: 768px) {
			width: 20px;
			height: 20px;
		}
		@media screen and (min-width: 1600px) {
			width: 30px;
			height: 30px;
			margin: 0 30px 0 0;
		}
		// &.slick-active{
		// 	background-color: #000;
		// 	box-shadow: 0px 1px 5px #000;
		// }
	}
}

.my-navigation {
	display: flex;
	align-items: center;
	justify-content: center;

	.slick-dots {
		display: flex;
		justify-content: center;
		margin: 0 10px;
		li {
			font-size: 0;
			position: relative;
			margin: 0 2px;
			width: 30px;
			height: 30px;
			background-color: #606060;
			cursor: pointer;
			@media screen and (min-width: 768px) {
				margin: 0 9px;
			}

			// &.slick-active,
			// &:hover {
			// 	width: 12px;
			// 	height: 12px;
			// 	box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.35);
			// 	background-color: #11055a;
			// }
		}
	}

	.btn-slide {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.08);
		border: 1px solid #ebebeb;
		background-color: #ffffff;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 8px;
			height: 8px;
			border-top: 2px solid red;
			border-right: 2px solid red;
		}
	}

	.prev {
		&:before {
			transform: translate(-50%, -50%) rotate(-135deg);
		}
	}

	.next {
		&:before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
	}
}