.mask

.modal-wrap
	.modal.js-lider-modal
		.img-abs.img-abs_top
			img(src="images/atr.png", alt="")
		.img-abs.img-abs_bottom
			img(src="images/atr2.png", alt="")
		.modal__wrap
			.modal__head
				span Выбрать сервис
				p Выберите сервис для просмотра рйтинга по данному сервису.
			ul.modal-list
				li Эпиляция
				li.active Аппаратная косметология
				li Спа-процедуры
				li Косметологические услуги
				li Пластическая хирургия
				li Косметические процедуры
				li Солярий

			.modal-slider.js-modal-slider
				a(href="#").slide
					.slide-img
						img(src="images/slide1.png", alt="")
					span Мезотерапия
				a(href="#").slide
					.slide-img
						img(src="images/slide2.png", alt="")
					span Ультразвуковая терапия
				a(href="#").slide
					.slide-img
						img(src="images/slide3.png", alt="")
					span биоревитализация
				a(href="#").slide
					.slide-img
						img(src="images/slide4.png", alt="")
					span Криотерапия
				a(href="#").slide
					.slide-img
						img(src="images/slide2.png", alt="")
					span биоревитализация
				a(href="#").slide
					.slide-img
						img(src="images/slide3.png", alt="")
					span Криотерапия

			ul.modal-list
				li Пилинг
				li Коррекция фигуры и снижение веса
				li Массаж
				li Маникюр
				li Педикюр
				li.active Услуги стилиста
				li Татуировки
				li Магазин

			.modal-slider.js-modal-slider
				a(href="#").slide
					.slide-img
						img(src="images/slide1.png", alt="")
					span Мезотерапия
				a(href="#").slide
					.slide-img
						img(src="images/slide2.png", alt="")
					span Ультразвуковая терапия
				a(href="#").slide
					.slide-img
						img(src="images/slide3.png", alt="")
					span биоревитализация
				a(href="#").slide
					.slide-img
						img(src="images/slide4.png", alt="")
					span Криотерапия
				a(href="#").slide
					.slide-img
						img(src="images/slide2.png", alt="")
					span биоревитализация
				a(href="#").slide
					.slide-img
						img(src="images/slide3.png", alt="")
					span Криотерапия


			.modal__footer
