.main-title {

}

.section-title {
	position: relative;
	font-weight: 600;
	font-size: 22px;
	line-height: 28px;
	color: #333333;
	display: inline-block;
	margin-bottom: 40px;
	@media screen and (min-width: 768px) {
		margin-bottom: 60px;
	}
	@media screen and (min-width: 1024px) {
		margin-bottom: 80px;
	}

	&_white {
		color: #fff;
		&:before {
			background: #42DFBF !important;
		}

		mark {
			color: #42DFBF;
		}
	}

	&:before {
		content: '';
		position: absolute;
		top: 14px;
		right: -98px;
		width: 78px;
		height: 2px;
		background: #4E37B2;
		border-radius: 5px;
	}
}