footer.footer
	.top-foot
		.container
			.foot-block
				span.foot-title КОНТАКТЫ
				.foot-wrap
					p.address 121087, Москва, ул. Барклая, д. 6, стр. 25, офис 5-12, Бизнес центр «Бастион
					ul
						li
							a(href="tel:+74999403363").foot-tel +7 499 940-33-63
						li
							a(href="mailto:max@titarenko.ru").foot-mail max@titarenko.ru
							span.schedule С понедельника по пятницу с 9:00 до 18:00
			.foot-block
				span.foot-title ОБЛАСТИ ПРАКТИКИ
				.foot-wrap
					ul.list
						li Споры о возврате/замене технически сложных товаров
						li Споры о возмещении вреда, возникшего в результате продажи некачественного товара
						li Споры о возмещении вреда здоровью
					ul.list
						li Трудовые споры
						li Договорные/коммерческие споры
						li Административные споры
						li Вексельные споры
	.bot-foot
		.container
			p © 2019 Титаренко, Руссков, Улымов. Все права защищены.