.footer {
	
	.top-foot {
		padding: 40px 0 0;

		@media screen and (min-width: 768px) {
			padding: 45px 0 60px;
		}
		.container {
			display: flex;
			flex-direction: column;
			@media screen and (min-width: 600px) {
				flex-direction: row;
				justify-content: space-between;
			}
		}
	}

	.foot-block {
		margin-bottom: 30px;
		@media screen and (min-width: 600px) {
			width: 47%;
		}
	}

	.foot-wrap {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		font-weight: 400;
		font-size: 14px;
		color: #666666;

		ul {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		li {
			display: flex;
			flex-direction: column;
		}

		a {
			border-bottom: 1px solid transparent;
			&:hover {
				border-bottom: 1px solid #666666;
			}
		}
	}

	.foot-mail {
		font-weight: 400;
		font-size: 14px;
		color: #666666;
		margin-bottom: 20px;
		line-height: 20px;
	}

	.foot-tel {
		font-size: 14px;
		line-height: 20px;
		color: #666666;
		font-weight: 700;
	}

	.schedule {
		width: 215px;
		line-height: 20px;
	}

	.address {
		width: 240px;
		margin-bottom: 20px;
		margin-right: 20px;
		line-height: 20px;
	}

	.list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-right: 20px;
		@media screen and (min-width: 600px) {
			max-width: 255px;
		}
		li {
			margin-bottom: 20px;
		}
		a {
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: #666666;
			border-bottom: 1px solid transparent;
			&:hover {
				border-bottom: 1px solid #666666;
			}
		}
	}

	.bot-foot {
		background-color: #27303d;
		padding: 25px 0;
		p {
			font-weight: 500;
			font-size: 14px;
			color: #ffffff;
		}
	}
}